<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Master</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Master Company</span>
      </div>
      <div class="h1 mt-16">Master Company List</div>
    </div>
  </div>
  <div class="course" class="page-layout blank p-24" fusePerfectScrollbar>

    <!-- <h2>{{course?.description}}</h2>

    <img class="course-thumbnail" [src]="course?.iconUrl"> -->

    <mat-input-container>
      <input matInput placeholder="Search company" #filter>
    </mat-input-container>

    <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div> -->

    <!-- <div align="right" style="padding-right: 5px;"> -->
      <button mat-raised-button style="background-color:#4286f4;color: #fff;"
      [routerLink]="'/apps/master/mcompany/create'">Tambah Data Baru</button>
    <!-- </div> -->

    <div content-card mat-white-bg>
      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="regno" matSortDirection="asc"
        matSortDisableClear>

        <ng-container>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Company ID</mat-header-cell>
          <mat-cell *matCellDef="let company">{{company.companyId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>
          <mat-cell *matCellDef="let company; let i=index">{{ i+1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>
          <mat-cell *matCellDef="let company">{{company.companyName}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Tipe</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let company">{{company.companyTypeName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="group">
          <mat-header-cell *matHeaderCellDef>Group</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let company">{{company.companyGroupName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="subgroup">
          <mat-header-cell *matHeaderCellDef>Sub Group</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let company">{{company.companySubgroupName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="marketer">
          <mat-header-cell *matHeaderCellDef>Marketer</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let company">{{company.marketerName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="active">
          <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let company">{{company.active}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let company; columns: displayedColumns" [routerLink]="'/apps/master/mcompany/'+ company.companyId + '/edit'"
          (click)="onRowClicked(company)">
        </mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="dataSource?.totalData" (page)="pageEvent = $event"></mat-paginator>

    </div>

  </div>
</div>
