<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Result Non Lab</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Result Non Lab</span>
      </div>
      <div class="h1 mt-16">Result Non Lab</div>
    </div>
  </div>
  <div class="course" class="page-layout blank p-24" fusePerfectScrollbar>

    <!-- <h2>{{course?.description}}</h2>

    <img class="course-thumbnail" [src]="course?.iconUrl"> -->

    <mat-input-container>

      <input matInput placeholder="Search" #filter>

    </mat-input-container>

    <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">

        <mat-spinner></mat-spinner>

    </div> -->
    <div content-card mat-white-bg>

      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="regno" matSortDirection="asc"
        matSortDisableClear>

        <ng-container>

            <mat-header-cell *matHeaderCellDef mat-sort-header>Instrument Id</mat-header-cell>

            <mat-cell *matCellDef="let instrument">{{instrument.instrumentId}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="instrumentName">

          <mat-header-cell *matHeaderCellDef mat-sort-header>Instrument Name</mat-header-cell>

          <mat-cell *matCellDef="let instrument">{{instrument.instrumentName}}</mat-cell>

        </ng-container>


        <ng-container matColumnDef="instrumentCatName">

          <mat-header-cell *matHeaderCellDef>Instrument Category Name</mat-header-cell>

          <mat-cell class="description-cell" *matCellDef="let instrument">{{instrument.instrumentCatName}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="testMethodName">

            <mat-header-cell *matHeaderCellDef>Test Method Name</mat-header-cell>
  
            <mat-cell class="description-cell" *matCellDef="let instrument">{{instrument.testMethodName}}</mat-cell>
  
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let instrument; columns: displayedColumns" [routerLink]="'/apps/analysis_non_lab/result_instrument_nl/'+ instrument.instrumentId +'/'+ instrument.testMethodId + '/' + instrument.instrumentName"
          (click)="onRowClicked(instrument)">
        </mat-row>

      </mat-table>


      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="dataSource?.totalData" (page)="pageEvent = $event"></mat-paginator>

    </div>

  </div>
</div>
