<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Master</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Master Physician</span>
      </div>
      <div class="h1 mt-16">Master Physician List</div>
    </div>
  </div>
  <div class="course" class="page-layout blank p-24" fusePerfectScrollbar>

    <!-- <h2>{{course?.description}}</h2>

    <img class="course-thumbnail" [src]="course?.iconUrl"> -->

    <mat-input-container>
      <input matInput placeholder="Search Physician" #filter>
    </mat-input-container>

    <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div> -->

    <!-- <div align="right" style="padding-right: 5px;"> -->
      <button mat-raised-button style="background-color:#4286f4;color: #fff;"
      [routerLink]="'/apps/master/mphysician/create'">Tambah Data Baru</button>
    <!-- </div> -->

    <div content-card mat-white-bg>
      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="regno" matSortDirection="asc"
        matSortDisableClear>

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>
          <mat-cell *matCellDef="let doctor; let i=index">{{ i+1 }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="doctorId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let doctor">{{doctor.doctorId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="doctorName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>
          <mat-cell *matCellDef="let doctor">{{doctor.doctorName}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="sex">
          <mat-header-cell *matHeaderCellDef>Jenis Kelamin</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.sex}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dob">
          <mat-header-cell *matHeaderCellDef>Tanggal Lahir</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.dob}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nip">
          <mat-header-cell *matHeaderCellDef>NIP</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.nip}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="specialtyName">
          <mat-header-cell *matHeaderCellDef>Spesialisasi</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.specialtyName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="marketer">
          <mat-header-cell *matHeaderCellDef>Marketer</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.marketer}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let doctor; columns: displayedColumns" [routerLink]="'/apps/master/mphysician/'+ doctor.doctorId + '/edit'"
          (click)="onRowClicked(doctor)">
        </mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="dataSource?.totalData" (page)="pageEvent = $event"></mat-paginator>

    </div>

  </div>
</div>
