<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-teal-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Specimen Non Lab</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Specimen Handling Non Lab</span>
      </div>
      <div class="h1 mt-16">Specimen Handling Non Lab</div>
    </div>
  </div>
  <div class="course" class="page-layout blank p-24" fusePerfectScrollbar>

    <!-- <h2>{{course?.description}}</h2>

  <img class="course-thumbnail" [src]="course?.iconUrl"> -->

    <mat-input-container>
      <input matInput placeholder="Search" #filter>
    </mat-input-container>

    <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
  </div> -->

    <div content-card mat-white-bg style="width: 150%">
      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="regno" matSortDirection="asc"
        matSortDisableClear>

        <ng-container>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Print</mat-header-cell>
          <mat-cell *matCellDef="let specimen">
            <button mat-raised-button style="background-color:red;color: #fff" [disabled]="clickPrint" onclick="printZPL();">Print</button>
          </mat-cell>
        </ng-container>

        <ng-container>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Detil</mat-header-cell>
            <mat-cell *matCellDef="let specimen">
              <button mat-raised-button style="background-color:blue;color: #fff" [routerLink]="'/apps/specimen_non_lab/specimen_handling_nl/'+ specimen.regid + '/' + specimen.regNo + '/' + specimen.regDate + '/' + specimen.patientName">Detil</button>
            </mat-cell>
          </ng-container>

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
          <mat-cell *matCellDef="let specimen; let i=index">{{ i+1 }}</mat-cell>
        </ng-container>

        <ng-container>
          <mat-header-cell *matHeaderCellDef mat-sort-header>Reg ID</mat-header-cell>
          <mat-cell *matCellDef="let specimen">{{specimen.regid}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="regno">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Reg No.</mat-header-cell>
          <mat-cell *matCellDef="let specimen">{{specimen.regNo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="patientno">
          <mat-header-cell *matHeaderCellDef>Pasien ID</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let specimen">{{specimen.patientNO}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="patientname">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let specimen">{{specimen.patientName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="patientgender">
          <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let specimen">{{specimen.patientGender}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="patientage">
          <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let specimen">{{specimen.patientAge}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="patientdob">
          <mat-header-cell *matHeaderCellDef>DOB</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let specimen">{{specimen.patientDOB}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="patientresult">
          <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let specimen">{{specimen.patientResult}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="regdate">
          <mat-header-cell *matHeaderCellDef>Reg Date</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let specimen">{{specimen.regDate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="company">
          <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let specimen">{{specimen.company}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cito">
          <mat-header-cell *matHeaderCellDef>Cito</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let specimen">{{specimen.cito}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let specimen">{{specimen.status}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let specimen; columns: displayedColumns" [routerLink]="'/apps/specimen_non_lab/specimen_handling_nl/'+ specimen.regid + '/' + specimen.regNo + '/' + specimen.regDate + '/' + specimen.patientName"
          (click)="onRowClicked(specimen)">
        </mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="dataSource?.totalData"
                     (page)="pageEvent = $event"></mat-paginator>

    </div>

  </div>
</div>
