<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Result</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Result Handling</span>
      </div>
      <div class="h3 mt-10">
        Result Handling Detail Lab
        <br>
        Name : {{ createData?.patientName }}
        <br>
        Id : {{ createData?.patientID }}
        <br>
        Age : {{ age }}
      </div>
    </div>
  </div>
  <div id="product" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->

    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

      <!-- HEADER -->
      <div class="header black" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center" style="padding: 5px;">

          <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/result/result_handling_pasien'">
            <mat-icon>arrow_back</mat-icon>Back To Result Handling Pasien List
          </button>

        </div>

        <div align="center">
            <h2 *ngIf="successMessage" style="background-color: #4286f4; padding: 15px; color:#fff; border-radius: 25px;">Success !</h2>
            <h2 *ngIf="errorMessage" style="background-color:darkred; padding: 15px; color:#fff; border-radius: 25px;">Error !</h2>
        </div>

        <div align="right" style="padding-right: 5px;">
          <button mat-raised-button style="background-color:#4286f4;color: #fff" (click)="submitRh(data)">Submit</button>
          <button mat-raised-button style="background-color:#4286f4;color: #fff;margin-left: 10px;" type="button" (click)="gotoResult()">Result</button>
        </div>

        <!-- / APP TITLE -->

        <!-- <button mat-raised-button
                    class="save-product-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>SAVE</span>
            </button> -->
      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div content-card mat-white-bg class="page-layout blank p-24" >
        <mat-tab-group class="mat-elevation-z8">
            <mat-tab label="item">
              <div class="content-card mat-white-bg" style="width: 300%;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceItem" matSort matSortActive="id" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="testname">

                      <mat-header-cell *matHeaderCellDef>Test Name</mat-header-cell>
  
                      <mat-cell class="description-cell" *matCellDef="let item">{{item.testName}}</mat-cell>
  
                    </ng-container>

                    <ng-container matColumnDef="cito">
  
                        <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">
                          <mat-checkbox [checked]="item.cito" disabled></mat-checkbox>
                          <!-- {{item.cito}} -->
                        </mat-cell>
    
                    </ng-container>

                    <ng-container matColumnDef="unit">
  
                        <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.unit}}</mat-cell>
    
                    </ng-container>
  
                    <ng-container matColumnDef="result">
    
                        <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item; let c = index">
                          <form>
                            <mat-form-field>
                              <input matInput (input)="result($event.target.value, c)"/>
                            </mat-form-field>
                          </form>
                        </mat-cell>
    
                    </ng-container>
  
                    <ng-container matColumnDef="resultComment">
  
                        <mat-header-cell *matHeaderCellDef>Result Comment</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item; let b = index">
                          <form>
                            <mat-form-field>
                              <input matInput (input)="comment($event.target.value, b)"/>
                            </mat-form-field>
                          </form>
                        </mat-cell>
    
                    </ng-container>

                    <ng-container matColumnDef="verification">
  
                        <mat-header-cell *matHeaderCellDef (click)="clickAllVerify()"><span matTooltip="Klik tulisan untuk check/uncheck semua verification">Verification</span></mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item; let a = index">
                          <mat-checkbox [checked]="item.verification" (change)="verify($event.checked, a)"></mat-checkbox>
                        </mat-cell>
    
                      </ng-container>

                      <ng-container matColumnDef="verificationDate">
  
                          <mat-header-cell *matHeaderCellDef>Verification Date</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.verificationDate}}</mat-cell>
      
                      </ng-container>
      
                      <ng-container matColumnDef="verificationUser">
    
                        <mat-header-cell *matHeaderCellDef>Verification User</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.verificationUser}}</mat-cell>
    
                      </ng-container>
  
                    <ng-container matColumnDef="resultINP">
  
                        <mat-header-cell *matHeaderCellDef>ResultINP</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">
                          <mat-checkbox [checked]="item.resultINP" disabled></mat-checkbox>
                        </mat-cell>
    
                    </ng-container>

                    <ng-container matColumnDef="resultINPDate">
  
                        <mat-header-cell *matHeaderCellDef>Result INP Date</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.resultINPDate}}</mat-cell>
    
                    </ng-container>
    
                    <ng-container matColumnDef="resultINPUser">
  
                      <mat-header-cell *matHeaderCellDef>Result INP User</mat-header-cell>
  
                      <mat-cell class="description-cell" *matCellDef="let item">{{item.resultINPUser}}</mat-cell>
  
                    </ng-container>

                    <ng-container matColumnDef="process">
  
                        <mat-header-cell *matHeaderCellDef>Proc</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">
                          <mat-checkbox [checked]="item.process" disabled></mat-checkbox>
                        </mat-cell>
    
                    </ng-container>

                    <ng-container matColumnDef="processDate">
  
                        <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.processDate}}</mat-cell>
    
                    </ng-container>
    
                    <ng-container matColumnDef="processUser">
  
                      <mat-header-cell *matHeaderCellDef>Process User</mat-header-cell>
  
                      <mat-cell class="description-cell" *matCellDef="let item">{{item.processUser}}</mat-cell>
  
                    </ng-container>

                    <ng-container matColumnDef="auth">
  
                        <mat-header-cell *matHeaderCellDef (click)="clickAllAuth()"><span matTooltip="Klik tulisan untuk check/uncheck semua auth!">Authorize</span></mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item; let f = index">
                          <mat-checkbox [checked]="item.auth" (change)="auth($event.checked, f)"></mat-checkbox>
                        </mat-cell>
    
                    </ng-container>
  
                    <ng-container matColumnDef="authDate">
  
                      <mat-header-cell *matHeaderCellDef>Auth Date</mat-header-cell>
  
                      <mat-cell class="description-cell" *matCellDef="let item">{{item.authDate}}</mat-cell>
  
                    </ng-container>
  
                    <ng-container matColumnDef="authUser">
  
                      <mat-header-cell *matHeaderCellDef>Auth User</mat-header-cell>
  
                      <mat-cell class="description-cell" *matCellDef="let item">{{item.authUser}}</mat-cell>
  
                    </ng-container>

                    <ng-container matColumnDef="schedule">
  
                        <mat-header-cell *matHeaderCellDef>Schedule</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.schedule}}</mat-cell>
    
                    </ng-container>
  
                    <ng-container matColumnDef="scheduleDateTime">
  
                      <mat-header-cell *matHeaderCellDef>Schedule Date Time</mat-header-cell>
  
                      <mat-cell class="description-cell" *matCellDef="let item">{{item.scheduleDateTime}}</mat-cell>
  
                    </ng-container>

                    <ng-container matColumnDef="resultSI">
  
                        <mat-header-cell *matHeaderCellDef>Result SI</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.resultSI}}</mat-cell>
    
                    </ng-container>
  
                    <ng-container matColumnDef="formatSI">
  
                        <mat-header-cell *matHeaderCellDef>Format SI</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.formatSI}}</mat-cell>
    
                    </ng-container>

                    <ng-container matColumnDef="format">
  
                        <mat-header-cell *matHeaderCellDef>Format</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.format}}</mat-cell>
    
                    </ng-container>

                    <ng-container matColumnDef="rawResult">
  
                        <mat-header-cell *matHeaderCellDef>Raw Result</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.rawResult}}</mat-cell>
    
                    </ng-container>

                    <ng-container matColumnDef="testGroupName">
  
                        <mat-header-cell *matHeaderCellDef>Test Group Name</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.testGroupName}}</mat-cell>
    
                    </ng-container>
                    
  
                    <ng-container matColumnDef="instrumentName">
  
                      <mat-header-cell *matHeaderCellDef>Instrument</mat-header-cell>
  
                      <mat-cell class="description-cell" *matCellDef="let item">{{item.instrumentName}}</mat-cell>
  
                    </ng-container>

                    <ng-container matColumnDef="reference">
  
                        <mat-header-cell *matHeaderCellDef>Reference</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.reference}}</mat-cell>
    
                    </ng-container>
  
                    <ng-container matColumnDef="PRN">
  
                        <mat-header-cell *matHeaderCellDef (click)="clickAllPrn()"><span matTooltip="Klik tulisan untuk check/uncheck semua prn!">PRN</span></mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item; let d = index">
                          <mat-checkbox [checked]="item.PRN" (change)="prn($event.checked, d)"></mat-checkbox>
                        </mat-cell>
    
                    </ng-container>

                    <ng-container matColumnDef="analysisResultReference">
  
                        <mat-header-cell *matHeaderCellDef>Analysis Result Ref</mat-header-cell>
    
                        <mat-cell class="description-cell" *matCellDef="let item">{{item.analysisResultReference}}</mat-cell>
    
                      </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsItem"></mat-header-row>

                  <mat-row *matRowDef="let item; columns: displayedColumnsItem">
                  </mat-row>

                </mat-table>
              </div>
            </mat-tab>
            <mat-tab label="RH">
                <div class="content-card mat-white-bg">
                    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceRh" matSort matSortActive="id" matSortDirection="asc"
                      matSortDisableClear>

                      <ng-container matColumnDef="doctor_id">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Doctor Id</mat-header-cell>

                        <mat-cell *matCellDef="let rh">{{rh.doctor_id}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="n">

                        <mat-header-cell *matHeaderCellDef>N</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let rh">{{rh.n}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="action">

                        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let rh">{{rh.action}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="to">

                          <mat-header-cell *matHeaderCellDef>To/By</mat-header-cell>
  
                          <mat-cell class="description-cell" *matCellDef="let rh">{{rh.to}}</mat-cell>
  
                      </ng-container>

                      <ng-container matColumnDef="format">

                          <mat-header-cell *matHeaderCellDef>Format</mat-header-cell>
  
                          <mat-cell class="description-cell" *matCellDef="let rh">{{rh.format}}</mat-cell>
  
                      </ng-container>

                      <ng-container matColumnDef="auth_date">

                          <mat-header-cell *matHeaderCellDef>Auth Date</mat-header-cell>
  
                          <mat-cell class="description-cell" *matCellDef="let status">{{status.authDate}}</mat-cell>
  
                      </ng-container>

                      <ng-container matColumnDef="rh_id">

                          <mat-header-cell *matHeaderCellDef>Rh_id</mat-header-cell>
  
                          <mat-cell class="description-cell" *matCellDef="let rh">{{rh.rh_id}}</mat-cell>
  
                      </ng-container>

                      <ng-container matColumnDef="rh_nam">

                        <mat-header-cell *matHeaderCellDef>Rh_nam</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let rh">{{rh.rh_nam}}</mat-cell>

                      </ng-container>

                    <ng-container matColumnDef="officer">

                      <mat-header-cell *matHeaderCellDef (click)="clickAllOfficer()"><span matTooltip="Klik tulisan untuk check/uncheck semua Officer">Officer</span></mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh; let x = index">
                        <mat-checkbox [checked]="rh.officer" (change)="clickOfficer($event.checked, x)"></mat-checkbox>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="customer_name">

                      <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh">{{rh.customer_name}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="custom">

                      <mat-header-cell *matHeaderCellDef (click)="clickAllCustom()"><span matTooltip="Klik tulisan untuk check/uncheck semua custom">Custom</span></mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh; let y = index">
                        <mat-checkbox [checked]="rh.custom" (change)="clickCustom($event.checked, y)"></mat-checkbox>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="received">

                      <mat-header-cell *matHeaderCellDef (click)="clickAllRe()"><span matTooltip="Klik tulisan untuk check/uncheck semua received">Received</span></mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh; let a = index">
                        <mat-checkbox [checked]="rh.received" (change)="clickRe($event.checked, a)"></mat-checkbox>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="submitted">

                      <mat-header-cell *matHeaderCellDef (click)="clickAllSub()"><span matTooltip="Klik tulisan untuk check/uncheck semua submitted">Submitted</span></mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh; let c = index">
                        <mat-checkbox [checked]="rh.submitted" (change)="clickSub($event.checked, c)"></mat-checkbox>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="doctor">

                      <mat-header-cell *matHeaderCellDef>Doctor</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh">{{rh.doctor}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="submitted_date">

                      <mat-header-cell *matHeaderCellDef>Submitted Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh">{{rh.submitted_date}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="submitted_user">

                      <mat-header-cell *matHeaderCellDef>Submitted User</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh">{{rh.submitted_user}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="received_date">

                      <mat-header-cell *matHeaderCellDef>Received Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh">{{rh.received_date}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="received_user">

                      <mat-header-cell *matHeaderCellDef>Received User</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh">{{rh.received_user}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="officer_date">

                      <mat-header-cell *matHeaderCellDef>Officer Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh">{{rh.officer_date}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="officer_user">

                      <mat-header-cell *matHeaderCellDef>Officer User</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh">{{rh.officer_user}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="customer_date">

                      <mat-header-cell *matHeaderCellDef>Customer Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh">{{rh.customer_date}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="customer_user">

                      <mat-header-cell *matHeaderCellDef>Customer User</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let rh">{{rh.customer_user}}</mat-cell>

                    </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumnsRh"></mat-header-row>

                      <mat-row *matRowDef="let rh; columns: displayedColumnsRh">
                      </mat-row>

                    </mat-table>
      
      
                  </div>
            </mat-tab>
            
            <mat-tab label="Address RH">
                <div class="content-card mat-white-bg" style="width: 150%;">
                  <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceItem" matSort matSortActive="id" matSortDirection="asc"
                    matSortDisableClear>

                    <ng-container matColumnDef="id">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>

                      <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>

                    </ng-container>


                    <ng-container matColumnDef="name">

                      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.name}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="process">

                      <mat-header-cell *matHeaderCellDef>Process</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">
                        <mat-slide-toggle [checked]="item.process" ></mat-slide-toggle>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="processdate">

                      <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">
                        <input [value]="item.processDate"/>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="priority">

                      <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.priority}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schedule">

                      <mat-header-cell *matHeaderCellDef>Schedule</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schedule}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schDate">

                      <mat-header-cell *matHeaderCellDef>sch Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schDate}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schTime">

                      <mat-header-cell *matHeaderCellDef>sch Time</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schTime}}</mat-cell>

                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumnsItem"></mat-header-row>

                    <mat-row *matRowDef="let item; columns: displayedColumnsItem">
                    </mat-row>

                  </mat-table> -->
              </div>
            </mat-tab>
            <mat-tab label="Msg">
                <div class="content-card mat-white-bg" style="width: 150%;">
                  <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceItem" matSort matSortActive="id" matSortDirection="asc"
                    matSortDisableClear>

                    <ng-container matColumnDef="id">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>

                      <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>

                    </ng-container>


                    <ng-container matColumnDef="name">

                      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.name}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="process">

                      <mat-header-cell *matHeaderCellDef>Process</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">
                        <mat-slide-toggle [checked]="item.process" ></mat-slide-toggle>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="processdate">

                      <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">
                        <input [value]="item.processDate"/>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="priority">

                      <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.priority}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schedule">

                      <mat-header-cell *matHeaderCellDef>Schedule</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schedule}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schDate">

                      <mat-header-cell *matHeaderCellDef>sch Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schDate}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schTime">

                      <mat-header-cell *matHeaderCellDef>sch Time</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schTime}}</mat-cell>

                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumnsItem"></mat-header-row>

                    <mat-row *matRowDef="let item; columns: displayedColumnsItem">
                    </mat-row>

                  </mat-table> -->
                </div>
            </mat-tab>
        </mat-tab-group>
        <br>
        <!-- CONTENT -->
        <mat-tab-group class="mat-elevation-z8">
          
          <mat-tab label="Condition">
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="question" matSortDirection="asc"
                matSortDisableClear>

                <ng-container matColumnDef="question">

                  <mat-header-cell *matHeaderCellDef mat-sort-header>Question</mat-header-cell>

                  <mat-cell *matCellDef="let detCond">{{detCond.question}}</mat-cell>

                </ng-container>


                <ng-container matColumnDef="answer">

                  <mat-header-cell *matHeaderCellDef>Answer</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.answer}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="note">

                  <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.note}}</mat-cell>

                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let detCond; columns: displayedColumns">
                </mat-row>

              </mat-table>

          </mat-tab>
          <mat-tab label="Patient Note">
              <form style="padding: 10px;">
                <div>
                  <mat-form-field fxFlex="100">
                    <textarea matInput placeholder="Catatan pasien" [value]="createData?.patientNote" readonly></textarea>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field fxFlex="30">
                    <input matInput placeholder="Nama Pasien" [value]="createData?.patientName" readonly>
                  </mat-form-field>
                  <!-- <div fxFlex="5"></div>
                  <mat-form-field fxFlex="30">
                    <input matInput placeholder="Date" [value]="createData?.regDate" readonly>
                  </mat-form-field> -->
                  <div fxFlex="5"></div>
                  <mat-form-field fxFlex="30">
                    <input matInput placeholder="Id Pasien" [value]="createData?.patientID" readonly>
                  </mat-form-field>
                </div>
              </form>
          </mat-tab>
          <mat-tab label="Physician Note">
              <form style="padding: 10px;">
                <div>
                  <mat-form-field fxFlex="100">
                    <textarea matInput placeholder="Catatan Physician" [value]="createData?.doctornote" readonly></textarea>
                  </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="30">
                        <input matInput placeholder="Physician" [value]="createData?.doctorName" readonly>
                    </mat-form-field>
                    <!-- <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="User" readonly>
                    </mat-form-field>
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Date" [value]="createData?.regDate" readonly>
                    </mat-form-field> -->
                    
                </div>
              </form>
          </mat-tab>
          <mat-tab label="Referral Note">
              <form  style="padding: 10px;">
                <div>
                  <mat-form-field fxFlex="100">
                    <textarea matInput placeholder="Catatan Referral" [value]="createData?.referalNote"></textarea>
                  </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="30">
                        <input matInput placeholder="Company" [value]="createData?.referalCompanyName" readonly>
                    </mat-form-field>
                    <!-- <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="User" readonly>
                    </mat-form-field>
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Date" [value]="createData?.regDate" readonly>
                    </mat-form-field> -->
                    
                </div>
              </form>
          </mat-tab>
          <mat-tab label="Lab Note">
            <div style="padding: 10px;">
              <h3 mat-subHeader>Note History</h3>
              <div>
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceLabNote" matSort matSortActive="schedule" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container>

                    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.registerId}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="no">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>
  
                      <mat-cell *matCellDef="let noteLab; let i = index">{{ i + 1}}</mat-cell>
  
                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>

                    <mat-cell *matCellDef="let noteLab">{{noteLab.labNote}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="user">

                    <mat-header-cell *matHeaderCellDef>User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.user}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="date">

                    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.date}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsNoteLab"></mat-header-row>

                  <mat-row *matRowDef="let noteLab; columns: displayedColumnsNoteLab">
                  </mat-row>

                </mat-table>
              </div>
              <mat-divider></mat-divider>
              <h3 mat-subHeader>Tambah Note</h3>
              <div>
                <form [formGroup]="labNoteGroup" #formCtrlLabNote="ngForm">
                    <div formArrayName="labNotes">
                        <div *ngFor="let labnote of labNoteGroup.controls.labNotes['controls']; let i = index">
                          <div [formGroupName]="i">
                            <mat-form-field fxFlex="50">
                              <textarea matInput placeholder="Lab Note" style="text-transform: uppercase;" formControlName="LabNote"></textarea>
                            </mat-form-field>
                            <div fxFlex="5"></div>
                            <mat-form-field fxFlex="20">
                              <input matInput placeholder="User" formControlName="user" >
                            </mat-form-field>
                            <div fxFlex="2"></div>
                            <button mat-icon-button color="warn" (click)="deleteNoteValue(i)">
                              <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
                            </button>
                          </div>
                        </div>
                    </div>
                    <button mat-raised-button color="primary" (click)="addNoteValue()">Add</button>
                </form>
                
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Schedule">
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSch" matSort matSortActive="schedule" matSortDirection="asc"
                matSortDisableClear>

                <ng-container matColumnDef="schedule">

                  <mat-header-cell *matHeaderCellDef mat-sort-header>Schedule</mat-header-cell>

                  <mat-cell *matCellDef="let detSch">{{detSch.schedule}}</mat-cell>

                </ng-container>


                <ng-container matColumnDef="test">

                  <mat-header-cell *matHeaderCellDef>Test</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.test}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="day">

                  <mat-header-cell *matHeaderCellDef>Day</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.day}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="time">

                  <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.time}}</mat-cell>

                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>

                <mat-row *matRowDef="let detSch; columns: displayedColumns2">
                </mat-row>

              </mat-table>

          </mat-tab>
          <mat-tab label="Physician">
              <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceDoctor" matSort matSortActive="doctorname" matSortDirection="asc"
                matSortDisableClear>

                <ng-container matColumnDef="doctorname">

                  <mat-header-cell *matHeaderCellDef mat-sort-header>Doctor Name</mat-header-cell>

                  <mat-cell *matCellDef="let doctor">{{doctor.doctorName}}</mat-cell>

                </ng-container>


                <ng-container matColumnDef="addressname">

                  <mat-header-cell *matHeaderCellDef>Address Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.addressName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="addressloc">

                  <mat-header-cell *matHeaderCellDef>Address Location</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.addressLocation}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="cityname">

                  <mat-header-cell *matHeaderCellDef>City Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.cityName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="formtypename">

                  <mat-header-cell *matHeaderCellDef>Form Type</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.formTypeName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="specialityname">

                  <mat-header-cell *matHeaderCellDef>Speciality Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.specialityName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="doctoraddressid">

                  <mat-header-cell *matHeaderCellDef>Doctor Address Id</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.doctorAddressId}}</mat-cell>

                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsDoctor"></mat-header-row>

                <mat-row *matRowDef="let doctor; columns: displayedColumnsDoctor">
                </mat-row>

              </mat-table> -->
              <form style="padding: 10px;">
                  <div>
                    <mat-form-field fxFlex="20">
                      <input matInput placeholder="gelar depan" [value]="doctor?.frontTitle" readonly/>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input matInput placeholder="Nama Dokter" [value]="doctor?.doctorName" readonly/>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input matInput placeholder="gelar belakang" [value]="doctor?.endTitle" readonly/>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="20">
                      <input matInput placeholder="Nama Alamat" [value]="doctor?.addressName" readonly/>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input matInput placeholder="Lokasi" [value]="doctor?.addressLocation" readonly/>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input matInput placeholder="Kota" [value]="doctor?.cityName" readonly/>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Form" [value]="doctor?.formTypeName" readonly/>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Speciality" [value]="doctor?.specialtyName" readonly/>
                    </mat-form-field>
                  </div>
                  <!-- <div>
                  <mat-form-field fxFlex="50">
                    <input matInput placeholder="Id Alamat" [value]="doctor?.doctorAddressId"/>
                  </mat-form-field>
                </div> -->
                </form>
          </mat-tab>
        </mat-tab-group>
        <!-- / CONTENT -->



      </div>
      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
  </div>
</div>
