<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
    <!-- HEADER -->
    <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center start">
        <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="secondary-text s-16">home</mat-icon>
          <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
          <span class="secondary-text">Customer Relationship</span>
          <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
          <span class="secondary-text">Registration List</span>
        </div>
        <div class="h1 mt-16">Registration List Detail</div>
      </div>
    </div>
<div id="product" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div>

        <!-- HEADER -->
        <div class="header black" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/cust/reg_list'">
                    <mat-icon>arrow_back</mat-icon>Back To Registration List
                </button>
            </div>
            <!-- <div align="right" style="padding-right: 5px;">
              <button mat-raised-button style="background-color:#4286f4;color: #fff" (click)="submitRegPayment(data)">Submit</button>
            </div> -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class=" mat-white-bg" style="display: block !important;">
          <mat-tab-group>
            <!-- CONTENT -->
            <mat-tab label = "Histori Data Pasien">

              <div class="p-16 line-height-1.75">
                <div>
                  <mat-form-field fxFlex="50">
                    <input matInput placeholder="Register No" [value]="paymentReg?.registerNo" readonly>
                  </mat-form-field>
                  <div fxFlex="2"></div>
                  <mat-form-field fxFlex="50">
                      <input matInput placeholder="Register ID" [value]="paymentReg?.registerId" readonly>
                    </mat-form-field>
                </div>
                <div>
                  <mat-form-field fxFlex="50">
                    <input matInput placeholder="Pasien ID" [value]="paymentReg?.pasienId" readonly>
                  </mat-form-field>
                  <div fxFlex="2"></div>
                  <mat-form-field fxFlex="50">
                      <input matInput placeholder="Nama Pasien" [value]="paymentReg?.pasienName" readonly>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex="50">
                      <input matInput placeholder="Tempat Lahir" [value]="paymentReg?.pasienTempatLahir" readonly>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="50">
                      <input matInput placeholder="Umur" [value]="paymentReg?.pasientUmur" readonly>
                    </mat-form-field>
                </div>
                <br>
                <mat-tab-group>
                  <mat-tab label="Alamat">
                    <div style="width: 100%">
                      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceAddress"
                      matSort matSortActive="addressname" matSortDirection="asc" matSortDisableClear >

                          <ng-container>

                              <mat-header-cell *matHeaderCellDef mat-sort-header>Addres Id</mat-header-cell>

                              <mat-cell *matCellDef="let address">{{address.addressLocationID}}</mat-cell>

                          </ng-container>

                          <ng-container matColumnDef="addressloc">

                              <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>

                              <mat-cell *matCellDef="let address">{{address.addressLocation}}</mat-cell>

                          </ng-container>

                          <ng-container matColumnDef="addressname">

                              <mat-header-cell *matHeaderCellDef mat-sort-header>Nama Alamat</mat-header-cell>

                              <mat-cell *matCellDef="let address">{{address.addressName}}</mat-cell>

                          </ng-container>

                          <ng-container matColumnDef="addresstype">

                              <mat-header-cell *matHeaderCellDef>Tipe</mat-header-cell>

                              <mat-cell class="description-cell"
                                      *matCellDef="let address" >{{address.addressType}}</mat-cell>

                          </ng-container>

                          <ng-container matColumnDef="addresscity">

                              <mat-header-cell *matHeaderCellDef>Kota</mat-header-cell>

                              <mat-cell class="description-cell"
                                      *matCellDef="let address" >{{address.addressCity}}</mat-cell>

                          </ng-container>

                          <ng-container matColumnDef="postcode">

                              <mat-header-cell *matHeaderCellDef>Post Code</mat-header-cell>

                              <mat-cell class="description-cell"
                                      *matCellDef="let address" >{{address.addressPostCode}}</mat-cell>

                          </ng-container>

                          <ng-container matColumnDef="phone">

                              <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>

                              <mat-cell class="description-cell"
                                      *matCellDef="let address" >{{address.addressPhone}}</mat-cell>

                          </ng-container>

                          <ng-container matColumnDef="fax">

                              <mat-header-cell *matHeaderCellDef>Fax</mat-header-cell>

                              <mat-cell class="description-cell"
                                      *matCellDef="let address" >{{address.addressFax}}</mat-cell>

                          </ng-container>


                          <mat-header-row *matHeaderRowDef="displayedColumnsAddress"></mat-header-row>

                          <mat-row *matRowDef="let address; columns: displayedColumnsAddress">
                          </mat-row>

                        </mat-table>
                    </div>
                  </mat-tab>
                  <mat-tab label="Kontak">
                    <div style="width: 100%">
                      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceContact"
                                 matSort matSortActive="messangerType" matSortDirection="asc" matSortDisableClear>

                        <!-- <ng-container matColumnDef="patientName">

                          <mat-header-cell *matHeaderCellDef mat-sort-header>Nama Pasien</mat-header-cell>

                          <mat-cell *matCellDef="let cont">{{cont.patientName}}</mat-cell>

                        </ng-container> -->


                        <ng-container matColumnDef="messangerType">

                          <mat-header-cell *matHeaderCellDef>Tipe kontak</mat-header-cell>

                          <mat-cell class="description-cell"
                                    *matCellDef="let cont">{{cont.messangerType}}</mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="messangerName">

                          <mat-header-cell *matHeaderCellDef>Nama kontak</mat-header-cell>

                          <mat-cell class="description-cell"
                                    *matCellDef="let cont">{{cont.messangerName}}</mat-cell>

                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumnsContact"></mat-header-row>

                        <mat-row *matRowDef="let cont; columns: displayedColumnsContact">
                        </mat-row>

                      </mat-table>
                      </div>
                  </mat-tab>
                </mat-tab-group>
              </div>

            </mat-tab>
            <mat-tab label="Histori Tes">
              <div class="p-16 line-height-1.75">
                <div style="width: 100%">
                    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceTest"
                    matSort matSortActive="testname" matSortDirection="asc" matSortDisableClear >

                        <ng-container>

                            <mat-header-cell *matHeaderCellDef mat-sort-header>Test ID</mat-header-cell>

                            <mat-cell *matCellDef="let test">{{test.testID}}</mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="testname">

                            <mat-header-cell *matHeaderCellDef mat-sort-header>Nama Tes</mat-header-cell>

                            <mat-cell *matCellDef="let test">{{test.testName}}</mat-cell>

                        </ng-container>


                        <!-- <ng-container matColumnDef="testprice">

                            <mat-header-cell *matHeaderCellDef>Harga</mat-header-cell>

                            <mat-cell class="description-cell"
                                    *matCellDef="let test" >{{test.testPrice}}</mat-cell>

                        </ng-container> -->

                        <ng-container matColumnDef="testcategory">

                            <mat-header-cell *matHeaderCellDef>Kategori</mat-header-cell>

                            <mat-cell class="description-cell"
                                    *matCellDef="let test" >{{test.testCategory}}</mat-cell>

                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumnsTest"></mat-header-row>

                        <mat-row *matRowDef="let test; columns: displayedColumnsTest">
                        </mat-row>

                    </mat-table>
                </div>
              </div>
            </mat-tab>
            <!--<mat-tab label="Histori pembayaran">
                <div class="p-16 line-height-1.75">
                    <div style="width: 100%">
                        <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourcePayment"
                        matSort matSortActive="paymentto" matSortDirection="asc" matSortDisableClear >

                            <ng-container >

                                <mat-header-cell *matHeaderCellDef mat-sort-header>Payment To ID</mat-header-cell>

                                <mat-cell *matCellDef="let pay">{{pay.payToId}}</mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="paymentto">

                                <mat-header-cell *matHeaderCellDef mat-sort-header>Payment To</mat-header-cell>

                                <mat-cell *matCellDef="let pay">{{pay.payToName}}</mat-cell>

                            </ng-container>

                            <ng-container >

                                <mat-header-cell *matHeaderCellDef mat-sort-header>Card</mat-header-cell>

                                <mat-cell *matCellDef="let pay">{{pay.payCardId}}</mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="paymentcard">

                                <mat-header-cell *matHeaderCellDef mat-sort-header>Card</mat-header-cell>

                                <mat-cell *matCellDef="let pay">{{pay.payCardName}}</mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="paymentcardno">

                                <mat-header-cell *matHeaderCellDef mat-sort-header>Card No</mat-header-cell>

                                <mat-cell *matCellDef="let pay">{{pay.paymentCardNo}}</mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="paymentapprovalcode">

                                <mat-header-cell *matHeaderCellDef mat-sort-header>Approval Code</mat-header-cell>

                                <mat-cell *matCellDef="let pay">{{pay.paymentApprovalCode}}</mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="paymenttracecode">

                                <mat-header-cell *matHeaderCellDef mat-sort-header>Trace Code</mat-header-cell>

                                <mat-cell *matCellDef="let pay">{{pay.paymentTraceCode}}</mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="nominal">

                                <mat-header-cell *matHeaderCellDef mat-sort-header>Nominal</mat-header-cell>

                                <mat-cell *matCellDef="let pay">{{pay.paymentNominal}}</mat-cell>

                            </ng-container>

                            <ng-container matColumnDef="paidamount">

                                <mat-header-cell *matHeaderCellDef mat-sort-header>Paid Amount</mat-header-cell>

                                <mat-cell *matCellDef="let pay">{{pay.paidAmount}}</mat-cell>

                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumnsPayment"></mat-header-row>

                            <mat-row *matRowDef="let pay; columns: displayedColumnsPayment">
                            </mat-row>

                          </mat-table>
                        </div>
                        <mat-list>
                          <mat-list-item>Total Nominal: {{paymentReg?.paymentNominal}} </mat-list-item>
                          <mat-list-item>Total Pembayaran: {{paymentReg?.paymentTotal}}</mat-list-item>
                          <mat-list-item>Sisa Tanggungan: {{paymentReg?.paymentSisaTanggungan}}</mat-list-item>
                        </mat-list>
                        <div>
                          <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="Catatan" [value]="paymentReg?.paymentNote" readonly></textarea>
                          </mat-form-field>
                        </div>
                  </div>
            </mat-tab>-->
            <mat-tab label="Histori pembayaran">
              <div class="p-16 line-height-1.75">
                <div style="width: 100%">
                  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourcePayment"
                             matSort matSortActive="paymentto" matSortDirection="asc" matSortDisableClear>

                    <ng-container>

                      <mat-header-cell *matHeaderCellDef mat-sort-header>Payment To ID</mat-header-cell>

                      <mat-cell *matCellDef="let pay">{{pay.payToId}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="paymentto">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>Payment To</mat-header-cell>

                      <mat-cell *matCellDef="let pay">{{pay.payToName}}</mat-cell>

                    </ng-container>

                    <ng-container>

                      <mat-header-cell *matHeaderCellDef mat-sort-header>Card</mat-header-cell>

                      <mat-cell *matCellDef="let pay">{{pay.payCardId}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="paymentcard">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>Card</mat-header-cell>

                      <mat-cell *matCellDef="let pay">{{pay.payCardName}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="paymentcardno">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>Card No</mat-header-cell>

                      <mat-cell *matCellDef="let pay">{{pay.paymentCardNO}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="paymentapprovalcode">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>Approval Code</mat-header-cell>

                      <mat-cell *matCellDef="let pay">{{pay.paymentApprovalCode}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="paymenttracecode">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>Trace Code</mat-header-cell>

                      <mat-cell *matCellDef="let pay">{{pay.paymentTraceCode}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="nominal">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>Nominal</mat-header-cell>

                      <mat-cell *matCellDef="let pay">{{pay.paymentNominal | number}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="paidamount">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>Paid Amount</mat-header-cell>

                      <mat-cell *matCellDef="let pay">{{pay.paidAmount | number}}</mat-cell>

                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumnsPayment"></mat-header-row>

                    <mat-row *matRowDef="let pay; columns: displayedColumnsPayment">
                    </mat-row>

                  </mat-table>
                </div>
                <form [formGroup]="payment" #formPayment="ngForm">
                  <mat-card>
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image">
                        <mat-icon>payment</mat-icon>
                      </div>
                      <mat-card-title>Pembayaran</mat-card-title>
                    </mat-card-header>
                    <div formArrayName="paymentViewModel">
                      <div *ngFor="let payments of payment.controls.paymentViewModel['controls']; let i = index">
                        <div [formGroupName]="i">

                          <div fxFlex="20">
                            <label style="font-size: 10px;">Pay To</label>
                            <ng-select [items]="payBanks" bindLabel="payToName" bindValue="payToId"
                                       placeholder="Pilih bank" [typeahead]="typeahead" [addTag]="true"
                                       formControlName="payToId" (click)="onfilledBank($event)" (focus)="onfilledBank($event)"
                                       (change)="onChangeBanks(i,$event)">
                              <ng-template ng-option-tmp let-item="item">
                                {{item.payToName}}
                              </ng-template>
                            </ng-select>
                          </div>
                          <div fxFlex="2"></div>
                          <div fxFlex="20">
                            <label style="font-size: 10px;">Pay Card</label>
                            <ng-select [items]="payCards" bindLabel="payCardName" bindValue="payCardId"
                                       placeholder="Pilih kartu" [typeahead]="typeahead" [addTag]="true" (click)="onfilledCard($event)"
                                       (focus)="onfilledCard($event)"  formControlName="payCardId">
                              <ng-template ng-option-tmp let-item="item">
                                {{item.payCardName}}
                              </ng-template>
                            </ng-select>
                          </div>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="10">
                            <input matInput placeholder="Nomor Kartu"
                                   formControlName="paymentCardNO"
                                   pattern="[0-9]*"
                                   [readonly]="(payments.controls.payToId.value == 01)"
                                   [required]="!(payments.controls.payToId.value == 01)">

                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="10">
                            <input matInput
                                   placeholder="Approval Code"
                                   formControlName="paymentApprovalCode"
                                   [readonly]="(payments.controls.payToId.value == 01)"
                                   [required]="!(payments.controls.payToId.value == 01)">
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="10">
                            <input matInput
                                   placeholder="Trace Code"
                                   formControlName="paymentTraceCode"
                                   [readonly]="(payments.controls.payToId.value == 01)"
                                   [required]="!(payments.controls.payToId.value == 01)">
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="10">
                            <input matInput placeholder="Payment"
                                   formControlName="paidAmount"
                                   id="payment"
                                   pattern="[0-9]*"
                                   minlength="4"
                                   maxlength="12" 
                                   (input)="paymentcek(i,$event.target.value,$event)"
                                   required>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="10">
                            <input matInput placeholder="Nominal"
                                   formControlName="paymentNominal"
                                   id="paymentNominal"
                                   pattern="[0-9]*"
                                   minlength="4"
                                   maxlength="12"
                                   (input)="calculatePayment(i,$event.target.value,$event)" required>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <button mat-icon-button color="warn" (click)="deletePaymentValue(i)">
                            <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                  <button mat-raised-button color="primary" (click)="addPaymentValue()">Add</button>
                  <br>
                  <br>
                  <div style="text-align: right;">
                    <div>
                      <mat-form-field fxFlex="100">
                        <form>
                          <input matInput placeholder="Jumlah nominal" name="totalPayment" appMycurrency
                                 [ngModel]="totalPayment" (ngModelChange)="totalPayment=$event" readonly />
                        </form>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field fxFlex="100">
                        <input matInput placeholder="Total yang harus dibayar" formControlName="paymentTotal" [ngModel]="paymentTotal" (ngModelChange)="paymentTotal=$event" appMycurrency
                               id="paymentTotal" readonly />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field fxFlex="100">
                        <input matInput placeholder="Sisa Tanggungan" formControlName="paymentSisaTanggungan"
                               id="paymentSisaTanggungan" [ngModel]="paymentSisaTanggungan" (ngModelChange)="paymentSisaTanggungan=$event" appMycurrency readonly />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field fxFlex="100">
                        <input matInput placeholder="Kelebihan Bayar" formControlName="paymentKelebihanBayar"
                               id="paymentKelebihanBayar" [ngModel]="paymentKelebihanBayar" (ngModelChange)="paymentKelebihanBayar=$event" appMycurrency readonly />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field fxFlex="100">
                        <textarea matInput placeholder="Catatan" formControlName="paymentNote"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <pre>{{formPayment.value | json}}</pre> -->
                  <div class="pt-24" fxLayout="row" fxLayoutAlign="start start">
                    <button id="finish" mat-raised-button type="button" color="warn" [disabled]="!formPayment.form.valid"
                            (click)="submitRegPayment(data)">
                      Submit
                    </button>
                  </div>
                </form>
                <!-- {{ payment.value | json }} -->
              </div>
            </mat-tab>


          </mat-tab-group>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
</div>
