<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Analysis Non Lab</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Process Sample Non Lab</span>
      </div>
      <div class="h3 mt-10">
          Process Sample Detail Non Lab
          <br>
          Id Pasien : {{ createData?.patientID }}
          <br>
          Nama Pasien : {{ createData?.patientName }}
          <br>
          Umur : {{ age }}
        </div>
    </div>
  </div>
  <div id="product" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

      <!-- HEADER -->
      <div class="header black" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center" style="padding: 5px;">

          <button class="mr-0 mr-sm-16" mat-icon-button (click)="backToPasien(insid)">
            <mat-icon>arrow_back</mat-icon>Back To Process Sample Pasien Non Lab List
          </button>

        </div>

        <div align="center">
          <h2 *ngIf="successMessage" style="background-color: #4286f4; padding: 15px; color:#fff; border-radius: 25px;">Success !</h2>
          <h2 *ngIf="errorMessage" style="background-color:darkred; padding: 15px; color:#fff; border-radius: 25px;">Error !</h2>
        </div>

        <div align="right" style="padding-right: 5px;">
          <button mat-raised-button style="background-color:#4286f4;color: #fff" (click)="submitSample(data)">Submit</button>
        </div>

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div content-card mat-white-bg class="page-layout blank p-24" >
        <mat-tab-group class="mat-elevation-z8">
            <mat-tab label="item">
                <div class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
                    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceItem" matSort matSortActive="id" matSortDirection="asc"
                      matSortDisableClear>

                      <ng-container>

                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>

                        <mat-cell *matCellDef="let item">{{item.testId}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="testname">

                        <mat-header-cell *matHeaderCellDef>Test Name</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let item">{{item.testName}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="process">

                        <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickAllProItem($event.checked)">Process</mat-checkbox></mat-header-cell>

                        <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let item; let j = index">
                          <mat-checkbox [checked]="item.process" (change)="clickItemPro($event.checked, j)" [disabled]="item.processDisabled" ></mat-checkbox>
                        </mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="processdate">

                        <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let item">
                          <input [value]="item.processDate"/>
                        </mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="priority">

                        <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let item">
                          <mat-checkbox [checked]="item.cito" disabled></mat-checkbox>
                        </mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="schedule">

                        <mat-header-cell *matHeaderCellDef>Schedule</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let item">{{item.schedule}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="scheduleDateTime">

                        <mat-header-cell *matHeaderCellDef>Sch Date Time</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let item">{{item.scheduleDateTime}}</mat-cell>

                      </ng-container>


                      <mat-header-row *matHeaderRowDef="displayedColumnsItem"></mat-header-row>

                      <mat-row *matRowDef="let item; columns: displayedColumnsItem">
                      </mat-row>

                    </mat-table>
                  </div>
            </mat-tab>
            <mat-tab label="test">
                <div class="content-card grey-100-bg" style="width: 70%; padding: 16px;">
                    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceTest" matSort matSortActive="testid" matSortDirection="asc"
                      matSortDisableClear>

                      <ng-container matColumnDef="testid">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Test Id</mat-header-cell>

                        <mat-cell *matCellDef="let test">{{test.testId}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="testname">

                        <mat-header-cell *matHeaderCellDef>Test Name</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let test">{{test.testName}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="testmethod">

                        <mat-header-cell *matHeaderCellDef>Test Method</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let test">{{test.testMethod}}</mat-cell>

                      </ng-container>


                      <mat-header-row *matHeaderRowDef="displayedColumnsTest"></mat-header-row>

                      <mat-row *matRowDef="let test; columns: displayedColumnsTest">
                      </mat-row>

                    </mat-table>
      
      
                  </div>
            </mat-tab>
        </mat-tab-group>
        <br>
        <!-- CONTENT -->
        <mat-tab-group class="mat-elevation-z8">
          <mat-tab label="Sample">
              <div class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSample" matSort matSortActive="id" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container>

                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>

                    <mat-cell *matCellDef="let sample">{{sample.specimenId}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="specimenName">

                    <mat-header-cell *matHeaderCellDef>Specimen Name</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.specimenName}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="no">

                    <mat-header-cell *matHeaderCellDef>No</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.no}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="estvol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.estvol}}</mat-cell>

                  </ng-container>

                  <!-- <ng-container matColumnDef="vol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.vol}}</mat-cell>

                  </ng-container> -->

                  <ng-container matColumnDef="condition">

                    <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.condition}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.note}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="process">

                    <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickAllProSample($event.checked)">Process</mat-checkbox></mat-header-cell>

                    <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let sample; let c = index;">
                      <mat-checkbox [checked]="sample.process" (change)="processSample($event.checked, c)"></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processdate">

                    <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">
                      {{sample.processDate}}
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="send">

                    <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickAllReSample($event.checked)">Send</mat-checkbox></mat-header-cell>

                    <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let sample; let m = index;">
                      <mat-checkbox [checked]="sample.received" (change)="receivedSample($event.checked, m)"></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="sendDate">

                    <mat-header-cell *matHeaderCellDef>Send Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">
                      {{sample.receiveDate}}
                    </mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsSample"></mat-header-row>

                  <mat-row *matRowDef="let sample; columns: displayedColumnsSample">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Sample Handling">
              <div  class="content-card grey-100-bg" style="width: 110%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSampleHandling" matSort matSortActive="name" matSortDirection="asc"
                  matSortDisableClear>


                  <ng-container matColumnDef="name" style="text-align: center;">

                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.nama}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="estvol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.estVol}}</mat-cell>

                  </ng-container>

                  <!-- <ng-container matColumnDef="vol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.vol}}</mat-cell>

                  </ng-container> -->

                  <ng-container matColumnDef="condition">

                    <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.condition}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.note}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="process">

                    <mat-header-cell *matHeaderCellDef>Process</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">
                      <mat-checkbox [checked]="samHan.process" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processdate">

                    <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.processDate}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processuser">

                    <mat-header-cell *matHeaderCellDef>Process User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.processUser}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="samplehandlingid">

                    <mat-header-cell *matHeaderCellDef>Sample Handling Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.sampleHandlingId}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsSampleHandling"></mat-header-row>

                  <mat-row *matRowDef="let samHan; columns: displayedColumnsSampleHandling">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Specimen Handling">
              <div class="content-card grey-100-bg" style="width: 110%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" style="overflow: auto; width: 120%;" [dataSource]="dataSourceSpecimenHandling" matSort matSortActive="nama" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="nama">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>

                    <mat-cell *matCellDef="let specHand">{{specHand.nama}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="estvol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.estVol}}</mat-cell>

                  </ng-container>

                  <!-- <ng-container matColumnDef="vol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.vol}}</mat-cell>

                  </ng-container> -->

                  <ng-container matColumnDef="conditionid">

                    <mat-header-cell *matHeaderCellDef>Condition Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.conditionId}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="condition">

                    <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.condition}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.note }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="send">

                    <mat-header-cell *matHeaderCellDef>Receive</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">
                      <mat-checkbox [checked]="specHand.received" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senddate">

                    <mat-header-cell *matHeaderCellDef>Receive Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.receivedDate}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="process">

                    <mat-header-cell *matHeaderCellDef>Send</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">
                      <mat-checkbox [checked]="specHand.process" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processdate">

                    <mat-header-cell *matHeaderCellDef>Send Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.processDate}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senduser">

                    <mat-header-cell *matHeaderCellDef>Receive User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.receiveUser }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processuser">

                    <mat-header-cell *matHeaderCellDef>Send User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.processUser }}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsSpecimenHandling"></mat-header-row>

                  <mat-row *matRowDef="let specHand; columns: displayedColumnsSpecimenHandling">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Specimen Collection">
              <div class="content-card grey-100-bg" style="width: 110%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" style="overflow: auto; width: 120%;" [dataSource]="dataSourceSpecimenCollection" matSort matSortActive="nama" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="nama">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>

                    <mat-cell *matCellDef="let specCol">{{specCol.nama}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="estvol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.estVol}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="receiveuser">

                    <mat-header-cell *matHeaderCellDef>Receive User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.drawUser}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="receive">

                    <mat-header-cell *matHeaderCellDef>Receive</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">
                      <mat-checkbox [checked]="specCol.draw" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="specimenid">

                    <mat-header-cell *matHeaderCellDef>Specimen Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.specimenId}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="conditionid">

                    <mat-header-cell *matHeaderCellDef>Condition Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.conditionId}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.note}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="send">

                    <mat-header-cell *matHeaderCellDef>Send</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">
                      <mat-checkbox [checked]="specCol.received" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senddate">

                    <mat-header-cell *matHeaderCellDef>Send Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.receiveDate}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senduser">

                    <mat-header-cell *matHeaderCellDef>Send User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.receiveUser}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsSpecimenCollection"></mat-header-row>

                  <mat-row *matRowDef="let specCol; columns: displayedColumnsSpecimenCollection">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Condition">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="question" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="question">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Question</mat-header-cell>

                    <mat-cell *matCellDef="let detCond">{{detCond.question}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="answer">

                    <mat-header-cell *matHeaderCellDef>Answer</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.answer}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.note}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                  <mat-row *matRowDef="let detCond; columns: displayedColumns">
                  </mat-row>

                </mat-table>
              </div>  
          </mat-tab>
          <mat-tab label="Patient Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <form style="padding: 10px;">
                      <div>
                        <mat-form-field fxFlex="100">
                          <textarea matInput placeholder="Catatan pasien" [value]="(createData?.patientNote) != null ? createData?.patientNote : null" readonly></textarea>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field fxFlex="30">
                          <input matInput placeholder="Nama pasien" [value]="(createData?.patientName) != null ? createData?.patientName : null" readonly>
                        </mat-form-field>
                        <!-- <div fxFlex="5"></div>
                        <mat-form-field fxFlex="30">
                          <input matInput placeholder="Date" [value]="(createData?.regDate) != null ? createData?.regDate : null " readonly>
                        </mat-form-field> -->
                        <div fxFlex="5"></div>
                        <mat-form-field fxFlex="30">
                          <input matInput placeholder="Id Pasien" [value]="(createData?.patientID) != null ? createData?.patientID : null" readonly>
                        </mat-form-field>
                      </div>
                    </form>
                  </div>
              </div>
          </mat-tab>
          <mat-tab label="Physician Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <form style="padding: 10px;">
                      <div>
                        <mat-form-field fxFlex="100">
                          <textarea matInput placeholder="Catatan Physician" [value]="(createData?.doctornote) != null ? createData?.doctornote : null" readonly></textarea>
                        </mat-form-field>
                      </div>
                      <div>
                          <mat-form-field fxFlex="30">
                              <input matInput placeholder="Physician" [value]="(createData?.doctorName) != null ? createData?.doctorName : null" readonly>
                          </mat-form-field>
                          <!-- <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="User" readonly>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="Date" [value]="(createData?.regDate) != null ? createData?.regDate : null" readonly>
                          </mat-form-field> -->
                          
                      </div>
                    </form>
                  </div>
              </div>  
          </mat-tab>
          <mat-tab label="Referral Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <form  style="padding: 10px;">
                      <div>
                        <mat-form-field fxFlex="100">
                          <textarea matInput placeholder="Catatan Referral" [value]="(createData?.referalNote) != null ? createData?.referalNote : null" readonly></textarea>
                        </mat-form-field>
                      </div>
                      <div>
                          <mat-form-field fxFlex="30">
                              <input matInput placeholder="Company" [value]="(createData?.referalCompanyName) != null ? createData?.referalCompanyName : null" readonly>
                          </mat-form-field>
                          <!-- <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="User" readonly>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="Date" [value]="(createData?.regDate) != null ? createData?.regDate : null" readonly>
                          </mat-form-field> -->
                          
                      </div>
                    </form>
                  </div>
              </div>
          </mat-tab>
          <mat-tab label="Lab Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <h3 mat-subHeader>Note History</h3>
                    <div>
                      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceLabNote" matSort matSortActive="schedule" matSortDirection="asc"
                        matSortDisableClear>

                        <ng-container>

                            <mat-header-cell *matHeaderCellDef mat-sort-header>register Id</mat-header-cell>
        
                            <mat-cell *matCellDef="let noteLab">{{ noteLab.registerId}}</mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="no">

                            <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>
        
                            <mat-cell *matCellDef="let noteLab; let i = index">{{ i + 1}}</mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="note">

                          <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>

                          <mat-cell *matCellDef="let noteLab">{{noteLab.labNote}}</mat-cell>

                        </ng-container>


                        <ng-container matColumnDef="user">

                          <mat-header-cell *matHeaderCellDef>User</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.user}}</mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="date">

                          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.date}}</mat-cell>

                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumnsNoteLab"></mat-header-row>

                        <mat-row *matRowDef="let noteLab; columns: displayedColumnsNoteLab">
                        </mat-row>

                      </mat-table>
                    </div>
                    <mat-divider></mat-divider>
                    <h3 mat-subHeader>Tambah Note</h3>
                    <div>
                      <form [formGroup]="labNoteGroup" #formCtrlLabNote="ngForm">
                        <div formArrayName="labNotes">
                          <div *ngFor="let labnote of labNoteGroup.controls.labNotes['controls']; let i = index">
                            <div [formGroupName]="i">
                              <mat-form-field fxFlex="50">
                                <textarea matInput placeholder="Lab Note" formControlName="LabNote"></textarea>
                              </mat-form-field>
                              <div fxFlex="5"></div>
                              <mat-form-field fxFlex="20">
                                <input matInput placeholder="User" formControlName="user" readonly>
                              </mat-form-field>
                              <!-- <div fxFlex="2"></div>
                              <mat-form-field fxFlex="20">
                                <input matInput placeholder="Reg Id" formControlName="RegisterId">
                              </mat-form-field> -->
                              <div fxFlex="2"></div>
                              <button mat-icon-button color="warn" (click)="deleteNoteValue(i)">
                                <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                        <button mat-raised-button color="primary" (click)="addNoteValue()">Add</button>
                      </form>
                      
                    
                    
                    
                    </div>
                  </div>
            </div>
          </mat-tab>
          <mat-tab label="Schedule">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSch" matSort matSortActive="schedule" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="schedule">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Schedule</mat-header-cell>

                    <mat-cell *matCellDef="let detSch">{{detSch.schedule}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="test">

                    <mat-header-cell *matHeaderCellDef>Test</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.test}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="day">

                    <mat-header-cell *matHeaderCellDef>Day</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.day}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="time">

                    <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.time}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>

                  <mat-row *matRowDef="let detSch; columns: displayedColumns2">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Physician">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <form style="padding: 10px;">
                      <div>
                        <mat-form-field fxFlex="20">
                          <input matInput placeholder="gelar depan" [value]="doctor?.frontTitle" readonly/>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="20">
                          <input matInput placeholder="Nama Dokter" [value]="doctor?.doctorName" readonly/>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="20">
                          <input matInput placeholder="gelar belakang" [value]="doctor?.endTitle" readonly/>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field fxFlex="20">
                          <input matInput placeholder="Nama Alamat" [value]="doctor?.addressName" readonly/>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="20">
                          <input matInput placeholder="Lokasi" [value]="doctor?.addressLocation" readonly/>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="20">
                          <input matInput placeholder="Kota" [value]="doctor?.cityName" readonly/>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field fxFlex="30">
                          <input matInput placeholder="Form" [value]="doctor?.formTypeName" readonly/>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="30">
                          <input matInput placeholder="Speciality" [value]="doctor?.specialtyName" readonly/>
                        </mat-form-field>
                      </div>
                    </form>
                  </div>
              </div>
          </mat-tab>
        </mat-tab-group>
        <!-- / CONTENT -->



      </div>
      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
  </div>
</div>
