<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Specimen Lab</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Specimen Handling Lab</span>
      </div>
      <div class="h1 s-16">Specimen Handling Lab Detail</div>
      <div class="h3">
        Register No. : {{ regno }} <br> Register Date : {{ regdate }} <br> Pasien Name : {{ name }}
      </div>
    </div>
  </div>
  <div id="product" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">

      <!-- HEADER -->
      <div class="header black" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

          <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/specimen/specimen_handling'">
            <mat-icon>arrow_back</mat-icon>Back To Specimen Handling Lab List
          </button>

        </div>

        <div align="center">
          <h2 *ngIf="successMessage" style="background-color: #4286f4; padding: 15px; color:#fff; border-radius: 25px;">Success !</h2>
          <h2 *ngIf="errorMessage" style="background-color:darkred; padding: 15px; color:#fff; border-radius: 25px;">Error !</h2>
        </div>

        <div align="right" style="padding-right: 5px;">
          <button mat-raised-button style="background-color:#4286f4;color: #fff" (click)="submitSpecHandle(data)">Submit</button>
        </div>

        <!-- / APP TITLE -->
        <!-- <button mat-raised-button
              class="save-product-button mat-white-bg mt-16 mt-sm-0"
              [disabled]="productForm.invalid"
              *ngIf="pageType ==='new'" (click)="addProduct()">
          <span>ADD</span>
      </button>

      <button mat-raised-button
              class="save-product-button mat-white-bg mt-16 mt-sm-0"
              [disabled]="productForm.invalid || productForm.pristine"
              *ngIf="pageType ==='edit'" (click)="saveProduct()">
          <span>SAVE</span>
      </button> -->
      </div>
      <!-- / HEADER -->
      <!-- CONTENT CARD -->
      <div content-card mat-white-bg class="page-layout blank p-24">
        <mat-tab-group class="mat-elevation-z8" style="height: 100%; overflow: hidden;">
          <mat-tab label="Item">
            <div class="content-card grey-100-bg" style="padding: 16px;">
            
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceItem" matSort matSortActive="testName" matSortDirection="asc"
              matSortDisableClear>

              <ng-container matColumnDef="no">
                <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let item; let x=index">{{ x+1 }}</mat-cell>
              </ng-container>

              <!-- <ng-container matColumnDef="testID">
                <mat-header-cell *matHeaderCellDef>Test ID</mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let item">{{item.registerTestId}}</mat-cell>
              </ng-container> -->

              <ng-container matColumnDef="testName">
                <mat-header-cell *matHeaderCellDef>Test Name</mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let item">{{item.testName}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="cito">
                <mat-header-cell *matHeaderCellDef >Cito</mat-header-cell>
                <!-- <mat-cell class="description-cell" *matCellDef="let item">{{item.cito}}</mat-cell> -->
                <mat-cell class="description-cell" *matCellDef="let item; let a = index">
                  <mat-checkbox [checked]="item.cito" disabled></mat-checkbox>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="scheduleName">
                <mat-header-cell *matHeaderCellDef>Schedule Name</mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let item">{{item.scheduleName}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsItem"></mat-header-row>

              <mat-row *matRowDef="let item; columns: displayedColumnsItem">
              </mat-row>
            </mat-table>
            </div>
          </mat-tab>


        </mat-tab-group>

        <br>

        <mat-tab-group class="mat-elevation-z8" style="height: 100%; overflow: hidden;">

          <mat-tab label="Specimen Handling">
            <div class="content-card grey-100-bg" style="width: 150%; padding: 16px;">
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSpc" matSort matSortActive="nama" matSortDirection="asc"
                matSortDisableClear>

                <ng-container>
                  <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc; let x=index">{{ x+1 }}</mat-cell>
                </ng-container>
                

                <ng-container matColumnDef="nama">
                  <mat-header-cell *matHeaderCellDef>Specimen Name</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.nama}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="no">
                  <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.no}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="estVol">
                  <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.estVol}}</mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="vol">
                  <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.vol}}</mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="send">
                  <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickrec($event.checked)">Receive</mat-checkbox></mat-header-cell>
                  <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let spc; let a=index">
                    <mat-checkbox (change)="receive($event.checked, a)" [checked]="spc.received"></mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="process">
                  <mat-header-cell *matHeaderCellDef  style="overflow: visible;"><mat-checkbox (change)="clickprocessed($event.checked)">Send</mat-checkbox></mat-header-cell>
                  <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let spc; let a=index">
                    <mat-checkbox (change)="process($event.checked, a)" [checked]="spc.process"></mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="verification">
                  <mat-header-cell *matHeaderCellDef>Verification</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc; let y=index">
                    <form>
                      <mat-form-field>
                        <mat-select placeholder=" " [ngModel]="defStat" [ngModelOptions]="{standalone: true}" (change)="stat($event.value, y)">
                          <mat-option *ngFor="let sc of specStat" [value]="sc.specimenStatusId">
                            {{sc.specimenStatusName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="condition">
                  <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.condition}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="note">
                  <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.note}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="processDate">
                  <mat-header-cell *matHeaderCellDef>Send Date</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.processDate}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="processUser">
                  <mat-header-cell *matHeaderCellDef>Send User</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.processUser}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="sendDate">
                  <mat-header-cell *matHeaderCellDef>Receive Date</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.receivedDate}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="sendUser">
                  <mat-header-cell *matHeaderCellDef>Receive User</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.receiveUser}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsSpc"></mat-header-row>

                <mat-row *matRowDef="let spc; columns: displayedColumnsSpc">
                </mat-row>
              </mat-table>
            </div>
          </mat-tab>

          <mat-tab label="Specimen Collection">
            <div class="content-card grey-100-bg" style="width: 150%; padding: 16px;">
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSpechand" matSort matSortActive="nama" matSortDirection="asc"
                         matSortDisableClear>

                <ng-container matColumnDef="nama">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>
                  <mat-cell *matCellDef="let detHand">{{detHand.nama}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="estVol">
                  <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detHand">{{detHand.estVol}}</mat-cell>
                </ng-container>


                <ng-container matColumnDef="receive">
                  <mat-header-cell *matHeaderCellDef>Receive</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detHand; let a = index">
                    <mat-checkbox [checked]="detHand.draw" disabled></mat-checkbox>

                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="receiveDate">
                  <mat-header-cell *matHeaderCellDef>Receive Date</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detHand">{{detHand.drawDate}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="receiveUser">
                  <mat-header-cell *matHeaderCellDef>Receive User</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detHand">{{detHand.drawUser}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="note">
                  <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detHand">{{detHand.note}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="send">
                  <mat-header-cell *matHeaderCellDef>Send</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detHand">
                    <mat-checkbox [checked]="detHand.received" disabled></mat-checkbox>

                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="sendDate">
                  <mat-header-cell *matHeaderCellDef>Send Date</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detHand">{{detHand.receiveDate}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="sendUser">
                  <mat-header-cell *matHeaderCellDef>Send User</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detHand">{{detHand.receiveUser}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>

                <mat-row *matRowDef="let detHand; columns: displayedColumns3">
                </mat-row>

              </mat-table>
            </div>
          </mat-tab>

          <mat-tab label="Condition">
            <div class="content-card grey-100-bg" style=" padding: 16px;">
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="question" matSortDirection="asc"
                         matSortDisableClear>

                <ng-container matColumnDef="question">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Question</mat-header-cell>
                  <mat-cell *matCellDef="let detCond">{{detCond.question}}</mat-cell>
                </ng-container>


                <ng-container matColumnDef="answer">
                  <mat-header-cell *matHeaderCellDef>Answer</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.answer}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="note">
                  <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.note}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let detCond; columns: displayedColumns">
                </mat-row>
              </mat-table>
            </div>
          </mat-tab>

          <mat-tab label="Patient Note">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                <form [formGroup]="patientNoteGroup" #formCtrlPatNote="ngForm">
                  <div>
                    <mat-form-field fxFlex="100">
                      <textarea matInput placeholder="Catatan pasien" formControlName="patientNote" matTextareaAutosize matAutosizeMinRows="2"
                                matAutosizeMaxRows="5" readonly></textarea>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Nama Pasien" formControlName="patientName" readonly>
                    </mat-form-field>
                    <!-- <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Date" formControlName="regDate" readonly>
                    </mat-form-field> -->
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Id Pasien" formControlName="patientId" readonly>
                    </mat-form-field>
                  </div>
                </form>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Physician Note">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                <form [formGroup]="physicianNoteGroup" #formCtrlPhyNote="ngForm">
                  <div>
                    <mat-form-field fxFlex="100">
                      <textarea matInput placeholder="Catatan Physician" formControlName="physicianNote" matTextareaAutosize matAutosizeMinRows="2"
                                matAutosizeMaxRows="5" readonly></textarea>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Physician" formControlName="physicianName" readonly>
                    </mat-form-field>
                    <!-- <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="User" readonly>
                    </mat-form-field>
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Date" formControlName="regDate" readonly>
                    </mat-form-field> -->

                  </div>
                </form>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Referral Note">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <div  class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                <form [formGroup]="referralNoteGroup" #formCtrlRefNote="ngForm" style="padding: 10px;">
                  <div>
                    <mat-form-field fxFlex="100">
                      <textarea matInput placeholder="Catatan Referral" formControlName="referralNote" matTextareaAutosize matAutosizeMinRows="2"
                                matAutosizeMaxRows="5" readonly></textarea>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Company" formControlName="companyName" readonly>
                    </mat-form-field>
                    <!-- <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="User" readonly>
                    </mat-form-field>
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Date" formControlName="regDate" readonly>
                    </mat-form-field> -->
                  </div>
                </form>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Lab Note">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                <div>
                  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceLabNote" matSort matSortActive="date" matSortDirection="asc"
                            matSortDisableClear>

                    <ng-container>

                      <mat-header-cell *matHeaderCellDef mat-sort-header>register Id</mat-header-cell>

                      <mat-cell *matCellDef="let noteLab">{{ noteLab.registerId}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="no">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>

                      <mat-cell *matCellDef="let noteLab; let i = index">{{ i + 1}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="labNote">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>

                      <mat-cell *matCellDef="let noteLab">{{noteLab.labNote}}</mat-cell>

                    </ng-container>


                    <ng-container matColumnDef="user">

                      <mat-header-cell *matHeaderCellDef>User</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.user}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="date">

                      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.date}}</mat-cell>

                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumnsNoteLab"></mat-header-row>

                    <mat-row *matRowDef="let noteLab; columns: displayedColumnsNoteLab">
                    </mat-row>

                  </mat-table>
                </div>
                <mat-divider></mat-divider>
                <h3 mat-subHeader>Tambah Note</h3>
                <div>
                  <form [formGroup]="labNoteGroup" #formCtrlLabNote="ngForm">
                    <div formArrayName="labNotes">
                      <div *ngFor="let labnote of labNoteGroup.controls.labNotes['controls']; let i = index">
                        <div [formGroupName]="i">
                          <mat-form-field fxFlex="50">
                            <textarea matInput placeholder="Lab Note" formControlName="LabNote"></textarea>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="20">
                            <input matInput placeholder="User" formControlName="user">
                          </mat-form-field>
                          <!--<div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input matInput placeholder="RegID" formControlName="RegisterId">
                          </mat-form-field>-->
                          <div fxFlex="2"></div>
                          <button mat-icon-button color="warn" (click)="deleteNoteValue(i)">
                            <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                    <button mat-raised-button color="primary" (click)="addNoteValue()">Add</button>
                  </form>
                </div>
              </div>
            </div>
          </mat-tab>

          <!--<mat-tab label="Lab Note">
    <div style="padding: 10px;">
      <form [formGroup]="labNoteGroup" #formCtrlLabNote="ngForm">

        <div formArrayName="labNotes">
          <div *ngFor="let labnote of labNoteGroup.controls.labNotes['controls']; let i = index">
            <div [formGroupName]="i">
              <mat-form-field fxFlex="50">
                <textarea matInput placeholder="Lab Note" style="text-transform: uppercase;" formControlName="note"></textarea>
              </mat-form-field>
              <div fxFlex="5"></div>
              <mat-form-field fxFlex="20">
                <input matInput placeholder="User" formControlName="noteUser">
              </mat-form-field>
              <div fxFlex="2"></div>
              <mat-form-field fxFlex="20">
                <input matInput placeholder="Date" formControlName="noteDate">
              </mat-form-field>
              <div fxFlex="2"></div>
              <mat-form-field fxFlex="20">
                <input matInput placeholder="Regno" formControlName="regno">
              </mat-form-field>
              <div fxFlex="2"></div>
              <button mat-icon-button color="warn" (click)="deleteNoteValue(i)">
                <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addNoteValue()">Add</button>
      </form>
    </div>
  </mat-tab>-->

          <mat-tab label="Schedule">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSch" matSort matSortActive="schedule" matSortDirection="asc"
                         matSortDisableClear>

                <ng-container matColumnDef="schedule">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Schedule</mat-header-cell>
                  <mat-cell *matCellDef="let detSch">{{detSch.schedule}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="test">
                  <mat-header-cell *matHeaderCellDef>Test</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.test}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="day">
                  <mat-header-cell *matHeaderCellDef>Day</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.day}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="time">
                  <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.time}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>

                <mat-row *matRowDef="let detSch; columns: displayedColumns2">
                </mat-row>
              </mat-table>
            </div>
          </mat-tab>

          <mat-tab label="Physician">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                <form [formGroup]="physicianGroup" #formCtrlRefNote="ngForm" style="padding: 10px;">
                  <div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="frontTitle" matInput placeholder="Gelar Depan" readonly />
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="doctorName" matInput placeholder="Doctor Name" readonly>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="endTitle" matInput placeholder="Gelar belakang" readonly>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="addressName" matInput placeholder="Address Name" readonly>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="addressLocation" matInput placeholder="Address Location" readonly>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="cityName" matInput placeholder="City Name" readonly>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="30">
                      <input formControlName="formTypeName" matInput placeholder="Form Type Name" readonly>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="30">
                      <input formControlName="specialtyName" matInput placeholder="Specialty Name" readonly>
                    </mat-form-field>
                  </div>
                </form>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>

        <!-- / CONTENT -->

      </div>
      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
  </div>
</div>
