<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Master</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Master Physician</span>
      </div>
      <div class="h1 mt-16">Master Physician</div>
    </div>
  </div>
  <div fxLayout="column" class="mat-content p-24">
    <form [formGroup]="doctorForm" class="masterdoctor" #formCtrlTest="ngForm">
      <div class="pt-24" fxLayout="row">
        <div style="margin: auto;">
          <h2 *ngIf="successMessage" style="background-color: #4286f4; padding: 15px; color:#fff; border-radius: 25px;">Success!</h2>
          <h2 *ngIf="errorMessage" style="background-color:darkred; padding: 15px; color:#fff; border-radius: 25px;">Error</h2>
        </div>
        <div>
          <button style="right: 30px;" mat-raised-button type="button" color="warn"
                  (click)="submitNewDoctor()"
                  [disabled]="!formCtrlTest.form.valid">
            Submit
          </button>
        </div>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="48">
          <form>
            <input matInput placeholder="Nama Dokter" [(ngModel)]="doctorName" [formControl]="doctorNameCtrl" name="doctorName" required>
          </form>
          <mat-error *ngIf="doctorNameCtrl.hasError('required')">
            Nama Dokter tidak boleh kosong
          </mat-error>
        </mat-form-field>

        <div fxFlex="4"></div>
        <div style="display: none;"> {{ doctorSpec?.specialtyId }} </div>
        <mat-form-field fxFlex="48">
          <form>
              <input matInput
              placeholder="Spesialisasi"
              [matAutocomplete]="autosub"
              [formControl]="chooseDoctorSpec"
              [(ngModel)]="doctorSpec"
              (input)="textChanged(chooseDoctorSpec)"
              [errorStateMatcher]="matcher" required>
              <mat-autocomplete #autosub="matAutocomplete" [displayWith]="displayDoctorSpec">
                <mat-option *ngFor="let docSpec of filteredDoctorSpec | async" [value]="docSpec" (onSelectionChange)="onDoctorSpecSelected(docSpec)">
                  <span>{{ docSpec.specialtyName }}</span>
                </mat-option>
              </mat-autocomplete>
          </form>
          <mat-error *ngIf="chooseDoctorSpec.hasError('required')">
            Spesialisasi dokter tidak boleh kosong
          </mat-error>
        </mat-form-field>

      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="48">
          <form>
            <input matInput placeholder="Gelar Depan" [(ngModel)]="frontTitle" [formControl]="frontTitleCtrl">
          </form>
        </mat-form-field>

        <div fxFlex="4"></div>
        <mat-form-field fxFlex="48">
          <form>
            <input matInput placeholder="NIP" [(ngModel)]="nip" [formControl]="nipCtrl">
          </form>
        </mat-form-field>

      </div>
      
      <div fxLayout="row">
        <mat-form-field fxFlex="48">
          <form>
            <input matInput placeholder="Gelar Belakang" [(ngModel)]="endTitle" [formControl]="endTitleCtrl">
          </form>
        </mat-form-field>
        <div fxflex="52"></div>
      </div>
      <div>
        <mat-form-field fxFlex="48">
          <form>
            <input matInput placeholder="Jenis Kelamin" [matAutocomplete]="autotype"
                   [formControl]="chooseSex" [(ngModel)]="doctorSex" required>
            <mat-autocomplete #autotype="matAutocomplete" [displayWith]="displayDoctorSex">
              <mat-option *ngFor="let docSex of filteredDoctorSex | async" [value]="docSex" (onSelectionChange)="onDoctorSexSelected(docSex)">
                <span>{{ docSex.sexName }}</span>
              </mat-option>
            </mat-autocomplete>
          </form>
          <mat-error *ngIf="chooseSex.hasError('required')">
            Jenis kelamin tidak boleh kosong
          </mat-error>
        </mat-form-field>
        <div fxFlex="52"></div>
      </div>
      <div>
        <mat-form-field fxFlex="48">
          <form>
            <input matInput placeholder="Marketer" [matAutocomplete]="automark"
                   [formControl]="chooseMarketer" [(ngModel)]="marketer"  required>
            <mat-autocomplete required="true" #automark="matAutocomplete" [displayWith]="displayMarketer">
              <mat-option *ngFor="let marketer of filteredMarks | async" [value]="marketer" (onSelectionChange)="onMarketerSelected(marketer)">
                <span>{{ marketer.marketerName }}</span>
              </mat-option>
            </mat-autocomplete>
          </form>
          <mat-error *ngIf="chooseMarketer.hasError('required')">
            Marketer tidak boleh kosong
          </mat-error>
        </mat-form-field>
        <div fxFlex="52"></div>
      </div>
      <div>
            <mat-slide-toggle [formControl]="activeCtrl" [checked]="active">Aktif</mat-slide-toggle>
      </div>
      <br>
      <br>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon>home</mat-icon>
      </div>
      <mat-card-title>Detail Alamat Dokter</mat-card-title>
    </mat-card-header>
    <div formArrayName="doctorAddress">
      <div *ngFor="let address of doctorForm.controls.doctorAddress['controls']; let i = index">
        <div [formGroupName]="i">
          <mat-form-field fxFlex="3">
            <input matInput value="{{i+1}}" formControlName="addressId" readonly>
          </mat-form-field>
          <div fxFlex="2"></div>
          <mat-form-field fxFlex="8">
            <input matInput placeholder="Lokasi" formControlName="addressLocation" required>
          </mat-form-field>
          <div fxFlex="2"></div>
          <mat-form-field fxFlex="10">
            <input matInput placeholder="Alamat" formControlName="addressName" required>
          </mat-form-field>
          <div fxFlex="2"></div>
          <div fxFlex="20" *ngIf="hid_type[i]">
            <label style="font-size: 10px;">Tipe Address</label>
            <ng-select [items]="doctorAddType" bindLabel="addressType" bindValue="addressType"
                       placeholder="Tipe" [typeahead]="typeahead" [addTag]="true" (change)="onchangeTipe($event,i)"
                       formControlName="addressType" (click)="onfilledType($event)" (input)="inputType($event)">
              <ng-template ng-option-tmp let-item="item">
                {{item.addressType}}
              </ng-template>
            </ng-select>
          </div>
          <mat-form-field fxFlex="10" *ngIf="!hid_type[i]">
            <input matInput placeholder="Tipe" formControlName="addressType" (focus)="hidtype($event,doctorForm.controls.doctorAddress['controls'],i)" (click)="hidtype($event,doctorForm.controls.doctorAddress['controls'],i)"  [value]="doctorForm.controls.doctorAddress['controls'][i].value.addressType" required>
          </mat-form-field>
          <div fxFlex="2"></div>
          <div fxFlex="20" *ngIf="hid_city[i]">
            <label style="font-size: 10px;">Kota</label>
            <ng-select [items]="doctorCity" bindLabel="cityName" bindValue="cityName"
                       placeholder="Kota" [typeahead]="typeahead" [addTag]="true" (change)="onchangeCity($event,i)"
                       formControlName="addressCity" (click)="onfilledCity($event)" (input)="inputcity($event)">
              <ng-template ng-option-tmp let-item="item">
                {{item.cityName}}
              </ng-template>
            </ng-select>
          </div>
         <mat-form-field fxFlex="10" *ngIf="!hid_city[i]">
           <input matInput placeholder="Kota" formControlName="addressCity" (click)="hidCity($event,doctorForm.controls.doctorAddress['controls'],i)"  [value]="doctorForm.controls.doctorAddress['controls'][i].value.addressCity" required>
          </mat-form-field>
         <div fxFlex="2"></div>
          <mat-form-field fxFlex="8">
            <input matInput placeholder="Kode Pos"
              formControlName="addressPostCode"
              pattern="[0-9]*"
              minlength="5"
              maxlength="5"
              [errorStateMatcher]="matcher"
              required>
          </mat-form-field>
          <div fxFlex="2"></div>
          <mat-form-field fxFlex="10">
            <input matInput placeholder="Telp"
             pattern="[0-9]*"
             formControlName="addressPhone"
             maxlength="15"
             required>
          </mat-form-field>
          <div fxFlex="2"></div>
          <mat-form-field fxFlex="7">
            <input matInput placeholder="Fax"
             pattern="[0-9]*"
             maxlength="15"
             formControlName="addressFax">
          </mat-form-field>
          <div fxFlex="2"></div>
          <button mat-icon-button color="warn" (click)="deleteAddressValue(i)">
            <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
  <button mat-raised-button color="primary" (click)="addAddressValue()">Add</button>
  <br>
  <br>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon>phone</mat-icon>
      </div>
      <mat-card-title>Detail Kontak Dokter </mat-card-title>
    </mat-card-header>
    <div formArrayName="doctorContact">
      <div *ngFor="let contact of doctorForm.controls.doctorContact['controls']; let i = index">
        <div [formGroupName]="i">
          <mat-form-field fxFlex="3">
            <input matInput value="{{i+1}}" readonly>
          </mat-form-field>
          <div fxFlex="2"></div>
          <div fxFlex="20" *ngIf="hid_contact[i]">
            <label style="font-size: 10px;">Tipe </label>
            <ng-select [items]="doctorContact" bindLabel="messangerType" bindValue="messangerType"
                       placeholder="Tipe" [typeahead]="typeahead" [addTag]="true" (change)="onchangeContactTipe($event,i)"
                       formControlName="messangerType" (click)="onfilledContactType($event)" (input)="inputContactType($event)">
              <ng-template ng-option-tmp let-item="item">
                {{item.messangerType}}
              </ng-template>
            </ng-select>
          </div>
          <mat-form-field fxFlex="10" *ngIf="!hid_contact[i]">
            <input matInput placeholder="Tipe" formControlName="messangerTypeId" (click)="hidContacttype($event,doctorForm.controls.doctorContact['controls'],i)" [value]="doctorForm.controls.doctorContact['controls'][i].value.messangerType" required>
          </mat-form-field>
          <div fxFlex="5"></div>
          <mat-form-field fxFlex="38">
            <input matInput placeholder="Kontak" formControlName="messangerName" required>
          </mat-form-field>
          <div fxFlex="2"></div>
          <button mat-icon-button color="warn" (click)="deleteContactValue(i)">
            <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
  <button mat-raised-button color="primary" (click)="addContactValue()">Add</button>
    </form>
  </div>
</div>
