<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Analysis Non Lab</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Result Pasien Non Lab</span>
      </div>
      <div class="h1 mt-16">
        Result Pasien Non Lab
        <br>
        Instrument Name : {{ insname }}
      </div>
    </div>
  </div>
  <div class="course" class="page-layout blank p-24" fusePerfectScrollbar>

    <!-- <h2>{{course?.description}}</h2>

    <img class="course-thumbnail" [src]="course?.iconUrl"> -->
    <div fxLayout="row" fxLayoutAlign="start center">

      <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/analysis_non_lab/result_instrument_nl'">
        <mat-icon>arrow_back</mat-icon>Back To Result Instrument Non Lab List
      </button>

    </div>

    <mat-input-container>

      <input matInput placeholder="Search" #filter>

    </mat-input-container>

    <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">

        <mat-spinner></mat-spinner>

    </div> -->
    <div content-card mat-white-bg style="width: 150%">

      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourcePasien" matSort matSortActive="regid" matSortDirection="asc"
        matSortDisableClear>

        <ng-container matColumnDef="no">

            <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>
  
            <mat-cell *matCellDef="let pasien; let x = index">{{ x+1}}</mat-cell>
  
        </ng-container>

        <ng-container>

          <mat-header-cell *matHeaderCellDef mat-sort-header>reg ID</mat-header-cell>

          <mat-cell *matCellDef="let pasien">{{pasien.regid}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="regno">

          <mat-header-cell *matHeaderCellDef mat-sort-header>reg NO</mat-header-cell>

          <mat-cell *matCellDef="let pasien">{{pasien.regNo}}</mat-cell>

        </ng-container>


        <ng-container matColumnDef="patientno">

          <mat-header-cell *matHeaderCellDef>Pasien No.</mat-header-cell>

          <mat-cell class="description-cell" *matCellDef="let pasien">{{pasien.patientNO}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="patientname">

          <mat-header-cell *matHeaderCellDef>Nama</mat-header-cell>

          <mat-cell class="description-cell" *matCellDef="let pasien">{{pasien.patientName}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="patientgender">

          <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>

          <mat-cell class="description-cell" *matCellDef="let pasien">{{pasien.patientGender}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="patientage">

          <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>

          <mat-cell class="description-cell" *matCellDef="let pasien">{{pasien.patientAge}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="patientdob">

          <mat-header-cell *matHeaderCellDef>DOB</mat-header-cell>

          <mat-cell class="description-cell" *matCellDef="let pasien">{{pasien.patientDOB}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="patientresult">

          <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>

          <mat-cell class="description-cell" *matCellDef="let pasien">{{pasien.patientResult}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="regdate">

          <mat-header-cell *matHeaderCellDef>Reg Date</mat-header-cell>

          <mat-cell class="description-cell" *matCellDef="let pasien">{{pasien.regDate}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="company">

          <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>

          <mat-cell class="description-cell" *matCellDef="let pasien">{{pasien.company}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="cito">

          <mat-header-cell *matHeaderCellDef>Cito</mat-header-cell>

          <mat-cell class="description-cell" *matCellDef="let pasien">{{pasien.cito}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="status">

          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>

          <mat-cell class="description-cell" *matCellDef="let pasien">{{pasien.status}}</mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsPasien"></mat-header-row>

        <mat-row *matRowDef="let pasien; columns: displayedColumnsPasien" (click)="onRowClicked(pasien, insid)">
        </mat-row>

      </mat-table>


      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="dataSourcePasien?.totalData" (page)="pageEvent = $event"></mat-paginator>

    </div>

  </div>
</div>
