<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Analysis Lab</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Authorization Lab</span>
      </div>
      <div class="h3 mt-10">
        Authorization Detail Lab
        <br>
        Name : {{ createData?.patientName }}
        <br>
        Id : {{ createData?.patientID }}
        <br>
        Age : {{ age }}
      </div>
    </div>
  </div>
  <div id="product" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->

    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

      <!-- HEADER -->
      <div class="header black" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center" style="padding: 5px;">

          <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/analysis/authorization_pasien'">
            <mat-icon>arrow_back</mat-icon>Back To Authorization Pasien List
          </button>

        </div>

        <div align="center">
          <h2 *ngIf="successMessage" style="background-color: #4286f4; padding: 15px; color:#fff; border-radius: 25px;">Success !</h2>
          <h2 *ngIf="errorMessage" style="background-color:darkred; padding: 15px; color:#fff; border-radius: 25px;">Error !</h2>
        </div>

        <div align="right" style="padding-right: 5px;">
          <button mat-raised-button style="background-color:#4286f4;color: #fff" (click)="submitAuth(data)">Submit</button>
        </div>

        <!-- / APP TITLE -->

        <!-- <button mat-raised-button
                    class="save-product-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>SAVE</span>
            </button> -->
      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div content-card mat-white-bg class="page-layout blank p-24" >
        <mat-tab-group class="mat-elevation-z8" style="height: 100%; overflow: hidden;">
            <mat-tab label="item">
              <div class="content-card grey-100-bg" style="width: 450%; padding: 16px;">
                    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceItem" matSort matSortActive="id" matSortDirection="asc"
                      matSortDisableClear>

                      <ng-container matColumnDef="testname">

                          <mat-header-cell *matHeaderCellDef>Test Name</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.testName}}</mat-cell>
      
                        </ng-container>
      
                        <ng-container matColumnDef="flag">
      
                            <mat-header-cell *matHeaderCellDef>Flag</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.Flag}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="interfaceFlag">
      
                            <mat-header-cell *matHeaderCellDef>Interface Flag</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.interfaceFlag}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="result">
        
                            <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item; let c = index">
                              <form>
                                <mat-form-field>
                                  <input matInput [value]="item.result" (input)="result($event.target.value, c)"/>
                                </mat-form-field>
                              </form>
                            </mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="unit">
      
                            <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.unit}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="resultComment">
      
                            <mat-header-cell *matHeaderCellDef>Result Comment</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item; let b = index">
                              <form>
                                <mat-form-field>
                                  <input matInput [value]="item.resultComment" (input)="comment($event.target.value, b)"/>
                                </mat-form-field>
                              </form>
                            </mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="reference">
      
                            <mat-header-cell *matHeaderCellDef>Reference</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.reference}}</mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="auth">
      
                            <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickAllAuth($event.checked)">Authorize</mat-checkbox></mat-header-cell>
        
                            <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let item; let f = index">
                              <mat-checkbox [checked]="item.auth" (change)="auth($event.checked, f)"></mat-checkbox>
                            </mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="last1">
      
                            <mat-header-cell *matHeaderCellDef>Last1</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.last1}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="last2">
      
                            <mat-header-cell *matHeaderCellDef>Last2</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.last1}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="verification">
      
                          <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickAllVerify($event.checked)">Verification</mat-checkbox></mat-header-cell>
      
                          <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let item; let a = index">
                            <mat-checkbox [checked]="item.verification" (change)="verify($event.checked, a)"></mat-checkbox>
                          </mat-cell>
      
                        </ng-container>
      
                        <ng-container matColumnDef="INP">
      
                            <mat-header-cell *matHeaderCellDef>INP</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">
                              <mat-checkbox [checked]="item.resultINP" disabled></mat-checkbox>
                            </mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="PRN">
      
                            <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickAllPrn($event.checked)">PRN</mat-checkbox></mat-header-cell>
        
                            <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let item; let d = index">
                              <mat-checkbox [checked]="item.prn" (change)="prn($event.checked, d)"></mat-checkbox>
                            </mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="testMethod">
      
                            <mat-header-cell *matHeaderCellDef>Test Method</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.testMethod}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="process">
      
                            <mat-header-cell *matHeaderCellDef>Proc</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">
                              <mat-checkbox [checked]="item.process" disabled></mat-checkbox>
                            </mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="cito">
      
                            <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">
                              <!-- <mat-checkbox [checked]="item.cito" disabled></mat-checkbox> -->
                              {{item.cito}}
                            </mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="schedule">
      
                            <mat-header-cell *matHeaderCellDef>Schedule</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.schedule}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="scheduleDateTime">
      
                          <mat-header-cell *matHeaderCellDef>Schedule Date Time</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.scheduleDateTime}}</mat-cell>
      
                        </ng-container>
      
                        <ng-container matColumnDef="authDate">
      
                          <mat-header-cell *matHeaderCellDef>Auth Date</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.authDate}}</mat-cell>
      
                        </ng-container>
      
                        <ng-container matColumnDef="authUser">
      
                          <mat-header-cell *matHeaderCellDef>Auth User</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.authUser}}</mat-cell>
      
                        </ng-container>
      
                        <ng-container matColumnDef="verificationDate">
      
                            <mat-header-cell *matHeaderCellDef>Verification Date</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.verificationDate}}</mat-cell>
        
                        </ng-container>
        
                        <ng-container matColumnDef="verificationUser">
      
                          <mat-header-cell *matHeaderCellDef>Verification User</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.verificationUser}}</mat-cell>
      
                        </ng-container>
      
                        <ng-container matColumnDef="resultINPDate">
      
                            <mat-header-cell *matHeaderCellDef>Result INP Date</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.resultINPDate}}</mat-cell>
        
                        </ng-container>
        
                        <ng-container matColumnDef="resultINPUser">
      
                          <mat-header-cell *matHeaderCellDef>Result INP User</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.resultINPUser}}</mat-cell>
      
                        </ng-container>
      
                        <ng-container matColumnDef="processDate">
      
                            <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.processDate}}</mat-cell>
        
                        </ng-container>
        
                        <ng-container matColumnDef="processUser">
      
                          <mat-header-cell *matHeaderCellDef>Process User</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.processUser}}</mat-cell>
      
                        </ng-container>
      
                        <ng-container matColumnDef="resultSI">
      
                            <mat-header-cell *matHeaderCellDef>Result SI</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.resultSI}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="formatSI">
      
                            <mat-header-cell *matHeaderCellDef>Format SI</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.formatSI}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="instrumentName">
      
                          <mat-header-cell *matHeaderCellDef>Instrument</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.instrumentName}}</mat-cell>
      
                        </ng-container>
      
                        <ng-container matColumnDef="interfacingId">
      
                            <mat-header-cell *matHeaderCellDef>Interfacing Id</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.interfacingId}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="interfacingResult">
      
                          <mat-header-cell *matHeaderCellDef>Interfacing Result</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.interfacingResult}}</mat-cell>
      
                        </ng-container>

                        <ng-container matColumnDef="interfacingLisDate">
      
                            <mat-header-cell *matHeaderCellDef>Interfacing Lis Date</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.interfacingLisDate}}</mat-cell>
        
                        </ng-container>
                        
                        <ng-container matColumnDef="interfacingRawResult">
      
                            <mat-header-cell *matHeaderCellDef>Interfacing Raw Result</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.interfacingRawResult}}</mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="interfacingRawInterpretation">
      
                            <mat-header-cell *matHeaderCellDef>Interfacing Raw Interpretation</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.interfacingRawInterpretation}}</mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="interfacingRawUnit">
      
                            <mat-header-cell *matHeaderCellDef>Interfacing Raw Unit</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.interfacingRawUnit}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="interfacingRawFlag">
      
                            <mat-header-cell *matHeaderCellDef>Interfacing Raw Flag</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.interfacingRawFlag}}</mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="interfacingRawDate">
      
                            <mat-header-cell *matHeaderCellDef>Interfacing Raw Date</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">{{item.interfacingRawDate}}</mat-cell>
        
                        </ng-container>

                        <ng-container matColumnDef="testid">
      
                            <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        
                            <mat-cell *matCellDef="let item">{{item.testId}}</mat-cell>
        
                        </ng-container>
      
                        <ng-container matColumnDef="microbiology">
      
                            <mat-header-cell *matHeaderCellDef>Microbiology</mat-header-cell>
        
                            <mat-cell class="description-cell" *matCellDef="let item">
                              {{item.microbiology}}
                            </mat-cell>
        
                        </ng-container>


                      <mat-header-row *matHeaderRowDef="displayedColumnsItem"></mat-header-row>

                      <mat-row *matRowDef="let item; columns: displayedColumnsItem">
                      </mat-row>

                    </mat-table>
                </div>
            </mat-tab>
            <mat-tab label="Status">
                <div class="content-card grey-100-bg" style="width: 70%; padding: 16px;">
                    <!-- <form [formGroup]="manyTest" #formCtrlTest="ngForm" style="padding-left: 10px;">
                      <div formArrayName="testArray">
                        <div *ngFor="let test of manyTest.controls.testArray['controls']; let x = index">
                          <div [formGroupName]="x">
                            <mat-form-field fxFlex="20">
                              <input formControlName="testName" matInput placeholder="Test Name" readonly>
                            </mat-form-field>
                            <div fxFlex="1"></div>
                            <div fxFlex="20">
                              <label>Cito</label>
                              <mat-slide-toggle formControlName="cito" (change)="passcito(x,test)"></mat-slide-toggle>
                            </div>
                            <div fxFlex="1"></div>
                            <mat-form-field fxFlex="20">
                              <input formControlName="scheduleName" matInput placeholder="Schedule Name" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                    </form> -->
                    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceStatus" matSort matSortActive="id" matSortDirection="asc"
                      matSortDisableClear>

                      <ng-container matColumnDef="id">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>

                        <mat-cell *matCellDef="let status">{{status.id}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="name">

                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let status">{{status.name}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="result">

                        <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let status">{{status.result}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="result_comment">

                          <mat-header-cell *matHeaderCellDef>Result Comment</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let status">{{status.resultComment}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="auth">

                        <mat-header-cell *matHeaderCellDef>Auth</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let status">
                          <mat-checkbox [checked]="status.auth"></mat-checkbox>
                        </mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="auth_date">

                          <mat-header-cell *matHeaderCellDef>Auth Date</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let status">{{status.authDate}}</mat-cell>

                      </ng-container>

                      <!--<ng-container matColumnDef="regno">

                          <mat-header-cell *matHeaderCellDef>Regno</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let status">{{status.regno}}</mat-cell>

                      </ng-container>-->

                      <mat-header-row *matHeaderRowDef="displayedColumnsStatus"></mat-header-row>

                      <mat-row *matRowDef="let status; columns: displayedColumnsStatus">
                      </mat-row>

                    </mat-table>


                  </div>
            </mat-tab>
            <!-- <mat-tab label="Conc SubGroup">
              <mat-tab-group class="p16 mat-elevation-z8">
                <mat-tab label="Conclusion List">
                  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceConcList" matSort matSortActive="question" matSortDirection="asc"
                    matSortDisableClear>

                      <ng-container matColumnDef="conclusion">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Conclusion</mat-header-cell>

                        <mat-cell *matCellDef="let concList">{{concList.conclusion}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="accepted">

                        <mat-header-cell *matHeaderCellDef>Accepted</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let concList">
                          <mat-slide-toggle ></mat-slide-toggle>
                        </mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="byuser">

                        <mat-header-cell *matHeaderCellDef>By User</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let concList">
                          <mat-slide-toggle></mat-slide-toggle>
                        </mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="testconcid">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Test Conc Id</mat-header-cell>

                        <mat-cell *matCellDef="let concList">{{concList.testconcid}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="testconcsubid">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Test Conc Sub Id</mat-header-cell>

                        <mat-cell *matCellDef="let concList">{{concList.testconcsubid}}</mat-cell>

                      </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumnsConcList"></mat-header-row>

                    <mat-row *matRowDef="let concList; columns: displayedColumnsConcList">
                    </mat-row>

                  </mat-table>
                </mat-tab>
                <mat-tab label="Conclusion">
                  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceConc" matSort matSortActive="id" matSortDirection="asc"
                    matSortDisableClear>

                      <ng-container matColumnDef="id">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>

                        <mat-cell *matCellDef="let conc">{{conc.id}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="name">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>

                        <mat-cell *matCellDef="let conc">{{conc.name}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="print">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Print</mat-header-cell>

                        <mat-cell *matCellDef="let conc">{{conc.print}}</mat-cell>

                      </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumnsConc"></mat-header-row>

                    <mat-row *matRowDef="let conc; columns: displayedColumnsConc">
                    </mat-row>

                  </mat-table>
                </mat-tab>
                <mat-tab label="Recommendation">
                  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceRec" matSort matSortActive="id" matSortDirection="asc"
                    matSortDisableClear>

                      <ng-container matColumnDef="id">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>

                        <mat-cell *matCellDef="let rec">{{rec.id}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="name">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>

                        <mat-cell *matCellDef="let rec">{{rec.name}}</mat-cell>

                      </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumnsRec"></mat-header-row>

                    <mat-row *matRowDef="let rec; columns: displayedColumnsRec">
                    </mat-row>

                  </mat-table>
                </mat-tab>
                <mat-tab label="Suggestion">
                  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSug" matSort matSortActive="id" matSortDirection="asc"
                    matSortDisableClear>

                      <ng-container matColumnDef="id">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>

                        <mat-cell *matCellDef="let sug">{{sug.id}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="name">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>

                        <mat-cell *matCellDef="let sug">{{sug.name}}</mat-cell>

                      </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumnsSug"></mat-header-row>

                    <mat-row *matRowDef="let sug; columns: displayedColumnsSug">
                    </mat-row>

                  </mat-table>
                </mat-tab>
              </mat-tab-group>
            </mat-tab> -->
            <mat-tab label="RH">
                <div class="content-card grey-100-bg" style="width: 150%; padding: 16px;">
                  <form [formGroup]="manyRh" #formCtrlRh="ngForm" style="padding: 10px; ">
                    <div formArrayName="rhArray">
                      <div *ngFor="let rh of manyRh.controls.rhArray['controls']; let c = index">
                        <div [formGroupName]="c">
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="doctor_id" matInput placeholder="Doctor ID" readonly>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="n" matInput placeholder="n" readonly>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="action" matInput placeholder="Action" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="to" matInput placeholder="To/By" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="format" matInput placeholder="Format" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="rh_id" matInput placeholder="Rh_id" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="rh_name" matInput placeholder="Rh_Name" readonly>
                          </mat-form-field>
                          <!-- <div fxFlex="2"></div>
                          <div fxFlex="5">
                            <label>Submitted</label>
                            <mat-slide-toggle formControlName="submitted" (change)="passinp(x,item)"></mat-slide-toggle>
                          </div> -->
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="submitted" matInput placeholder="Submitted" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="received" matInput placeholder="Received" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="doctor" matInput placeholder="Doctor" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="submittedDate" matInput placeholder="Submitted Date" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="submittedUser" matInput placeholder="Submitted User" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="receiveddDate" matInput placeholder="Received Date" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="receivedUser" matInput placeholder="Received User" readonly>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                  </form>
                  <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceItem" matSort matSortActive="id" matSortDirection="asc"
                    matSortDisableClear>

                    <ng-container matColumnDef="id">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>

                      <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>

                    </ng-container>


                    <ng-container matColumnDef="name">

                      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.name}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="process">

                      <mat-header-cell *matHeaderCellDef>Process</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">
                        <mat-slide-toggle [checked]="item.process" ></mat-slide-toggle>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="processdate">

                      <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">
                        <input [value]="item.processDate"/>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="priority">

                      <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.priority}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schedule">

                      <mat-header-cell *matHeaderCellDef>Schedule</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schedule}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schDate">

                      <mat-header-cell *matHeaderCellDef>sch Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schDate}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schTime">

                      <mat-header-cell *matHeaderCellDef>sch Time</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schTime}}</mat-cell>

                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumnsItem"></mat-header-row>

                    <mat-row *matRowDef="let item; columns: displayedColumnsItem">
                    </mat-row>

                  </mat-table> -->
              </div>
            </mat-tab>
            <mat-tab label="Msg">
                <div class="content-card grey-100-bg" style="width: 150%; padding: 16px;">
                  <form [formGroup]="manyMsg" #formCtrlMsg="ngForm" style="padding: 10px; ">
                    <div formArrayName="msgArray">
                      <div *ngFor="let msg of manyMsg.controls.msgArray['controls']; let d = index">
                        <div [formGroupName]="d">
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="msg" matInput placeholder="Msg" readonly>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="msgAttn" matInput placeholder="Msg Attn" readonly>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="msgTo" matInput placeholder="Msg To" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="msgReady" matInput placeholder="Msg Ready" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="msgToName" matInput placeholder="Msg to Name" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="msgDelivered" matInput placeholder="Msg Delivered" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="msgReadyDate" matInput placeholder="Msg Ready Date" readonly>
                          </mat-form-field>
                          <!-- <div fxFlex="2"></div>
                          <div fxFlex="5">
                            <label>Submitted</label>
                            <mat-slide-toggle formControlName="submitted" (change)="passinp(x,item)"></mat-slide-toggle>
                          </div> -->
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="msgSendingDate" matInput placeholder="Msg Sending Date" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="msgDeliveredDate" matInput placeholder="Msg Delivered Date" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="msgQ" matInput placeholder="Msg Q" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="mds" matInput placeholder="Mds" readonly>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input formControlName="regno" matInput placeholder="Regno" readonly>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                  </form>
                  <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceItem" matSort matSortActive="id" matSortDirection="asc"
                    matSortDisableClear>

                    <ng-container matColumnDef="id">

                      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>

                      <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>

                    </ng-container>


                    <ng-container matColumnDef="name">

                      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.name}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="process">

                      <mat-header-cell *matHeaderCellDef>Process</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">
                        <mat-slide-toggle [checked]="item.process" ></mat-slide-toggle>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="processdate">

                      <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">
                        <input [value]="item.processDate"/>
                      </mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="priority">

                      <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.priority}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schedule">

                      <mat-header-cell *matHeaderCellDef>Schedule</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schedule}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schDate">

                      <mat-header-cell *matHeaderCellDef>sch Date</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schDate}}</mat-cell>

                    </ng-container>

                    <ng-container matColumnDef="schTime">

                      <mat-header-cell *matHeaderCellDef>sch Time</mat-header-cell>

                      <mat-cell class="description-cell" *matCellDef="let item">{{item.schTime}}</mat-cell>

                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumnsItem"></mat-header-row>

                    <mat-row *matRowDef="let item; columns: displayedColumnsItem">
                    </mat-row>

                  </mat-table> -->
                </div>
            </mat-tab>
        </mat-tab-group>
        <br>
        <!-- CONTENT -->
        <mat-tab-group class="mat-elevation-z8" style="height: 100%; overflow: hidden;">
          <mat-tab label="Result Note">
            <div class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceResultNote" matSort matSortActive="regno" matSortDirection="asc"
              matSortDisableClear>


              <ng-container matColumnDef="regno" style="text-align: center;">

                <mat-header-cell *matHeaderCellDef>Regno</mat-header-cell>

                <mat-cell class="description-cell" *matCellDef="let renote">{{renote.regno}}</mat-cell>

              </ng-container>

              <ng-container matColumnDef="lang">

                <mat-header-cell *matHeaderCellDef>Language</mat-header-cell>

                <mat-cell class="description-cell" *matCellDef="let renote">{{renote.language}}</mat-cell>

              </ng-container>

              <ng-container matColumnDef="note">

                  <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let renote">{{renote.note}}</mat-cell>

                </ng-container>

              <ng-container matColumnDef="updateuser">

                <mat-header-cell *matHeaderCellDef>Update User</mat-header-cell>

                <mat-cell class="description-cell" *matCellDef="let renote">{{renote.updateuser}}</mat-cell>

              </ng-container>

              <ng-container matColumnDef="updatedate">

                <mat-header-cell *matHeaderCellDef>Update Date</mat-header-cell>

                <mat-cell class="description-cell" *matCellDef="let renote">{{renote.updatedate}}</mat-cell>

              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumnsResultNote"></mat-header-row>

              <mat-row *matRowDef="let renote; columns: displayedColumnsResultNote">
              </mat-row>

              </mat-table>
            </div>
          </mat-tab>
          <mat-tab label="Status Test">
              <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSample" matSort matSortActive="id" matSortDirection="asc"
                matSortDisableClear>

                <ng-container matColumnDef="id">

                  <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>

                  <mat-cell *matCellDef="let sample">{{sample.id}}</mat-cell>

                </ng-container>


                <ng-container matColumnDef="name">

                  <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.name}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="no">

                  <mat-header-cell *matHeaderCellDef>No</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.no}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="estvol">

                  <mat-header-cell *matHeaderCellDef>Estvol</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.estvol}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="vol">

                  <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.vol}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="condition">

                  <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.condition}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="note">

                  <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.note}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="process">

                  <mat-header-cell *matHeaderCellDef>Process</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">
                    <mat-slide-toggle [checked]="sample.process"></mat-slide-toggle>
                  </mat-cell>

                </ng-container>

                <ng-container matColumnDef="processdate">

                  <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">
                    <input [value]="sample.processDate"/>
                  </mat-cell>

                </ng-container>

                <ng-container matColumnDef="received">

                  <mat-header-cell *matHeaderCellDef>Received</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">
                    <mat-slide-toggle [checked]="sample.received"></mat-slide-toggle>
                  </mat-cell>

                </ng-container>

                <ng-container matColumnDef="receivedDate">

                  <mat-header-cell *matHeaderCellDef>Received Date</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">
                    <input [value]="sample.receivedDate"/>
                  </mat-cell>

                </ng-container>

                <ng-container matColumnDef="regno">

                  <mat-header-cell *matHeaderCellDef>Regno</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.regno}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="specimenId">

                  <mat-header-cell *matHeaderCellDef>Specimen Id</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.specimenId}}</mat-cell>

                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumnsSample"></mat-header-row>

                <mat-row *matRowDef="let detCond; columns: displayedColumnsSample">
                </mat-row>

              </mat-table> -->
              <div class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
                <form [formGroup]="statusTest" #formCtrlStatTest="ngForm" style="padding: 10px;">
                  <div formArrayName="statusTestArray">
                    <div *ngFor="let status of statusTest.controls.statusTestArray['controls']; let b = index">
                      <div [formGroupName]="b">
                        <mat-form-field fxFlex="10" style="display: none;">
                          <input formControlName="id"  matInput placeholder="Id" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="20">
                          <input formControlName="name" style="text-transform: uppercase;" matInput placeholder="Name" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="10">
                          <input formControlName="result" matInput placeholder="Result" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="10">
                          <input formControlName="result_comment" matInput placeholder="Result Comment" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <div fxFlex="5">
                          <label>Auth</label>
                          <mat-checkbox formControlName="auth" (change)="passauth(b,status)"></mat-checkbox>
                        </div>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="10">
                          <input formControlName="authDate" matInput placeholder="Auth Date" readonly>
                        </mat-form-field>
                        <!--<div fxFlex="2"></div>
                        <mat-form-field fxFlex="10">
                          <input formControlName="regno" matInput placeholder="Regno" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="10">
                          <input formControlName="regdate" matInput placeholder="Regdate" readonly>
                        </mat-form-field>-->
                      </div>
                      <hr>
                    </div>
                  </div>

                </form>
              </div>
              <!-- <div class="pt-24" fxLayout="row" fxLayoutAlign="start start">
                <button id="finish" mat-raised-button type="button" color="warn"
                (click)="submitSample(data)">
                  Submit
                </button>
              </div> -->

          </mat-tab>

          <mat-tab label="Run">
              <div  class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceRun" matSort matSortActive="id" matSortDirection="asc"
                  matSortDisableClear>


                  <ng-container matColumnDef="id" style="text-align: center;">

                    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.id}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="name">

                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.name}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="result">

                    <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.result}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="result_comment">

                    <mat-header-cell *matHeaderCellDef>Result Comment</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.resultComment}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="status">

                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.status}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="analyzer">

                    <mat-header-cell *matHeaderCellDef>Analyzer</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.analyzer}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsRun"></mat-header-row>

                  <mat-row *matRowDef="let run; columns: displayedColumnsRun">
                  </mat-row>

                </mat-table>
              </div>  
          </mat-tab>

          <mat-tab label="Sample">
              <!--<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSample" matSort matSortActive="id" matSortDirection="asc"
                matSortDisableClear>

                <ng-container>

                  <mat-header-cell *matHeaderCellDef mat-sort-header>Specimen Id</mat-header-cell>

                  <mat-cell *matCellDef="let sample">{{sample.specimenId}}</mat-cell>

                </ng-container>


                <ng-container matColumnDef="specimenName">

                  <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.specimenName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="no">

                  <mat-header-cell *matHeaderCellDef>No</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.no}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="estvol">

                  <mat-header-cell *matHeaderCellDef>Estvol</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.estvol}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="vol">

                  <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.vol}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="condition">

                  <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.condition}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="note">

                  <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">{{sample.note}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="process">

                  <mat-header-cell *matHeaderCellDef>Process</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">
                    <mat-slide-toggle [checked]="sample.process" disabled></mat-slide-toggle>
                  </mat-cell>

                </ng-container>

                <ng-container matColumnDef="processdate">

                  <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">
                    <input [value]="sample.processDate"/>
                  </mat-cell>

                </ng-container>

                <ng-container matColumnDef="received">

                  <mat-header-cell *matHeaderCellDef>Received</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">
                    <mat-slide-toggle [checked]="sample.received" disabled></mat-slide-toggle>
                  </mat-cell>

                </ng-container>

                <ng-container matColumnDef="receiveddate">

                  <mat-header-cell *matHeaderCellDef>Received Date</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let sample">
                    <input [value]="sample.receivedDate"/>
                  </mat-cell>

                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumnsSample"></mat-header-row>

                <mat-row *matRowDef="let sample; columns: displayedColumnsSample">
                </mat-row>

              </mat-table>-->
              <div class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
                <form [formGroup]="samples" #formCtrlSample="ngForm" style="padding: 10px;">
                  <div formArrayName="sampleArray">
                    <div *ngFor="let sample of samples.controls.sampleArray['controls']; let a = index">
                      <div [formGroupName]="a">
                        <mat-form-field fxFlex="10" style="display: none;">
                          <input formControlName="specimenId"  matInput placeholder="Specimen Id" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="20">
                          <input formControlName="specimenName" style="text-transform: uppercase;" matInput placeholder="Specimen Name" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="5">
                          <input formControlName="no" matInput placeholder="No" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="8">
                          <input formControlName="estvol" matInput placeholder="Vol" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <!-- <mat-form-field fxFlex="8">
                          <input formControlName="vol" matInput placeholder="vol" readonly>
                        </mat-form-field> -->
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="10">
                          <input formControlName="condition" matInput placeholder="Condition" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="10">
                          <input formControlName="note" matInput placeholder="Note" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <div fxFlex="10">
                          <label>Process</label>
                          <mat-checkbox formControlName="process" (change)="passprocesssample(a,sample)"></mat-checkbox>
                        </div>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="10">
                          <input formControlName="processDate" matInput placeholder="Process Date" readonly>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <div fxFlex="10">
                          <label>Received</label>
                          <mat-checkbox formControlName="received" (change)="passreceived(a,sample)"></mat-checkbox>
                        </div>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="10">
                          <input formControlName="receivedDate" matInput placeholder="Received Date" readonly>
                        </mat-form-field>
                      </div>
                      <hr>
                    </div>
                  </div>

                </form>
              </div>

          </mat-tab>
          <mat-tab label="Sample Handling">
            <div class="content-card grey-100-bg" style="width: 110%; padding: 16px;">
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSampleHandling" matSort matSortActive="name" matSortDirection="asc"
                matSortDisableClear>


                <ng-container matColumnDef="name" style="text-align: center;">

                  <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.nama}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="estvol">

                  <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.estVol}}</mat-cell>

                </ng-container>

                <!-- <ng-container matColumnDef="vol">

                  <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.vol}}</mat-cell>

                </ng-container> -->

                <ng-container matColumnDef="condition">

                  <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.condition}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="note">

                  <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.note}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="received">

                  <mat-header-cell *matHeaderCellDef>Receive</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">
                    <mat-checkbox [checked]="samHan.received" disabled></mat-checkbox>
                  </mat-cell>

                </ng-container>

                <ng-container matColumnDef="receiveddate">

                  <mat-header-cell *matHeaderCellDef>Receive Date</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.receivedDate}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="receiveduser">

                  <mat-header-cell *matHeaderCellDef>Receive User</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.receiveUser}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="process">

                  <mat-header-cell *matHeaderCellDef>Process</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">
                    <mat-checkbox [checked]="samHan.process" disabled></mat-checkbox>
                  </mat-cell>

                </ng-container>

                <ng-container matColumnDef="processdate">

                  <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.processDate}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="processuser">

                  <mat-header-cell *matHeaderCellDef>Process User</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.processUser}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="samplehandlingid">

                  <mat-header-cell *matHeaderCellDef>Sample Handling Id</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.sampleHandlingId}}</mat-cell>

                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumnsSampleHandling"></mat-header-row>

                <mat-row *matRowDef="let samHan; columns: displayedColumnsSampleHandling">
                </mat-row>

              </mat-table>
            </div>
          </mat-tab>
          <mat-tab label="Specimen Handling">
              <div class="content-card grey-100-bg" style="width: 110%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" style="overflow: auto; width: 120%;" [dataSource]="dataSourceSpecimenHandling" matSort matSortActive="nama" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="nama">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>

                    <mat-cell *matCellDef="let specHand">{{specHand.nama}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="estvol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.estVol}}</mat-cell>

                  </ng-container>
  <!-- 
                  <ng-container matColumnDef="vol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.vol}}</mat-cell>

                  </ng-container> -->

                  <ng-container matColumnDef="conditionid">

                    <mat-header-cell *matHeaderCellDef>Condition Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.conditionId}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="condition">

                    <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.condition}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.note}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="send">

                    <mat-header-cell *matHeaderCellDef>Receive</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">
                      <mat-checkbox [checked]="specHand.received" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senddate">

                    <mat-header-cell *matHeaderCellDef>Receive Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.receivedDate}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="process">

                    <mat-header-cell *matHeaderCellDef>Send</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">
                      <mat-checkbox [checked]="specHand.process" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processdate">

                    <mat-header-cell *matHeaderCellDef>Send Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.processDate}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senduser">

                    <mat-header-cell *matHeaderCellDef>Receive User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.receiveUser}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processuser">

                    <mat-header-cell *matHeaderCellDef>Send User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.processUser}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsSpecimenHandling"></mat-header-row>

                  <mat-row *matRowDef="let specHand; columns: displayedColumnsSpecimenHandling">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Specimen Collection">
              <div class="content-card grey-100-bg" style="width: 110%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" style="overflow: auto; width: 120%;" [dataSource]="dataSourceSpecimenCollection" matSort matSortActive="nama" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="nama">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>

                    <mat-cell *matCellDef="let specCol">{{specCol.nama}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="estvol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.estVol}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="receiveuser">

                    <mat-header-cell *matHeaderCellDef>Receive User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.drawUser}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="receive">

                    <mat-header-cell *matHeaderCellDef>Receive</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">
                      <mat-checkbox [checked]="specCol.draw" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="specimenid">

                    <mat-header-cell *matHeaderCellDef>Specimen Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.specimenId}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="conditionid">

                    <mat-header-cell *matHeaderCellDef>Condition Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.conditionId}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.note}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="send">

                    <mat-header-cell *matHeaderCellDef>Send</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">
                      <mat-checkbox [checked]="specCol.received" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senddate">

                    <mat-header-cell *matHeaderCellDef>Send Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.receiveDate}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senduser">

                    <mat-header-cell *matHeaderCellDef>Send User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.receiveUser}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsSpecimenCollection"></mat-header-row>

                  <mat-row *matRowDef="let specCol; columns: displayedColumnsSpecimenCollection">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Condition">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="question" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="question">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Question</mat-header-cell>

                    <mat-cell *matCellDef="let detCond">{{detCond.question}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="answer">

                    <mat-header-cell *matHeaderCellDef>Answer</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.answer}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.note}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                  <mat-row *matRowDef="let detCond; columns: displayedColumns">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Patient Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <form style="padding: 10px;">
                      <div>
                        <mat-form-field fxFlex="100">
                          <textarea matInput placeholder="Catatan pasien" [value]="createData?.patientNote" readonly></textarea>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field fxFlex="30">
                          <input matInput placeholder="Nama Pasien" [value]="createData?.patientName" readonly>
                        </mat-form-field>
                        <!-- <div fxFlex="5"></div>
                        <mat-form-field fxFlex="30">
                          <input matInput placeholder="Date" [value]="createData?.regDate" readonly>
                        </mat-form-field>
                        <div fxFlex="5"></div> -->
                        <mat-form-field fxFlex="30">
                          <input matInput placeholder="Id Pasien" [value]="createData?.patientID" readonly>
                        </mat-form-field>
                      </div>
                    </form>
                  </div>
              </div>
          </mat-tab>
          <mat-tab label="Physician Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <form style="padding: 10px;">
                      <div>
                        <mat-form-field fxFlex="100">
                          <textarea matInput placeholder="Catatan Physician" [value]="createData?.doctornote" readonly></textarea>
                        </mat-form-field>
                      </div>
                      <div>
                          <mat-form-field fxFlex="30">
                              <input matInput placeholder="Physician" [value]="createData?.doctorName" readonly>
                          </mat-form-field>
                          <!-- <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="User" readonly>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="Date" [value]="createData?.regDate" readonly>
                          </mat-form-field> -->

                      </div>
                    </form>
                  </div>
              </div>
          </mat-tab>
          <mat-tab label="Referral Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <form  style="padding: 10px;">
                      <div>
                        <mat-form-field fxFlex="100">
                          <textarea matInput placeholder="Catatan Referral" [value]="createData?.referalNote"></textarea>
                        </mat-form-field>
                      </div>
                      <div>
                          <mat-form-field fxFlex="30">
                              <input matInput placeholder="Company" [value]="createData?.referalCompanyName" readonly>
                          </mat-form-field>
                          <!-- <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="User" readonly>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="Date" [value]="createData?.regDate" readonly>
                          </mat-form-field> -->

                      </div>
                    </form>
                  </div>
              </div>
          </mat-tab>
          <mat-tab label="Lab Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <h3 mat-subHeader>Note History</h3>
                    <div>
                      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceLabNote" matSort matSortActive="schedule" matSortDirection="asc"
                        matSortDisableClear>

                        <ng-container>

                          <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.registerId}}</mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="no">

                            <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>

                            <mat-cell *matCellDef="let noteLab; let i = index">{{ i + 1}}</mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="note">

                          <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>

                          <mat-cell *matCellDef="let noteLab">{{noteLab.labNote}}</mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="user">

                          <mat-header-cell *matHeaderCellDef>User</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.user}}</mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="date">

                          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.date}}</mat-cell>

                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumnsNoteLab"></mat-header-row>

                        <mat-row *matRowDef="let noteLab; columns: displayedColumnsNoteLab">
                        </mat-row>

                      </mat-table>
                    </div>
                    <mat-divider></mat-divider>
                    <h3 mat-subHeader>Tambah Note</h3>
                    <div>
                      <form [formGroup]="labNoteGroup" #formCtrlLabNote="ngForm">
                          <div formArrayName="labNotes">
                              <div *ngFor="let labnote of labNoteGroup.controls.labNotes['controls']; let i = index">
                                <div [formGroupName]="i">
                                  <mat-form-field fxFlex="50">
                                    <textarea matInput placeholder="Lab Note" formControlName="LabNote"></textarea>
                                  </mat-form-field>
                                  <div fxFlex="5"></div>
                                  <mat-form-field fxFlex="20">
                                    <input matInput placeholder="User" formControlName="user" readonly>
                                  </mat-form-field>
                                  <!-- <div fxFlex="2"></div>
                                  <mat-form-field fxFlex="20">
                                    <input matInput placeholder="Reg Id" formControlName="RegisterId">
                                  </mat-form-field> -->
                                  <div fxFlex="2"></div>
                                  <button mat-icon-button color="warn" (click)="deleteNoteValue(i)">
                                    <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
                                  </button>
                                </div>
                              </div>
                          </div>
                          <button mat-raised-button color="primary" (click)="addNoteValue()">Add</button>
                      </form>

                    </div>
                  </div>
            </div>
          </mat-tab>
          <mat-tab label="Schedule">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSch" matSort matSortActive="schedule" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="schedule">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Schedule</mat-header-cell>

                    <mat-cell *matCellDef="let detSch">{{detSch.schedule}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="test">

                    <mat-header-cell *matHeaderCellDef>Test</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.test}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="day">

                    <mat-header-cell *matHeaderCellDef>Day</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.day}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="time">

                    <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.time}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>

                  <mat-row *matRowDef="let detSch; columns: displayedColumns2">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Physician">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
              <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceDoctor" matSort matSortActive="doctorname" matSortDirection="asc"
                matSortDisableClear>

                <ng-container matColumnDef="doctorname">

                  <mat-header-cell *matHeaderCellDef mat-sort-header>Doctor Name</mat-header-cell>

                  <mat-cell *matCellDef="let doctor">{{doctor.doctorName}}</mat-cell>

                </ng-container>


                <ng-container matColumnDef="addressname">

                  <mat-header-cell *matHeaderCellDef>Address Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.addressName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="addressloc">

                  <mat-header-cell *matHeaderCellDef>Address Location</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.addressLocation}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="cityname">

                  <mat-header-cell *matHeaderCellDef>City Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.cityName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="formtypename">

                  <mat-header-cell *matHeaderCellDef>Form Type</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.formTypeName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="specialityname">

                  <mat-header-cell *matHeaderCellDef>Speciality Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.specialityName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="doctoraddressid">

                  <mat-header-cell *matHeaderCellDef>Doctor Address Id</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.doctorAddressId}}</mat-cell>

                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsDoctor"></mat-header-row>

                <mat-row *matRowDef="let doctor; columns: displayedColumnsDoctor">
                </mat-row>

              </mat-table> -->
                <form style="padding: 10px;">
                    <div>
                      <mat-form-field fxFlex="20">
                        <input matInput placeholder="gelar depan" [value]="doctor?.frontTitle" readonly/>
                      </mat-form-field>
                      <div fxFlex="2"></div>
                      <mat-form-field fxFlex="20">
                        <input matInput placeholder="Nama Dokter" [value]="doctor?.doctorName" readonly/>
                      </mat-form-field>
                      <div fxFlex="2"></div>
                      <mat-form-field fxFlex="20">
                        <input matInput placeholder="gelar belakang" [value]="doctor?.endTitle" readonly/>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field fxFlex="20">
                        <input matInput placeholder="Nama Alamat" [value]="doctor?.addressName" readonly/>
                      </mat-form-field>
                      <div fxFlex="2"></div>
                      <mat-form-field fxFlex="20">
                        <input matInput placeholder="Lokasi" [value]="doctor?.addressLocation" readonly/>
                      </mat-form-field>
                      <div fxFlex="2"></div>
                      <mat-form-field fxFlex="20">
                        <input matInput placeholder="Kota" [value]="doctor?.cityName" readonly/>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field fxFlex="30">
                        <input matInput placeholder="Form" [value]="doctor?.formTypeName" readonly/>
                      </mat-form-field>
                      <div fxFlex="2"></div>
                      <mat-form-field fxFlex="30">
                        <input matInput placeholder="Speciality" [value]="doctor?.specialtyName" readonly/>
                      </mat-form-field>
                    </div>
                    <!-- <div>
                    <mat-form-field fxFlex="50">
                      <input matInput placeholder="Id Alamat" [value]="doctor?.doctorAddressId"/>
                    </mat-form-field>
                  </div> -->
                </form>
                </div>
              </div>
          </mat-tab>
        </mat-tab-group>
        <!-- / CONTENT -->



      </div>
      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
  </div>
</div>
