<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Customer Relationship</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Registration</span>
      </div>
      <div class="h1 mt-16">Form Registrasi</div>
    </div>
  </div>

  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="mat-content">
    

    <div class="horizontal-stepper-wrapper">
      <!-- HORIZONTAL STEPPER EXAMPLE -->
      <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true" #stepper>
        <mat-step [stepControl]="horizontalStepperStepTest">
          <form [formGroup]="horizontalStepperStepTest" #formCtrlTest="ngForm">
            <ng-template matStepLabel>Test</ng-template>

            <div>
              <div style="display: none;"> {{ selection?.refreeId }}</div>
              <!-- <div> {{ selection?.refreeId }}</div> -->

              <mat-form-field fxFlex="48">
                <form>
                  <input matInput
                         placeholder="Pilih Referrals / Instansi"
                         [matAutocomplete]="autoref"
                         [formControl]="chooseRef"
                         [(ngModel)]="selection"
                         (input)="textChanged(chooseRef)"
                         [errorStateMatcher]="matcher" required>
                  <mat-autocomplete #autoref="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let refree of filteredRefs | async" [value]="refree" (onSelectionChange)="onRefreeSelected(refree)">
                      <span>{{ refree.refreeName }}</span>
                    </mat-option>
                  </mat-autocomplete>
                </form>
                <mat-error *ngIf="chooseRef.hasError('required')">
                  Referrals tidak boleh kosong
                </mat-error>
              </mat-form-field>

              <div fxFlex="4"></div>
              <div style="display: none;"> {{ selection2?.agreementId }} </div>
              <mat-form-field fxFlex="48">
                <form>
                  <input matInput placeholder="Pilih Agreement" [matAutocomplete]="autoagr"
                         [formControl]="chooseAgr" [(ngModel)]="selection2" required>
                  <mat-autocomplete #autoagr="matAutocomplete" [displayWith]="displayFn2">
                    <mat-option *ngFor="let agreement of filteredAgrs | async" [value]="agreement" (onSelectionChange)="onAgreeSelected(agreement)">
                      <span>{{ agreement.agreement }}</span>
                    </mat-option>
                  </mat-autocomplete>
                </form>
                <mat-error *ngIf="chooseAgr.hasError('required')">
                  Agreement tidak boleh kosong
                </mat-error>
              </mat-form-field>

            </div>
            <div>
              <mat-form-field fxFlex="48">
                <span matTooltip="Hanya dapat dibaca!">
                  <textarea matInput placeholder="Note Referrals / Instansi (Read Only!)" readonly>{{ selection?.refreeNote != null ? selection?.refreeNote : null }}</textarea>
                </span>
              </mat-form-field>
              <div fxFlex="4"></div>
              <mat-form-field fxFlex="48">
                <span matTooltip="Hanya dapat dibaca!">
                  <textarea matInput placeholder="Note Agreement (Read Only!)" readonly>{{ selection2?.agreementNote }}</textarea>
                </span>
              </mat-form-field>
            </div>
          </form>

          <!--{{ verticalStepperStepTest.value | json }}<br>
  {{ verticalStepperStepCondition.value | json }}-->

          <mat-vertical-stepper class="mat-elevation-z4" [linear]="true" #Vstepper>
            <mat-step [stepControl]="verticalStepperStepTest">
              <ng-template matStepLabel>Test</ng-template>
              <form [formGroup]="verticalStepperStepTest" #formCtrlSubTest="ngForm">
                <div #autoloadtest (click)="loadelementtest()">
                  <p-message severity="warn" text="silahkan pindahkan pilihan pada bagian 'Tes yang dipilih'"></p-message>
                </div>
                <br>
                <div>
                  <p-pickList [source]="sourceTes" [target]="targetTes" sourceHeader="Tes yang tersedia" targetHeader="Tes yang dipilih" [responsive]="true"
                              [showSourceControls]="false" [showTargetControls]="false" filterBy="testName" dragdrop="true" dragdropScope="tes" [showSourceFilter]="true"
                              sourceFilterPlaceholder="Pencarian berdasarkan nama" targetFilterPlaceholder="Pencarian berdasarkan nama tes"
                              [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" (onMoveToTarget)="onTargetFilled($event, targetTes)"
                              (onMoveToSource)="onTargetOuted($event,targetTes)" (keydown)="cleartime()" (keyup)="testt($event)">
                    <ng-template let-tes pTemplate="item">
                      <div #autoclick class="ui-helper-clearfix" (click)="loadelement()" style="border-bottom: 1px solid #ddd">
                        <div style="font-size:12px;float:left;padding:5px 5px 0 0">
                          {{tes.testName}} - {{tes.testId}} - {{tes.testGroupName}} - {{tes.testScheduleName}}
                        </div>
                      </div>
                    </ng-template>
                  </p-pickList>
                  <br>
                  <div style="text-align: right;">
                   
                      <b>Total Price  </b>
                      
                      <input appMycurrency style="text-align: right;width:auto;" id="Bruto" matInput placeholder="Total harga normal" [value]="TotalBruto | number" readonly>
                      
                    
                  </div><br />
                  <div  style="text-align: right;">
                   
                      <b>Total Discount </b>
                      
                      <input appMycurrency style="text-align: right;width:auto;" id="Diskon" matInput placeholder="Total diskon" [value]="TotalDiskon | number" readonly>
                      
                    
                  </div><br />
                  <div style="text-align: right;" >
                  
                      <b>Total Payable </b>
                     
                      <input appMycurrency style="text-align: right;width:auto;" id="Netto" matInput placeholder="Total harga yang dibayar" [value]="TotalNetto | number" readonly>
                     
                   
                  </div>
                 
                </div><br />
                <div class="pt-24" fxLayout="row" fxLayoutAlign="end end">                                 
                  <button mat-raised-button matStepperNext type="button" color="warn"
                          [disabled]="!formCtrlSubTest.form.valid"
                          (click)="addConditionValue(targetTes, stepKondisi)">
                    Next
                  </button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="verticalStepperStepCondition" #stepKondisi>
              <ng-template matStepLabel>Condition</ng-template>
              <form [formGroup]="verticalStepperStepCondition" #formCtrlSubCondition="ngForm">
                <div #autoclickcond (click)="loadcondelement()">
                  <mat-card>
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image">
                        <mat-icon>home</mat-icon>
                      </div>
                      <mat-card-title>Detail Condition</mat-card-title>
                    </mat-card-header>
                    <div formArrayName="condition">
                      <div *ngFor="let action of verticalStepperStepCondition.controls.condition['controls']; let i = index">
                        <div [formGroupName]="i">

                          <!-- <div *ngFor="let cn of cond; let y = index"> -->
                          <!-- <div> -->
                          <!-- <div class="example-container"> -->
                          <mat-form-field fxFlex="50">
                            <!-- <div *ngFor="let cond of conditionArray;">{{ cond.QuestionName }}</div> -->
                            <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
                                      formControlName="question" matAutosizeMaxRows="3"
                                      placeholder="Pertanyaan" readonly></textarea>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <div fxFlex="20">
                            <label style="font-size: 10px;">Jawaban</label>
                            <ng-select [items]="jawabanarr" bindLabel="answerName" bindValue="answerID"
                                       placeholder="Jawaban" [typeahead]="typeahead" [addTag]="true"
                                       formControlName="answerID" (focus)="onfilledjawaban($event,action.controls.questionID.value)" (click)="onfilledjawaban($event,action.controls.questionID.value)" (change)="inputjawaban($event,i,action)">
                              <ng-template ng-option-tmp let-item="item">
                                {{item.answerName}}
                              </ng-template>
                            </ng-select>
                          </div>
                          <!--<mat-form-field fxFlex="10">

                    <mat-select placeholder="Jawaban" formControlName="answerID" name="answerID"
                                [value]="action.controls.answers.answerName"
                                (click)="passIndexValue(action.controls.questionID.value)"
                                [disabled]="action.controls.answers.value?.length < 1 ? true : false">
                      <mat-option *ngFor="let answer of answersIN" [value]="answer.answerID"
                                  (click)="passValue(i,answer.answerID,answer.answerName,action)">
                        {{answer.answerName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>-->
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="36">
                            <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
                                      formControlName="note" matAutosizeMaxRows="3" placeholder="Catatan Kondisi"
                                      (change)="passValueNote(i,action)"></textarea>
                          </mat-form-field>
                          <!-- </div> -->
                          <hr>
                          <!-- <div fxFlex="10">
                    <button mat-raised-button color="warn" (click)="deleteConditionValue(y)">Delete</button>
                  </div> -->
                        </div>
                      </div>
                    </div>
                  </mat-card>
                  <!-- <button mat-raised-button color="primary" (click)="addConditionValue()">Add</button> -->

                  <div class="pt-24" fxLayout="row" fxLayoutAlign="end end">
                    <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="primary">
                      Previous
                    </button>
                    <button mat-raised-button matStepperNext type="button" color="warn"
                            [disabled]="!formCtrlSubCondition.form.valid"
                            (click)="addScheduleValue(stepSchedule)">
                      Next
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="verticalStepperStepSchedule" #stepSchedule>
              <ng-template matStepLabel>Schedule</ng-template>
              <form [formGroup]="verticalStepperStepSchedule" #formCtrlSubSchedule="ngForm">
                <div #autoloadsch (click)="loadelementsch()">
                  <mat-card>
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image">
                        <mat-icon>home</mat-icon>
                      </div>
                      <mat-card-title>Detail Schedule</mat-card-title>
                    </mat-card-header>

                    <div formArrayName="scheduleTEST">
                      <div *ngFor="let sch of verticalStepperStepSchedule.controls.scheduleTEST['controls']; let z = index">
                        <div [formGroupName]="z">
                          <mat-form-field fxFlex="33">
                            <!-- <input type="hidden" formControlName="scheduleID" [(ngModel)]="sch.scheduleID"> -->
                            <input formControlName="scheduleName" matInput placeholder="Jadwal" readonly>
                          </mat-form-field>
                          <div fxFlex="1"></div>
                          <!--<mat-form-field fxFlex="24">
                    <input formControlName="test" matInput placeholder="Test" readonly>
                  </mat-form-field>-->
                          <div fxFlex="1"></div>
                          <div fxFlex="20">
                            <!-- <input matInput placeholder="Tanggal" id="schDate" [value]="sch.date" readonly> -->
                            <!-- <input matInput placeholder="Tanggal" type="date" id="schDate"
                    formControlName="date"> -->
                            <label for="date">Tanggal Selesai</label>
                            <p-inputMask formControlName="date" mask="99-99-9999"
                                         slotChar="dd-MM-yyyy"></p-inputMask>
                            <!-- <mat-error *ngIf="formErrors.chooseDate.required">
                        Required
                    </mat-error> -->
                            <!-- <mat-datepicker-toggle matSuffix [for]="schPicker"></mat-datepicker-toggle>
                    <mat-datepicker #schPicker></mat-datepicker> -->
                          </div>
                          <div fxFlex="1"></div>
                          <mat-form-field fxFlex="20">
                            <input type="time" mat-timepicker matInput placeholder="Jam Jadwal" id="jamJadwal" formControlName="time">
                            <!-- <input matInput placeholder="Jam " id="jamJadwal" [value]="sch.time" readonly> -->
                          </mat-form-field>
                          <div fxFlex="1"></div>
                          <div fxFlex="10">
                            <!-- <button mat-raised-button color="warn" (click)="deleteScheduleValue(z)">Delete</button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                  <!-- <button mat-raised-button color="primary" (click)="addScheduleValue()">Add</button> -->

                  <div class="pt-24" fxLayout="row" fxLayoutAlign="end end">
                    <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="primary">
                      Previous
                    </button>
                    <button mat-raised-button matStepperNext type="button" color="warn"
                            [disabled]="!formCtrlSubSchedule.form.valid"
                            (click)="addPriceValue(stepPrice)">
                      Next
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="verticalStepperStepPrice" #stepPrice>
              <ng-template matStepLabel>Price</ng-template>
              <form [formGroup]="verticalStepperStepPrice">
                <div #autoloadprice (click)="loadelementprice()">
                  <mat-card>
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image">
                        <mat-icon>home</mat-icon>
                      </div>
                      <mat-card-title>Detail Harga</mat-card-title>
                    </mat-card-header>
                    <div content-card grey-100-bg>
                        <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourcePrice" matSort matSortActive="regno" matSortDirection="asc"
                        matSortDisableClear>
                
                        <ng-container matColumnDef="no">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>
                            <mat-cell *matCellDef="let price; let i=index">{{ i+1 }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="test">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Test</mat-header-cell>
                          <mat-cell *matCellDef="let price">{{price.testName}}</mat-cell>
                        </ng-container>
                
                
                        <ng-container matColumnDef="amount">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                          <mat-cell *matCellDef="let price">{{price.price | number}}</mat-cell>
                        </ng-container>
                
                
                        <ng-container matColumnDef="discount">
                          <mat-header-cell *matHeaderCellDef>Discount</mat-header-cell>
                          <mat-cell class="description-cell" *matCellDef="let price">{{price.discount | number}}</mat-cell>
                        </ng-container>
                
                        <ng-container matColumnDef="status">
                          <mat-header-cell *matHeaderCellDef>Pay amount</mat-header-cell>
                          <mat-cell class="description-cell" *matCellDef="let price">{{price.payable | number}}</mat-cell>
                        </ng-container>
                
                        <mat-header-row *matHeaderRowDef="displayedColumnsPrice"></mat-header-row>
                
                        <mat-row *matRowDef="let price; columns: displayedColumnsPrice" >
                        </mat-row>
                
                      </mat-table>
                    </div>
                    <br>
                    <hr>
                    <div style="text-align: right;">
                      <div>
                        <p>
                          <b>Total Price : </b>{{summary?.summaryPrice | number}}
                        </p>
                      </div>
                      <div>
                        <p>
                          <b>Total Discount :</b> {{summary?.summaryDiscount | number}}
                        </p>
                      </div>
                      <div>
                        <p>
                          <b>Total Payable :</b> {{summary?.summaryPayable | number}}
                        </p>
                      </div>
                    </div>
                    <hr>

                  </mat-card>
                  <!-- <button mat-raised-button color="primary" (click)="addPriceValue()">Add</button> -->

                  <div class="pt-24" fxLayout="row" fxLayoutAlign="end end">
                    <div fxFlex="2"></div>
                    <div fxFlex="15">
                      Apakah pasien setuju?<mat-checkbox name="continue" (change)="Nextverify($event)">Ya</mat-checkbox>
                    </div>
                    <div fxFlex="2"></div>
                    <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="primary">
                      Previous
                    </button>
                  </div>
                </div>
              </form>
            </mat-step>
          </mat-vertical-stepper>        
          <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button matStepperNext  [disabled]="!verifyok"
                    type="button" color="accent">
              Next
            </button>
          </div>
        </mat-step>

        <mat-step [stepControl]="horizontalStepperStepRegister">
          <form [formGroup]="horizontalStepperStepRegister" #formCtrlReg="ngForm">
            <ng-template matStepLabel>Register</ng-template>
             <!-- {{ horizontalStepperStepRegister.value | json }} -->
            <div>

              <mat-form-field fxFlex="83">
                <form>
                  <input placeholder="Pilih salah satu pasien" matInput [formControl]="choosePatient"
                   [matAutocomplete]="autopat" [(ngModel)]="selection3" [readonly]="checked">
                  <mat-autocomplete #autopat="matAutocomplete" [displayWith]="displayFn3">
                    <mat-option *ngFor="let patient of filteredPatient | async" [value]="patient" (onSelectionChange)="onPasienSelected(patient)"
                      style=" border: 1px solid #ddd;">

                      <table id="myTable">
                        <tr>
                          <td style="text-align: left;">
                            {{patient.pasienID}}
                          </td>
                          <td style="text-align: left;">
                            {{patient.pasienNama}}
                          </td>
                          <td style="text-align: left;">
                            {{patient.pasienTanggalLahir}}
                          </td>
                          <td style="text-align: left;">
                            {{patient.pasienAlamat}}
                          </td>
                          <td style="text-align: left;">
                            {{patient.kota}}
                          </td>
                        </tr>
                      </table>
                    </mat-option>
                  </mat-autocomplete>
                </form>
              </mat-form-field>
              <div fxFlex="2"></div>
              <div fxFlex="15">
                <form>
                  <mat-checkbox [(ngModel)]="checked" name="checked"
                    (change)="onNewInput($event)">Pasien baru ?</mat-checkbox>
                </form>
              </div>
            </div>
            <div>
              <div>
                <mat-form-field fxFlex="15">
                  <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                    <input matInput placeholder="ID Pasien" formControlName="pasienID"
                    [value]="(patientData?.pasienID) != null ? patientData?.pasienID : null" readonly>
                  <!-- </span> -->
                </mat-form-field>
                <div fxFlex="2"></div>
                <mat-form-field fxFlex="38">
                  <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                    <input matInput placeholder="Nama Pasien" formControlName="pasienNama"
                    [value]="(patientData?.pasienNama) != null ? patientData?.pasienNama : null"
                    style="font-size: 12px;" [readonly]="!checked" [required]="checked"/>
                    <div style="color: red; padding-top: 10px; position: absolute; font-size: 12px;" *ngIf="!horizontalStepperStepRegister.controls['pasienNama'].valid ">
                      Nama Pasien diperlukan
                    </div> 
                  <!-- </span> -->
                </mat-form-field>
                
                <div fxFlex="2"></div>
                <div fxFlex="18" >
                  <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                    <!-- <input matInput placeholder="Tanggal Lahir" id="date" formControlName="pasienTanggalLahir"
                      [value]="patientData?.pasienTanggalLahir != null ? patientData?.pasienTanggalLahir : null"
                      [readonly]="!checked"> -->
                    <label for="date">Tanggal Lahir</label>
                    <p-inputMask formControlName="pasienTanggalLahir" mask="99-99-9999"
                      slotChar="dd-MM-yyyy" [readonly]="!checked" [required]="checked" (keyup)="calculateAge($event)"></p-inputMask>
                      <div style="color: red;" *ngIf="!horizontalStepperStepRegister.controls['pasienTanggalLahir'].valid ">
                        Tanggal lahir diperlukan
                      </div>
                      <!-- <mat-datepicker-toggle matSuffix [for]="pickerInit" [readonly]="!checked"></mat-datepicker-toggle>
                      <mat-datepicker #pickerInit [readonly]="!checked"></mat-datepicker> -->
                  <!-- </span> -->
                </div>
                <div fxFlex="2"></div>
                <mat-form-field fxFlex="23">
                  <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                    <input matInput placeholder="Umur" formControlName="pasienUmur"
                    [value]="(patientData?.pasienUmur) != null ? patientData?.pasienUmur : null"
                    readonly>
                  <!-- </span> -->
                </mat-form-field>
              </div>
              <div>
                <mat-form-field fxFlex="15" *ngIf="!checked">
                  <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                  <input matInput placeholder="Kota Lahir" formControlName="pasienTempatLahir"
                         [value]="(patientData?.pasienTempatLahir) != null ? patientData?.pasienTempatLahir : null"
                         [readonly]="!checked" [required]="checked">
                  <!-- </span> -->
                </mat-form-field>
                <div fxFlex="15" *ngIf="checked">
                  <label style="font-size: 10px;">Kota Lahir</label>
                  <ng-select [items]="pasienTL" bindLabel="cityName" bindValue="cityName"
                             placeholder="Kota Lahir" [typeahead]="typeahead" [addTag]="true" (change)="onchangeTL($event)"
                             formControlName="pasienTempatLahir" (focus)="onfilledTL($event)" (click)="onfilledTL($event)" (input)="inputTL($event)">
                    <ng-template ng-option-tmp let-item="item">
                      {{item.cityName}}
                    </ng-template>
                  </ng-select>
                </div>

                <div fxFlex="2"></div>
                <mat-form-field fxFlex="18">

                  <mat-select placeholder="Title" formControlName="pasienTitle" name="title" *ngIf="checked">
                    <mat-option *ngFor="let title of PasienTitle" [value]="title.titleId">
                      {{title.titleName}}
                    </mat-option>
                  </mat-select>

                  <input matInput placeholder="Title" *ngIf="!checked" formControlName="pasienTitle"
                         [value]="(patientData?.pasienTitle) != null ? patientData?.pasienTitle : null"
                         [readonly]="!checked">

                </mat-form-field>

                <div fxFlex="2"></div>
                <mat-form-field fxFlex="18">
                  <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                  <mat-select placeholder="Jenis kelamin" formControlName="pasienGenderId" name="sex">
                    <mat-option *ngFor="let sex of pasienSex" [value]="sex.sexId" (onSelectionChange)="onGenderChg($event, sex)">
                      {{sex.sexName}}
                    </mat-option>
                  </mat-select>

                  <!-- <input matInput placeholder="Jenis kelamin" formControlName="pasienGender"
                         [value]="(patientData?.pasienGender) != null ? patientData?.pasienGender : null"> -->
                  <!-- </span> -->
                </mat-form-field>
                <div fxFlex="2"></div>
                <mat-form-field fxFlex="18">
                  <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                  <mat-select placeholder="Agama" formControlName="pasienAgamaId" name="pasienAgama">
                    <mat-option *ngFor="let pasienAgama of PasienAgama" [value]="pasienAgama.religionId" (onSelectionChange)="onAgamaChg($event, pasienAgama)">
                      {{pasienAgama.religionName}}
                    </mat-option>
                  </mat-select>


                  <!-- <input matInput placeholder="Agama" formControlName="pasienAgama"
                         [value]="(patientData?.pasienAgama) != null ? patientData?.pasienAgama : null"> -->
                  <!-- </span> -->
                </mat-form-field>
                <div fxFlex="2"></div>
                <mat-form-field fxFlex="43">
                  <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                  <mat-select placeholder="Pangkat" formControlName="pasienPangkatId" name="pasienPangkat">
                    <mat-option *ngFor="let pasienPangkat of PasienPangkat" [value]="pasienPangkat.pangkatId" (onSelectionChange)="onPangkatChg($event, pasienPangkat)">
                      {{pasienPangkat.pangkatName}}
                    </mat-option>
                  </mat-select>
                  <!-- <input matInput placeholder="Pangkat" formControlName="pasienPangkat"
                         [value]="(patientData?.pasienPangkat) != null ? patientData?.pasienPangkat : null"> -->
                  <!-- </span> -->
                </mat-form-field>
              </div>
              <div>
                <div fxFlex="15" style="padding: 10px 0 0 0">
                  <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                  <mat-checkbox [checked]="(patientData?.pasienRealDOB) != null ? patientData?.pasienRealDOB : true"
                                formControlName="pasienRealDOB" [readonly]="!checked">RealDOB</mat-checkbox>
                  <!-- </span> -->
                </div>
                <div fxFlex="2"></div>
                <div fxFlex="18" style="padding: 10px 0 0 0">
                  <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                  <mat-checkbox [checked]="(patientData?.pasienAlive) != null ? patientData?.pasienAlive : true"
                                formControlName="pasienAlive">Alive</mat-checkbox>
                  <!-- </span> -->
                </div>
                <div fxFlex="2"></div>
                <mat-form-field fxFlex="43">
                  <textarea matInput formControlName="pasienNote" placeholder="Patient Note"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div>
              <div fxFlex="2"></div>
              <mat-form-field fxFlex="23">
                <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                <input matInput placeholder="NIK" formControlName="nik"
                       [value]="(patientData?.nik) != null ? patientData?.nik : null"
                       [readonly]="!checked">
                <!-- </span> -->
              </mat-form-field>

              <div fxFlex="2"></div>
              <mat-form-field fxFlex="23">
                <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                <input matInput placeholder="NIP" formControlName="nip"
                       [value]="(patientData?.nip) != null ? patientData?.nip : null">
                <!-- </span> -->
              </mat-form-field>

              <div fxFlex="2"></div>
              <mat-form-field fxFlex="23">
                <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                <input matInput placeholder="Departement" formControlName="department"
                       [value]="(patientData?.department) != null ? patientData?.department : null">
                <!-- </span> -->
              </mat-form-field>

              <div fxFlex="2"></div>
              <mat-form-field fxFlex="23">
                <!-- <span matTooltip="Hanya dapat dibaca!"> -->
                <input matInput placeholder="Job Title" formControlName="jobTitle"
                       [value]="(patientData?.jobTitle) != null ? patientData?.jobTitle : null">
                <!-- </span> -->
              </mat-form-field>

            </div>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <mat-icon>home</mat-icon>
                </div>
                <mat-card-title>Detail Alamat Pasien</mat-card-title>
              </mat-card-header>
              <div formArrayName="pasienAddress">
                <div *ngFor="let address of horizontalStepperStepRegister.controls.pasienAddress['controls']; let i = index">
                  <div [formGroupName]="i">
                    <mat-form-field fxFlex="10">
                      <input matInput placeholder="Lokasi" formControlName="addressLocation" [errorStateMatcher]="matcher" required>
                      <mat-error *ngIf="address.get('addressLocation').hasError('required')">
                        Lokasi tidak boleh kosong
                      </mat-error>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="10">
                      <input matInput placeholder="Alamat" formControlName="addressName" [errorStateMatcher]="matcher" required>
                      <mat-error *ngIf="address.get('addressName').hasError('required')">
                        Nama alamat tidak boleh kosong
                      </mat-error>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <div fxFlex="20" *ngIf="hid_type[i]" >
                      <label style="font-size: 10px;">Tipe Address</label>
                      <ng-select [items]="pasienType" bindLabel="addressType" bindValue="addressType"
                                 placeholder="Tipe" [typeahead]="typeahead" [addTag]="true" (change)="onchangeTipe($event,i)"
                                 formControlName="addressType" [errorStateMatcher]="matcher" (focus)="onfilledType($event)" (click)="onfilledType($event)" (input)="inputType($event)">
                        <ng-template ng-option-tmp let-item="item">
                          {{item.addressType}}
                        </ng-template>
                      </ng-select>
                      <mat-error *ngIf="address.get('addressType').hasError('required')">
                        Tipe tidak boleh kosong
                      </mat-error>
                    </div>
                    <!--<mat-form-field fxFlex="10" *ngIf="patientData !== null && patientData?.pasienAddress[i] === undefined && pasienType == '' ">
                      <input matInput placeholder="Tipe" formControlName="addressType" (click)="onfilledType($event)"  required>
                    </mat-form-field>-->
                    <mat-form-field fxFlex="10" *ngIf="!hid_type[i]">
                      <input matInput placeholder="Tipe" formControlName="addressType" [errorStateMatcher]="matcher" (click)="hidtype($event,horizontalStepperStepRegister.controls.pasienAddress['controls'],i)"  [value]="horizontalStepperStepRegister.controls.pasienAddress['controls'][i].value.addressType" required>
                      <mat-error *ngIf="address.get('addressType').hasError('required')">
                        Tipe tidak boleh kosong
                      </mat-error>
                      <!--<mat-select placeholder="Tipe" formControlName="addressType" name="AddressType" required>
                        <mat-option *ngFor="let AddressType of pasienAddressType" [value]="AddressType.addressTypeId">
                          {{AddressType.addressTypeName}}
                        </mat-option>
                      </mat-select>-->
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <div fxFlex="20" *ngIf="hid_address[i]">
                      <label style="font-size: 10px;">City</label>
                      <ng-select [items]="pasienCity" bindLabel="cityName" bindValue="cityName"
                                 placeholder="Kota" [typeahead]="typeahead" [addTag]="true" (change)="onchangeCity($event,i)"
                                 formControlName="addressCity" [errorStateMatcher]="matcher" (focus)="onfilledCity($event)" (click)="onfilledCity($event)" (input)="inputcity($event)">
                        <ng-template ng-option-tmp let-item="item">
                          {{item.cityName}}
                        </ng-template>
                      </ng-select>
                      <mat-error *ngIf="address.get('addressCity').hasError('required')">
                        Kota tidak boleh kosong
                      </mat-error> 
                    </div>
                    <!--<mat-form-field fxFlex="10" *ngIf="patientData !== null && patientData?.pasienAddress[i] === undefined && pasienCity==''">
                      <input matInput placeholder="Kota" formControlName="addressCity" (click)="onfilledCity($event)"  required>

                    </mat-form-field>-->
                   <mat-form-field fxFlex="10" *ngIf="!hid_address[i]">
                     <input matInput placeholder="Kota" formControlName="addressCity" (click)="hidKota($event,horizontalStepperStepRegister.controls.pasienAddress['controls'],i)"  [value]="horizontalStepperStepRegister.controls.pasienAddress['controls'][i].value.addressCity" [errorStateMatcher]="matcher" required>
                     <mat-error *ngIf="address.get('addressCity').hasError('required')">
                      Kota tidak boleh kosong
                    </mat-error> 
                     <!--<mat-select placeholder="Kota" formControlName="addressCity" name="addressCity" required>
                        <mat-option *ngFor="let addressCity of pasienCity" [value]="addressCity.cityId">
                          {{addressCity.cityName}}
                        </mat-option>
                      </mat-select>-->
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="8">
                      <input matInput placeholder="Kode Pos"
                        formControlName="addressPostCode"
                        pattern="[0-9]*"
                        minlength="5"
                        maxlength="5"
                        [errorStateMatcher]="matcher"
                        required>

                      
                      <mat-error *ngIf="address.get('addressPostCode').hasError('required')">
                        Kode Pos tidak boleh kosong
                      </mat-error>
                      <mat-error *ngIf="address.get('addressPostCode').hasError('pattern')">
                        Kode Pos harus berupa angka
                      </mat-error>
                      <mat-error *ngIf="address.get('addressPostCode').hasError('minlength')">
                        Kode Pos minimal 5 karakter
                      </mat-error>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="10">
                      <input matInput placeholder="Telp"
                       pattern="[0-9]*"
                       formControlName="addressPhone"
                       [errorStateMatcher]="matcher"
                       maxlength="15"
                       required>
                       <mat-error *ngIf="address.get('addressPhone').hasError('required')">
                        Telepon tidak boleh kosong
                      </mat-error>
                      <mat-error *ngIf="address.get('addressPhone').hasError('pattern')">
                        Telepon harus berupa angka
                      </mat-error> 
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="10">
                      <input matInput placeholder="Fax"
                       pattern="[0-9]*"
                       maxlength="15"
                       [errorStateMatcher]="matcher"
                       formControlName="addressFax">
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <button mat-icon-button color="warn" (click)="deleteAddressValue(i)">
                      <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
            <button mat-raised-button color="primary" (click)="addAddressValue()">Add</button>
            <br>
            <br>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <mat-icon>phone</mat-icon>
                </div>
                <mat-card-title>Detail Kontak Pasien</mat-card-title>
              </mat-card-header>
              <div formArrayName="pasienContact">
                <div *ngFor="let contact of horizontalStepperStepRegister.controls.pasienContact['controls']; let i = index">
                  <div [formGroupName]="i">
                    <div fxFlex="20" *ngIf="hid_contact[i]">
                      <label style="font-size: 10px;">Tipe </label>
                      <ng-select [items]="pasienContact" bindLabel="messangerType" bindValue="messangerType"
                                 placeholder="Tipe" [typeahead]="typeahead" [addTag]="true" (change)="onchangeContactTipe($event,i)"
                                 formControlName="messangerType" (focus)="onfilledCard($event)" (click)="onfilledContactType($event)" (input)="inputContactType($event)">
                        <ng-template ng-option-tmp let-item="item">
                          {{item.messangerType}}
                        </ng-template>
                      </ng-select>
                      <mat-error *ngIf="contact.get('messangerTypeId').hasError('required')">
                        Tipe tidak boleh kosong
                      </mat-error>
                    </div>
                    <mat-form-field fxFlex="10" *ngIf="!hid_contact[i]">
                      <input matInput placeholder="Tipe" formControlName="messangerTypeId" (focus)="hidContacttype($event,horizontalStepperStepRegister.controls.pasienContact['controls'],i)"
                                 (click)="hidContacttype($event,horizontalStepperStepRegister.controls.pasienContact['controls'],i)" [value]="horizontalStepperStepRegister.controls.pasienContact['controls'][i].value.messangerType" [errorStateMatcher]="matcher" required>
                      <mat-error *ngIf="contact.get('messangerTypeId').hasError('required')">
                      Tipe tidak boleh kosong
                    </mat-error>
                    </mat-form-field>
                    <!--<mat-form-field fxFlex="20">
                      <mat-select placeholder="Tipe" formControlName="MessangerTypeId" required>
                        <mat-option value="0">Email</mat-option>
                        <mat-option value="1">Email 2</mat-option>
                        <mat-option value="2">BBM</mat-option>
                        <mat-option value="3">Telp</mat-option>
                      </mat-select>
                    </mat-form-field>-->
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex="38">
                      <input matInput placeholder="Kontak" formControlName="messangerName" [errorStateMatcher]="matcher" required>
                      <mat-error *ngIf="contact.get('messangerName').hasError('required')">
                        Nama tidak boleh kosong
                      </mat-error>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <button mat-icon-button color="warn" (click)="deleteContactValue(i)">
                      <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
            <button mat-raised-button color="primary" (click)="addContactValue()">Add</button>
            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
              <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                Previous
              </button>
              <button mat-raised-button matStepperNext [disabled]="!formCtrlReg.form.valid" type="button" color="accent">
                Next
              </button>
              <!-- <button mat-raised-button matStepperNext type="button" color="accent">
                Next
              </button> -->
            </div>
          </form>

        </mat-step>

        <mat-step [stepControl]="horizontalStepperStepDoctor">
          <form [formGroup]="horizontalStepperStepDoctor" #formCtrlDoc="ngForm">
            <ng-template matStepLabel>Referrer / Pengirim</ng-template>
            <div>

              <mat-form-field fxFlex="70">
                <input placeholder="Nama referrer / pengirim, Form, Pemeriksaan, lokasi, kota" matInput [formControl]="chooseDoc" [(ngModel)]="selection4"
                  [matAutocomplete]="autoDoc" [errorStateMatcher]="matcher" required>
                <mat-autocomplete #autoDoc="matAutocomplete" [displayWith]="displayFn4">
                  <mat-option *ngFor="let doctor of filteredDoctor | async" [value]="doctor" style=" border: 1px solid #ddd;" (onSelectionChange)="onDokterSelected(doctor)">
                    <table id="myTable">
                      <tr>
                        <td style="text-align: left;">
                          {{doctor.dokterID}} -
                        </td>
                        <td style="word-wrap: break-word; text-align: center;padding: 3px;">
                          {{doctor.frontTitle}} -
                        </td>
                        <td style="word-wrap: break-word; text-align: center;padding: 3px;">
                          {{doctor.dokterNama}} -
                        </td>
                        <td style="word-wrap: break-word; text-align: center;padding: 3px;">
                          {{doctor.endTitle}} -
                        </td>
                        <td style="word-wrap: break-word; text-align: center;padding: 3px;">
                          {{doctor.dokterLocation}} -
                        </td>
                        <td style="word-wrap: break-word; text-align: center;padding: 3px;">
                          {{doctor.dokterAlamat}}
                        </td>
                      </tr>
                    </table>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="chooseDoc.hasError('required')">
                  Dokter tidak boleh kosong
                </mat-error>
              </mat-form-field>
              <div fxFlex="5"></div>
              <mat-form-field fxFlex="20">
                <input placeholder="Form" matInput [formControl]="chooseForm" [ngModel]="selection4" [matAutocomplete]="autoForm" [errorStateMatcher]="matcher" required>
                <mat-autocomplete #autoForm="matAutocomplete" [displayWith]="displayFn5">
                  <mat-option *ngFor="let form of filteredForm | async" [value]="form" style=" border: 1px solid #ddd;"
                    (onSelectionChange)="onFormSelected(form)">

                    <table id="myTable">
                      <tr>
                        <td style="word-wrap: break-word; text-align: center;padding: 3px;">
                          {{form.dokterForm}}
                        </td>
                      </tr>
                    </table>
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="chooseForm.hasError('required')">
                  Form tidak boleh kosong
                </mat-error>
              </mat-form-field>

            </div>
            <div>
              <mat-form-field fxFlex="100">
                <textarea matInput formControlName="diagnoseNote" placeholder="Diagnose Note"
                  (input)="onDiagnoseNote($event.target.value)" [errorStateMatcher]="matcher" required></textarea>
                  <div style="color: red; padding-top: 10px; position: absolute; font-size: 12px;" *ngIf="!horizontalStepperStepDoctor.controls['diagnoseNote'].valid ">
                    Catatan diagnosa diperlukan
                  </div> 
              </mat-form-field>
            </div>
            <br>
            <br>
            <div>
              <mat-card>
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image">
                    <mat-icon>local_hospital</mat-icon>
                  </div>
                  <mat-card-title>Penyerahan Hasil</mat-card-title>
                </mat-card-header>
                <div formArrayName="registerResultTO">
                  <div *ngFor="let action of horizontalStepperStepDoctor.controls.registerResultTO['controls']; let i = index">
                    <div [formGroupName]="i">
                      <mat-form-field fxFlex="13">
                        <mat-select placeholder="Hasil" formControlName="resultActionID" name="act" [errorStateMatcher]="matcher" required>
                          <mat-option *ngFor="let act of docAct" [value]="act.resultActionID">
                            {{act.resultAction}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="action.get('resultActionID').hasError('required')">Hasil tidak boleh kosong</mat-error>
                        <!-- <mat-hint>{{actionDoc.value?.resultActionID}}</mat-hint> -->
                      </mat-form-field>
                      <div fxFlex="2"></div>
                      <mat-form-field fxFlex="30">
                        <mat-select placeholder="Tujuan" formControlName="resultToID" name="dto" [errorStateMatcher]="matcher" required>
                          <mat-option *ngFor="let dto of docTo" [value]="dto.resultActionID">
                            {{dto.resultAction}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="action.get('resultToID').hasError('required')">Tujuan tidak boleh kosong</mat-error>
                        <!-- <mat-hint>{{actionDoc.value?.resultActionID}}</mat-hint> -->
                      </mat-form-field>
                      <div fxFlex="2"></div>
                      <mat-form-field fxFlex="16">
                        <mat-select placeholder="Format" formControlName="resultFormatID" name="df" [errorStateMatcher]="matcher" required>
                          <mat-option *ngFor="let df of docFormat" [value]="df.resultActionID">
                            {{df.resultAction}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="action.get('resultFormatID').hasError('required')">Format tidak boleh kosong</mat-error>
                      </mat-form-field>
                      <div fxFlex="2"></div>
                      <mat-form-field fxFlex="30">
                        <input matInput placeholder="Catatan" formControlName="note" >
                      </mat-form-field>
                      <div fxFlex="2"></div>
                      <button mat-icon-button color="warn" (click)="deleteActionValue(i)">
                        <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </mat-card>
              <button mat-raised-button color="primary" (click)="addActionValue()">Add</button>
            </div>

            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
              <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                Previous
              </button>
              <button mat-raised-button matStepperNext [disabled]="!formCtrlDoc.form.valid" type="button" color="accent">
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="horizontalStepperStepPayment">
          <form [formGroup]="horizontalStepperStepPayment" #formCtrlPay="ngForm">
            <ng-template matStepLabel>Payment</ng-template>
            <div>
              <p-tree #expandingTree [value]="summaryTest" [(selection)]="selectedFile3">
                <ng-template let-tes pTemplate="default">
                  <!-- <div>{{tes.testName}} - {{tes.testGroup}} - {{tes.testPrice | currency:'IDR':'symbol-narrow':'1.2-2'}}</div> -->
                  <div [ngStyle]="{'min-width': paymentTreeWidth}">
                    <b>{{tes.testCategoryName}}</b>
                  <div>
                    {{tes.testName}}
                    <span style="float: right;">
                    {{tes.testPrice | number}}
                    </span>
                    </div>
                  </div>
                </ng-template>
              </p-tree>
            </div>
            <!-- {{ formCtrlPay.form.value | json}} -->
            <!-- {{ formCtrlPay.form.status | json }} -->

            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <mat-icon>payment</mat-icon>
                </div>
                <mat-card-title>Pembayaran</mat-card-title>
              </mat-card-header>
              <div formArrayName="paymentViewModel">
                <div *ngFor="let payments of horizontalStepperStepPayment.controls.paymentViewModel['controls']; let i = index">
                  <div [formGroupName]="i">

                    <div fxFlex="20">
                  <!--<label style="font-size: 10px;">Pay by</label>
                    <ng-select [items]="payBys" bindLabel="payByName" bindValue="payById"
                      placeholder="Bayar dengan.." [typeahead]="typeahead" [addTag]="true"
                      formControlName="paymentByID" (add)="onAdd($event)" (click)="onfilledby($event)"
                      (change)="onChangeBys(i,$event)">
                      <ng-template ng-option-tmp let-item="item">
                        {{item.payByName}}
                      </ng-template>
                    </ng-select>
                  </div>
                  <div fxFlex="2"></div>
                  <div fxFlex="20">-->
                                      <!-- <mat-select placeholder="Pilih Card" formControlName="paymentCardID"
                        [disabled]="(
                  payments.controls.paymentBankID.value == 01 ||
                  payments.controls.paymentBankID.value == 14 ||
                  payments.controls.paymentBankID.value == 15)">-->

                      <label style="font-size: 10px;">Pay To</label>
                      <ng-select [items]="payBanks" bindLabel="payToName" bindValue="payToId"
                                 placeholder="Pilih bank" [typeahead]="typeahead" [addTag]="true"
                                 formControlName="payToId" (click)="onfilledBank($event)" (focus)="onfilledBank($event)"
                                 (change)="onChangeBanks(i,$event)">
                        <ng-template ng-option-tmp let-item="item">
                          {{item.payToName}}
                        </ng-template>
                      </ng-select>
                    </div>
                    <div fxFlex="2"></div>
                    <div fxFlex="20">
                      <label style="font-size: 10px;">Pay Card</label>
                      <ng-select [items]="payCards" bindLabel="payCardName" bindValue="payCardId"
                        placeholder="Pilih kartu" [typeahead]="typeahead" [addTag]="true" (click)="onfilledCard($event)"
                        (focus)="onfilledCard($event)" formControlName="payCardId">
                        <ng-template ng-option-tmp let-item="item">
                          {{item.payCardName}}
                        </ng-template>
                      </ng-select>
                    </div>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="10">
                      <input matInput placeholder="Nomor Kartu"
                        formControlName="paymentCardNO"
                        pattern="[0-9]*"
                        [readonly]="(payments.controls.payToId.value == 01 )"
                        [required]="!(payments.controls.payToId.value == 01)">


                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="10">
                      <input matInput
                             placeholder="Approval Code"
                             formControlName="paymentApprovalCode"
                      [readonly]="(payments.controls.payToId.value == 01 )"
                        [required]="!(payments.controls.payToId.value == 01)">

                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="10">
                      <input matInput
                      placeholder="Trace Code"
                      formControlName="paymentTraceCode"
                       [readonly]="(payments.controls.payToId.value == 01 )"
                        [required]="!(payments.controls.payToId.value == 01)">

                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="10" *ngIf="!clicked">
                      <input matInput placeholder="Payment"
                      formControlName="paidAmount"
                      id="payment"
                      minlength="2" 
                      maxlength="12"
                      (click)="clickchange()"
                      [value]="totalPayment | number"
                      appMycurrency
                      required >
                    </mat-form-field>
                    <mat-form-field fxFlex="10" *ngIf="clicked">
                      <input matInput placeholder="Payment"
                      formControlName="paidAmount"
                      id="payment"
                      minlength="2" 
                      maxlength="12"  (input)="paymentcek(i,$event.target.value,$event)"
                      appMycurrency
                      required >
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="10" *ngIf="!clicked">
                      <input matInput placeholder="Nominal"
                      formControlName="paymentNominal"
                      id="paymentNominal"
                      minlength="2"
                      maxlength="12"
                      (click)="clickchange()"
                      [value]="totalPayment | number"
                      appMycurrency
                      required>
                    </mat-form-field>
                    <mat-form-field fxFlex="10" *ngIf="clicked">
                      <input matInput placeholder="Nominal"
                      formControlName="paymentNominal"
                      id="paymentNominal"
                      minlength="2"
                      maxlength="12"
                      (input)="calculatePayment(i,$event.target.value,$event)"
                      appMycurrency
                      required>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <button mat-icon-button color="warn" (click)="deletePaymentValue(i)">
                      <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
            <button mat-raised-button color="primary" (click)="addPaymentValue()">Add</button>
            <br>
            <br>
            <div style="text-align: right;">
              <div>
                <mat-form-field fxFlex="100">
                  <form>
                  <input matInput placeholder="Jumlah nominal" name="totalPayment" currencyMask
                  [options]="{thousands:',', decimal: '', precision: '0', prefix: '', align: 'left'}"
                   [ngModel]="totalPayment" readonly/>
                  </form>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="Total yang harus dibayar" formControlName="paymentTotal" [ngModel]="paymentTotal" (ngModelChange)="paymentTotal=$event" currencyMask
                  [options]="{thousands:',', decimal: '', precision: '0', prefix: '', align: 'left'}"
                   id="paymentTotal" readonly/>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="Sisa Tanggungan" formControlName="paymentSisaTanggungan"
                   id="paymentSisaTanggungan" [ngModel]="paymentSisaTanggungan" (ngModelChange)="paymentSisaTanggungan=$event" currencyMask
                   [options]="{thousands:',', decimal: '', precision: '0', prefix: '', align: 'left'}" readonly/>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="Kelebihan Bayar" formControlName="paymentKelebihanBayar"
                   id="paymentKelebihanBayar"  currencyMask
                   [options]="{thousands:',', decimal: '', precision: '0', prefix: '', align: 'left'}" readonly/>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field fxFlex="100">
                  <textarea matInput placeholder="Catatan" formControlName="paymentNote"></textarea>
                </mat-form-field>
              </div>
              
            </div>
            
            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
              <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                Previous
              </button>
              <button mat-raised-button id="finish" [disabled]="!formCtrlPay.form.valid" type="button" color="accent"
               (click)="finishHorizontalStepper(data, stepper, Vstepper )">
              <!-- <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper(data)"> -->
                Finish
              </button>
              <button mat-raised-button [disabled]="!regNo" style="background-color:#4286f4;color: #fff;margin-left: 10px;" type="button" (click)="gotoBuktiPemeriksaan()">Bukti Pemeriksaan
              </button>
              <button mat-raised-button [disabled]="!regNo" style="background-color:#4286f4;color: #fff;margin-left: 10px;" type="button" (click)="gotoBuktiTagihan()">Bukti Tagihan</button>
              <button mat-raised-button [disabled]="!regNo" style="background-color:#4286f4;color: #fff;margin-left: 10px;" type="button" (click)="gotoKartuKontrol()">Kartu Kontrol Pelayanan</button>
              <!-- <h2 *ngIf="successMessage; else errorMessage" style="background-color: #4286f4; padding: 15px; color:#fff; border-radius: 25px;">Success !</h2>
              <ng-template #errorMessage style="background-color:darkred; padding: 15px; color:#fff; border-radius: 25px;">Error !</ng-template> -->
            </div>
            
            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
              <button mat-raised-button [disabled]="!regNo" style="background-color:#4286f4;color: #fff;margin-left: 10px;" type="button" (click)="gotoKwitansi()">Kwitansi</button>
              <button mat-raised-button [disabled]="!regNo" style="background-color:#4286f4;color: #fff;margin-left: 10px;" type="button" (click)="gotoNotaPembayaran()">Nota Pembayaran</button>
              <button mat-raised-button [disabled]="!regNo" style="background-color:#4286f4;color: #fff;margin-left: 10px;" type="button" (click)="gotoTandaTerima()">Tanda Terima Pembayaran</button>
            </div>
          </form>
        </mat-step>

      </mat-horizontal-stepper>
      <!-- / HORIZONTAL STEPPER EXAMPLE -->
      
    </div>
  </div>
  <!-- / CONTENT -->
</div>
