:host {

    .content {

        form {
            width: 100%;
            // max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}
example-container {
     display: flex;
     flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

textarea {
    resize: none;
}

.mat-column-no {
    flex: 0 0 35px !important;
    -ms-flex: 0 0 35px !important;
    -moz-flex: 0 0 35px !important;
    -webkit-flex: 0 0 35px !important;
}

.mat-column-test {
    flex: 0 0 300px !important;
    -ms-flex: 0 0 300px !important;
    -moz-flex: 0 0 300px !important;
    -webkit-flex: 0 0 300px !important;
}

// .mat-step-header .mat-step-icon {
//     background-color: #f44336 !important;
//     color: #f44336 !important;
// }


