#dashboard-project {

    mat-sidenav-container {

        .mat-drawer-content,
        .mat-sidenav-content {
            flex: 1 1 100%;
        }

        .center {

            > .header {
                height: 140px;
                min-height: 140px;
                max-height: 140px;

                .selected-project {
                    background: rgba(0, 0, 0, 0.12);
                    color: #FFFFFF;
                    padding: 8px 16px;
                    height: 40px;
                    line-height: 24px;
                    font-size: 16px;
                }

                .project-selector {
                    margin-left: 1px;
                    border-radius: 0;
                    background: rgba(0, 0, 0, 0.12);

                    mat-icon {
                        color: #FFFFFF;
                    }
                }
            }

            > .content {
                flex: 1;

                mat-tab-group {
                    height: 100%;

                    .mat-tab-body-wrapper {
                        flex-grow: 1;
                    }
                }

                .mat-tab-label-container {
                    padding: 0 24px;
                }
            }
        }

        .sidenav {
            width: 250px !important;
            min-width: 250px !important;
            max-width: 250px !important;
        }
    }
}
