#product {
  .header {
    .product-image {
      overflow: hidden;
      width: 56px;
      height: 56px;
      border: 3px solid rgba(0, 0, 0, 0.12);
      img {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }
    .subtitle {
      margin: 6px 0 0 0;
    }
  }
  .content {
    .tab-group {
      border: 1px solid #E8E8E8;
    }
    .demo-tab-content {
      padding-top: 16px;
      padding-left: 10px;
    }
    .mat-tab-group,
    .mat-tab-body-wrapper,
    .tab-content {
      flex: 1 1 auto;
      max-width: 100%;
    }
    .mat-tab-body-content {
      display: flex;
    }
    .mat-tab-label {
      height: 50px;
    }
    .product-image {
      overflow: hidden;
      width: 128px;
      height: 128px;
      margin-right: 16px;
      margin-bottom: 16px;
      border: 3px solid rgba(0, 0, 0, 0.12);
      img {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }
  }
  .mat-column-no {
    flex: 0 0 35px;
    -ms-flex: 0 0 35px;
    -moz-flex: 0 0 35px;
    -webkit-flex: 0 0 35px;
  }
  .mat-column-cito {
    flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    -moz-flex: 0 0 100px;
    -webkit-flex: 0 0 100px;
  }

  .mat-column-estVol {
    flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    -moz-flex: 0 0 100px;
    -webkit-flex: 0 0 100px;
  }
}

