<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Customer Relationship</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Registration List</span>
      </div>
      <div class="h1 mt-16">Registration List</div>
    </div>
  </div>
  <div class="course" class="page-layout blank p-24">
    <mat-input-container>

        <input matInput placeholder="Search lessons" #filter>

    </mat-input-container>

    <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">

        <mat-spinner></mat-spinner>

    </div> -->
    <div content-card mat-white-bg>

        <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource"
                matSort matSortActive="regno" matSortDirection="asc" matSortDisableClear>

            <ng-container>

                <mat-header-cell *matHeaderCellDef mat-sort-header>reg ID</mat-header-cell>

                <mat-cell *matCellDef="let register">{{register.regid}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="no">

                <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>

                <mat-cell *matCellDef="let register; let i=index">{{ i + 1 }}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="regno">

                <mat-header-cell *matHeaderCellDef mat-sort-header>reg NO</mat-header-cell>

                <mat-cell *matCellDef="let register">{{register.regNo}}</mat-cell>

            </ng-container>

            <!-- <ng-container matColumnDef="invno">

                <mat-header-cell *matHeaderCellDef mat-sort-header>Inv NO</mat-header-cell>

                <mat-cell *matCellDef="let register">{{register.invNo}}</mat-cell>

            </ng-container> -->

            <ng-container matColumnDef="patientno">

                <mat-header-cell *matHeaderCellDef>Pasien No.</mat-header-cell>

                <mat-cell class="description-cell"
                        *matCellDef="let register">{{register.patientNO}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="patientname">

                <mat-header-cell *matHeaderCellDef>Nama</mat-header-cell>

                <mat-cell class="description-cell"
                        *matCellDef="let register">{{register.patientName}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="patientgender">

                <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>

                <mat-cell class="description-cell"
                        *matCellDef="let register">{{register.patientGender}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="patientresult">

                <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>

                <mat-cell class="description-cell"
                        *matCellDef="let register">{{register.patientResult}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="regdate">

                <mat-header-cell *matHeaderCellDef>Reg Date</mat-header-cell>

                <mat-cell class="description-cell"
                        *matCellDef="let register">{{register.regDate}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="company">

                <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>

                <mat-cell class="description-cell"
                        *matCellDef="let register">{{register.company}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="cito">

                <mat-header-cell *matHeaderCellDef>Cito</mat-header-cell>

                <mat-cell class="description-cell"
                        *matCellDef="let register">{{register.cito}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="patientage">

                <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>

                <mat-cell class="description-cell"
                        *matCellDef="let register">{{register.patientAge}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="patientdob">

                <mat-header-cell *matHeaderCellDef>DOB</mat-header-cell>

                <mat-cell class="description-cell"
                        *matCellDef="let register">{{register.patientDOB}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="status">

                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>

                <mat-cell class="description-cell"
                        *matCellDef="let register">{{register.status}}</mat-cell>

            </ng-container>

            <!-- <ng-container matColumnDef="statusbayar">

                <mat-header-cell *matHeaderCellDef>Status Bayar</mat-header-cell>

                <mat-cell class="description-cell"
                        *matCellDef="let register">{{register.statusBayar}}</mat-cell>

            </ng-container>

            <ng-container>

                <mat-header-cell *matHeaderCellDef>Print</mat-header-cell>

                <mat-cell class="description-cell">
                  <button mat-raised-button color="accent">Print</button>
                </mat-cell>

            </ng-container> -->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let register; columns: displayedColumns"
                    [routerLink]="'/apps/cust/reg_list/'+ register.regid + '/' + register.regNo"
                    (click)="onRowClicked(register)">
            </mat-row>


        </mat-table>


        <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [pageSize]= "pageSize" [pageIndex]= "pageIndex" [length]="dataSource?.totalData" (page)="pageEvent = $event"></mat-paginator>

    </div>
  </div>
</div>
