<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-teal-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Specimen Lab</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Specimen Collection Non Lab</span>
      </div>
      <div class="h1 s-16">Specimen Collection Non Lab Detail</div>
      <div class="h3">
        Register No. : {{ regno }} <br> Register Date : {{ regdate }} <br> Pasien Name : {{ name }}
      </div>
    </div>
  </div>
  <div id="product" class="page-layout simple fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

      <!-- HEADER -->
      <div class="header black" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

          <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/specimen_non_lab/specimen_collection_nl'">
            <mat-icon>arrow_back</mat-icon> Back To Specimen Collection Lab Non Lab List
          </button>

        </div>

        <div align="center">
          <h2 *ngIf="successMessage" style="background-color: #4286f4; padding: 15px; color:#fff; border-radius: 25px;">Success !</h2>
          <h2 *ngIf="errorMessage" style="background-color:darkred; padding: 15px; color:#fff; border-radius: 25px;">Error !</h2>
        </div>

        <div align="right" style="padding-right: 5px;">
          <button mat-raised-button style="background-color:#4286f4;color: #fff" (click)="submitSpec(data)">Submit</button>
        </div>

        <!-- / APP TITLE -->
        <!-- <button mat-raised-button
                class="save-product-button mat-white-bg mt-16 mt-sm-0"
                [disabled]="productForm.invalid"
                *ngIf="pageType ==='new'" (click)="addProduct()">
            <span>ADD</span>
        </button>

        <button mat-raised-button
                class="save-product-button mat-white-bg mt-16 mt-sm-0"
                [disabled]="productForm.invalid || productForm.pristine"
                *ngIf="pageType ==='edit'" (click)="saveProduct()">
            <span>SAVE</span>
        </button> -->
      </div>
      <!-- / HEADER -->
      <!-- CONTENT CARD -->
      <div content-card mat-white-bg class="page-layout blank p-24">
        <mat-tab-group class="mat-elevation-z8" style="height: 100%; overflow: hidden;">
          <mat-tab label="Item">
            <div class="content-card grey-100-bg" style="padding: 16px; width: 70%;">
              <!-- <form [formGroup]="manyTest" #formCtrlTest="ngForm">
                <div formArrayName="testArray">
                  <div *ngFor="let test of manyTest.controls.testArray['controls']; let x = index">
                    <div [formGroupName]="x">
                      <mat-form-field fxFlex="30">
                        <input formControlName="testName" matInput placeholder="Test Name" style="text-transform: uppercase" readonly>
                      </mat-form-field>
                      <div fxFlex="5"></div>
                      <div fxFlex="5">
                        <label>Cito</label><br>
                        <mat-checkbox formControlName="cito" (change)="passcito(x,test)"></mat-checkbox>
                      </div>
                      <div fxFlex="5"></div>
                      <mat-form-field fxFlex="30">
                        <input formControlName="scheduleName" matInput placeholder="Schedule Name" style="text-transform: uppercase" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </form> -->
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceItem" matSort matSortActive="testName" matSortDirection="asc"
              matSortDisableClear>

              <ng-container matColumnDef="no">
                <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let item; let x=index">{{ x+1 }}</mat-cell>
              </ng-container>

              <!-- <ng-container matColumnDef="testID">
                <mat-header-cell *matHeaderCellDef>Test ID</mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let item">{{item.registerTestId}}</mat-cell>
              </ng-container> -->

              <ng-container matColumnDef="testName">
                <mat-header-cell *matHeaderCellDef>Test Name</mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let item">{{item.testName}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="cito">
                <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickcitos($event.checked)">Cito</mat-checkbox></mat-header-cell>
                <!-- <mat-cell class="description-cell" *matCellDef="let item">{{item.cito}}</mat-cell> -->
                <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let item; let a = index">
                  <mat-checkbox (change)="cito($event.checked, a)" [checked]="item.cito"></mat-checkbox>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="scheduleName">
                <mat-header-cell *matHeaderCellDef>Schedule Name</mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let item">{{item.scheduleName}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsItem"></mat-header-row>

              <mat-row *matRowDef="let item; columns: displayedColumnsItem">
              </mat-row>
            </mat-table>
            </div>
          </mat-tab>


        </mat-tab-group>

        <br>

        <mat-tab-group class="mat-elevation-z8" style="height: 100%; overflow: hidden;">

          <mat-tab label="Specimen Collection">
            <div class="content-card grey-100-bg" style="width: 150%; padding: 16px;">
              <!-- <form [formGroup]="drawReceive" #formCtrlDrawReceive="ngForm">
                <div formArrayName="drawReceiveArray">
                  <div *ngFor="let dr of drawReceive.controls.drawReceiveArray['controls']; let z = index">
                    <div [formGroupName]="z">
                      <div fxFlex="8">
                        <button mat-raised-button color="accent" (click)="sendData(dr)">Print</button>
                      </div>
                      <div fxFlex="1"></div>
                      <mat-form-field fxFlex="15">
                        <input formControlName="nama" matInput placeholder="Nama" style="text-transform: uppercase" readonly>
                      </mat-form-field>
                      <div fxFlex="1"></div>
                      <mat-form-field fxFlex="5">
                        <input formControlName="estVol" matInput placeholder="Est Vol" readonly>
                      </mat-form-field>
                      <div fxFlex="1"></div> -->
                      <!--<mat-form-field fxFlex="5">
                    <input formControlName="no" matInput placeholder="No" readonly>
                  </mat-form-field>-->
                      <!-- <div fxFlex="1"></div>
                  <mat-form-field fxFlex="5">
                    <input formControlName="bodySite" matInput placeholder="Body Site">
                  </mat-form-field>
                  <div fxFlex="1"></div>
                  <mat-form-field fxFlex="5">
                    <input formControlName="loCSite" matInput placeholder="Loc Site">
                  </mat-form-field>
                  <div fxFlex="1"></div>
                  <mat-form-field fxFlex="5">
                    <input formControlName="drawSite" matInput placeholder="Draw Site">
                  </mat-form-field> -->
                      <!-- <div fxFlex="1"></div>
                      <div fxFlex="5">
                        <label>Draw</label><br>
                        <mat-checkbox formControlName="draw" (click)="getClickDraw(dr, z)"></mat-checkbox>
                      </div>
                      <div fxFlex="1"></div>
                      <mat-form-field fxFlex="8">
                        <input formControlName="drawDate" matInput placeholder="Draw Date" readonly>
                      </mat-form-field>
                      <div fxFlex="1"></div>
                      <mat-form-field fxFlex="5">
                        <input formControlName="drawUser" [value]="dr.controls.drawUser.value" matInput placeholder="Draw User">
                      </mat-form-field>
                      <div fxFlex="1"></div>
                      <mat-form-field fxFlex="20"> -->
                        <!-- <input formControlName="condition" [value]="dr.controls.condition.value" matInput placeholder="Condition"> -->
                        <!-- <mat-select placeholder="Condition" formControlName="conditionId" name="sc" style="text-transform: uppercase">
                          <mat-option *ngFor="let sc of specCond" [value]="sc.specimenConditionId">
                            {{sc.specimenConditionName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field> -->
                      <!-- <div fxFlex="1"></div>
                  <mat-form-field fxFlex="4">
                    <input formControlName="specimenId" matInput placeholder="Specimen ID" readonly>
                  </mat-form-field> -->
                      <!-- <div fxFlex="1"></div>
                      <mat-form-field fxFlex="8">
                        <input formControlName="note" matInput placeholder="Note">
                      </mat-form-field>
                      <div fxFlex="1"></div>
                      <div fxFlex="5">
                        <label>Receive</label><br>
                        <mat-checkbox formControlName="received" (click)="getClickRec(dr, z)"></mat-checkbox>
                      </div>
                      <div fxFlex="1"></div>
                      <mat-form-field fxFlex="8">
                        <input formControlName="receiveDate" matInput placeholder="Receive Date" readonly>
                      </mat-form-field>
                      <div fxFlex="1"></div>
                      <mat-form-field fxFlex="8">
                        <input formControlName="receiveUser" [value]="dr.controls.receiveUser.value" matInput placeholder="Receive User" readonly>
                      </mat-form-field>
                      <div fxFlex="1"></div>
                    </div>
                  </div>
                </div>
              </form> -->
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSpc" matSort matSortActive="nama" matSortDirection="asc"
                matSortDisableClear>

                <ng-container>
                  <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc; let x=index">{{ x+1 }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">
                    <button mat-raised-button color="accent" [disabled]="clickPrint" onclick="printZPL();">Print</button>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nama">
                  <mat-header-cell *matHeaderCellDef>Specimen Name</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.nama}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="estVol">
                  <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.estVol}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="no">
                  <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.no}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="receive">
                  <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickdraws($event.checked)">Receive</mat-checkbox></mat-header-cell>
                  <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let spc; let a=index">
                    <mat-checkbox (change)="draw($event.checked, a)" [checked]="spc.draw"></mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="send">
                  <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickreceives($event.checked)">Send</mat-checkbox></mat-header-cell>
                  <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let spc; let a=index">
                    <mat-checkbox (change)="receive($event.checked, a)" [checked]="spc.received"></mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="condition">
                  <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc; let y=index">
                    <form>
                      <mat-form-field>
                        <!-- <mat-select placeholder=" " (change)="cond($event.value, y)">
                          <mat-option *ngFor="let sc of specCond" [value]="sc.specimenConditionId">
                            {{sc.specimenConditionName}}
                          </mat-option>
                        </mat-select> -->
                        <input matInput placeholder=" " (input)="cond($event.target.value, y)"/>
                      </mat-form-field>
                    </form>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="note">
                  <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc; let b=index">
                    <form>
                      <mat-form-field>
                        <input matInput (input)="note($event.target.value, b)"/>
                      </mat-form-field>
                    </form>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="receiveDate">
                  <mat-header-cell *matHeaderCellDef>Receive Date</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.drawDate}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="receiveUser">
                  <mat-header-cell *matHeaderCellDef>Receive User</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.drawUser}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="sendDate">
                  <mat-header-cell *matHeaderCellDef>Send Date</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.receiveDate}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="sendUser">
                  <mat-header-cell *matHeaderCellDef>Send User</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let spc">{{spc.receiveUser}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsSpc"></mat-header-row>

                <mat-row *matRowDef="let spc; columns: displayedColumnsSpc">
                </mat-row>
              </mat-table>
            </div>
          </mat-tab>

          <mat-tab label="Condition">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="question" matSortDirection="asc"
                         matSortDisableClear>

                <ng-container matColumnDef="question">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Question</mat-header-cell>
                  <mat-cell *matCellDef="let detCond">{{detCond.question}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="answer">
                  <mat-header-cell *matHeaderCellDef>Answer</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.answer}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="note">
                  <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.note}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let detCond; columns: displayedColumns">
                </mat-row>
              </mat-table>
            </div>
          </mat-tab>

          <mat-tab label="Patient Note">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                <form [formGroup]="patientNoteGroup" #formCtrlPatNote="ngForm">
                  <div>
                    <mat-form-field fxFlex="100">
                      <textarea matInput placeholder="Catatan pasien" formControlName="patientNote" matTextareaAutosize matAutosizeMinRows="2"
                                matAutosizeMaxRows="5" readonly></textarea>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Nama Pasien" formControlName="patientName" readonly>
                    </mat-form-field>
                    <!-- <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Date" formControlName="regDate" readonly>
                    </mat-form-field> -->
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Id Pasien" formControlName="patientId" readonly>
                    </mat-form-field>
                  </div>
                </form>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Physician Note">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                <form [formGroup]="physicianNoteGroup" #formCtrlPhyNote="ngForm">
                  <div>
                    <mat-form-field fxFlex="100">
                      <textarea matInput placeholder="Catatan Physician" formControlName="physicianNote" matTextareaAutosize matAutosizeMinRows="2"
                                matAutosizeMaxRows="5" readonly></textarea>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Physician" formControlName="physicianName" readonly>
                    </mat-form-field>
                    <!-- <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="User" readonly>
                    </mat-form-field>
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Date" formControlName="regDate" readonly>
                    </mat-form-field> -->

                  </div>
                </form>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Referral Note">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                <form [formGroup]="referralNoteGroup" #formCtrlRefNote="ngForm" style="padding: 10px;">
                  <div>
                    <mat-form-field fxFlex="100">
                      <textarea matInput placeholder="Catatan Referral" formControlName="referralNote" matTextareaAutosize matAutosizeMinRows="2"
                                matAutosizeMaxRows="5" readonly></textarea>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Company" formControlName="companyName" readonly>
                    </mat-form-field>
                    <!-- <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="User" readonly>
                    </mat-form-field>
                    <div fxFlex="5"></div>
                    <mat-form-field fxFlex="30">
                      <input matInput placeholder="Date" formControlName="regDate" readonly>
                    </mat-form-field> -->
                  </div>
                </form>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Lab Note">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
              <!-- <h3 mat-subHeader>Note History</h3>
          <div>
            <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceLabNote" matSort matSortActive="schedule" matSortDirection="asc"
              matSortDisableClear>

              <ng-container>

                  <mat-header-cell *matHeaderCellDef mat-sort-header>register Id</mat-header-cell>

                  <mat-cell *matCellDef="let noteLab">{{ noteLab.registerId}}</mat-cell>

              </ng-container>

              <ng-container matColumnDef="no">

                  <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>

                  <mat-cell *matCellDef="let noteLab; let i = index">{{ i + 1}}</mat-cell>

              </ng-container>

              <ng-container matColumnDef="note">

                <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>

                <mat-cell *matCellDef="let noteLab">{{noteLab.labNote}}</mat-cell>

              </ng-container>


              <ng-container matColumnDef="user">

                <mat-header-cell *matHeaderCellDef>User</mat-header-cell>

                <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.user}}</mat-cell>

              </ng-container>

              <ng-container matColumnDef="date">

                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>

                <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.date}}</mat-cell>

              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumnsNoteLab"></mat-header-row>

              <mat-row *matRowDef="let noteLab; columns: displayedColumnsNoteLab">
              </mat-row>

            </mat-table>
          </div>
          <mat-divider></mat-divider> -->
                <h3 mat-subHeader>Tambah Note</h3>
                <div>
                  <form [formGroup]="labNoteGroup" #formCtrlLabNote="ngForm">
                    <div formArrayName="labNotes">
                      <div *ngFor="let labnote of labNoteGroup.controls.labNotes['controls']; let i = index">
                        <div [formGroupName]="i">
                          <mat-form-field fxFlex="50">
                            <textarea matInput placeholder="Lab Note" formControlName="LabNote"></textarea>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="20">
                            <input matInput placeholder="User" formControlName="user" readonly>
                          </mat-form-field>
                          <!-- <div fxFlex="2"></div>
                      <mat-form-field fxFlex="20">
                        <input matInput placeholder="Date" formControlName="noteDate" >
                      </mat-form-field> -->
                          <!--<div fxFlex="2"></div>
                      <mat-form-field fxFlex="20">
                        <input matInput placeholder="Reg Id" formControlName="RegisterId" [value]="regid">
                      </mat-form-field>-->
                          <div fxFlex="2"></div>
                          <button mat-icon-button color="warn" (click)="deleteNoteValue(i)">
                            <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                    <button mat-raised-button color="primary" (click)="addNoteValue()">Add</button>
                  </form>

                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Schedule">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSch" matSort matSortActive="schedule" matSortDirection="asc"
                         matSortDisableClear>

                <ng-container matColumnDef="schedule">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Schedule</mat-header-cell>
                  <mat-cell *matCellDef="let detSch">{{detSch.schedule}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="test">
                  <mat-header-cell *matHeaderCellDef>Test</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.test}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="day">
                  <mat-header-cell *matHeaderCellDef>Day</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.day}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="time">
                  <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                  <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.time}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>

                <mat-row *matRowDef="let detSch; columns: displayedColumns2">
                </mat-row>
              </mat-table>
            </div>
          </mat-tab>

          <mat-tab label="Physician">
            <div class="content-card grey-100-bg" style="padding: 16px;">
              <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                <form [formGroup]="physicianGroup" #formCtrlRefNote="ngForm" style="padding: 10px;">
                  <div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="frontTitle" matInput placeholder="Gelar Depan" readonly />
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="doctorName" matInput placeholder="Doctor Name" readonly>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="endTitle" matInput placeholder="Gelar belakang" readonly>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="addressName" matInput placeholder="Address Name" readonly>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="addressLocation" matInput placeholder="Address Location" readonly>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="20">
                      <input formControlName="cityName" matInput placeholder="City Name" readonly>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field fxFlex="30">
                      <input formControlName="formTypeName" matInput placeholder="Form Type Name" readonly>
                    </mat-form-field>
                    <div fxFlex="2"></div>
                    <mat-form-field fxFlex="30">
                      <input formControlName="specialtyName" matInput placeholder="Specialty Name" readonly>
                    </mat-form-field>
                  </div>
                </form>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>

        <!-- / CONTENT -->

      </div>
      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
  </div>
</div>
