#product {

    .header {

        .product-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

    }
    .mat-column-process {
        flex: 0 0 100px;
        -ms-flex: 0 0 100px;
        -moz-flex: 0 0 100px;
        -webkit-flex: 0 0 100px;
    }

    .mat-column-processdate {
        flex: 0 0 150px;
        -ms-flex: 0 0 150px;
        -moz-flex: 0 0 150px;
        -webkit-flex: 0 0 150px;
    }
    .mat-column-schedule {
        flex: 0 0 150px;
        -ms-flex: 0 0 150px;
        -moz-flex: 0 0 150px;
        -webkit-flex: 0 0 150px;
    }

    .mat-column-priority {
        flex: 0 0 100px;
        -ms-flex: 0 0 100px;
        -moz-flex: 0 0 100px;
        -webkit-flex: 0 0 100px;
    }

    .mat-column-testname {
        flex: 0 0 300px;
        -ms-flex: 0 0 300px;
        -moz-flex: 0 0 300px;
        -webkit-flex: 0 0 300px;
    }
    .mat-column-testid {
        flex: 0 0 100px;
        -ms-flex: 0 0 100px;
        -moz-flex: 0 0 100px;
        -webkit-flex: 0 0 100px;
    }
    .mat-column-no {
        flex: 0 0 50px;
        -ms-flex: 0 0 50px;
        -moz-flex: 0 0 50px;
        -webkit-flex: 0 0 50px;
    }
    .mat-column-estvol {
        flex: 0 0 50px;
        -ms-flex: 0 0 50px;
        -moz-flex: 0 0 50px;
        -webkit-flex: 0 0 50px;
    }
    .mat-column-answer {
        flex: 0 0 100px;
        -ms-flex: 0 0 100px;
        -moz-flex: 0 0 100px;
        -webkit-flex: 0 0 100px;
    }
    .mat-column-resultComment {
        flex: 0 0 300px;
        -ms-flex: 0 0 300px;
        -moz-flex: 0 0 300px;
        -webkit-flex: 0 0 300px;
        padding: 10px;
    }

}
