<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Analysis Non Lab</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Result Non Lab</span>
      </div>
      <div class="h3 mt-10">
        Result Detail Non Lab
        <br>
        Nama : {{ createData?.patientName }}
        <br>
        Id : {{ createData?.patientID }}
        <br>
        Age : {{ age }}
      </div>
    </div>
  </div>
  <div id="product" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->

    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

      <!-- HEADER -->
      <div class="header black" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center" style="padding: 5px;">

          <button class="mr-0 mr-sm-16" mat-icon-button (click)="backToPasien(insid,methodId)">
            <mat-icon>arrow_back</mat-icon>Back To Result Pasien Non Lab List
          </button>

        </div>

        <div align="center">
          <h2 *ngIf="successMessage" style="background-color: #4286f4; padding: 15px; color:#fff; border-radius: 25px;">Success !</h2>
          <h2 *ngIf="errorMessage" style="background-color:darkred; padding: 15px; color:#fff; border-radius: 25px;">Error !</h2>
        </div>

        <div align="right" style="padding-right: 5px;">
          <button mat-raised-button style="background-color:#4286f4;color: #fff" (click)="submitRes(data)">Submit</button>
        </div>

        <!-- / APP TITLE -->

        <!-- <button mat-raised-button
                    class="save-product-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>SAVE</span>
            </button> -->
      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div content-card mat-white-bg class="page-layout blank p-24" >
        <mat-tab-group class="mat-elevation-z8">
            <mat-tab label="item">
                <div class="content-card grey-100-bg" style="width: 180%; padding: 16px;">
                    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceItem" matSort matSortActive="id" matSortDirection="asc"
                      matSortDisableClear>

                      <ng-container matColumnDef="testName">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Test Name</mat-header-cell>

                        <mat-cell *matCellDef="let item">{{item.testName}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="divider">

                          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
  
                          <mat-cell *matCellDef="let item"></mat-cell>
  
                      </ng-container>

                      <ng-container matColumnDef="divider1">

                          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
  
                          <mat-cell *matCellDef="let item"></mat-cell>
  
                      </ng-container>

                      <ng-container matColumnDef="result">

                        <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let item, let x = index;">
                          <form>
                            <mat-form-field>
                              <input matInput [value]="item.result"  (change)="result($event.target.value, x )" [ngClass]="{'high' : item.result > 20, 'middle' : item.result > 10 && item.result < 20, 'low' : item.result < 10 }"/>
                            </mat-form-field>
                          </form>
                        </mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="format">

                          <mat-header-cell *matHeaderCellDef>Format</mat-header-cell>
  
                          <mat-cell class="description-cell" *matCellDef="let item; let h = index;">  
                            <mat-form-field>
                              <mat-select placeholder="Pilih Format" (change)="format($event.value, h)">
                                <mat-option value="format1">Format 1</mat-option>
                                <mat-option value="format2">Format 2</mat-option>
                                <mat-option value="format3">Format 3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </mat-cell>
  
                        </ng-container>

                      <ng-container matColumnDef="resultComment">

                          <mat-header-cell *matHeaderCellDef>Result Comment</mat-header-cell>
  
                          <mat-cell class="description-cell" *matCellDef="let item; let y = index;">
                              <!-- <textarea [froalaEditor]="options" (change)="comment($event.target.value, y)"></textarea> -->
                              <ckeditor [config]="ckEditorConfig" (change)="comment($event, y)" [ngModel]="resComment"></ckeditor>
                              <!-- <textarea [froalaEditor]="options" ></textarea> -->
                          </mat-cell>
  
                      </ng-container>

                      <ng-container matColumnDef="unit">

                        <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let item">
                          {{item.unit}}
                        </mat-cell>

                      </ng-container>

                      

                      <ng-container matColumnDef="INP">

                        <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickAllInp($event.checked)">INP</mat-checkbox></mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">
                            <mat-checkbox [checked]="item.resultINP" (change)="inp($event.checked, e)"></mat-checkbox>
                          </mat-cell>
      
                      </ng-container>

                      <ng-container matColumnDef="reference">

                          <mat-header-cell *matHeaderCellDef>Reference</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.reference}}</mat-cell>
      
                      </ng-container>

                      <ng-container matColumnDef="printGroup">

                        <mat-header-cell *matHeaderCellDef>Print Group</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let item">{{item.printGroup}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="rawResult">

                          <mat-header-cell *matHeaderCellDef>Raw Result</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.rawResult}}</mat-cell>
      
                      </ng-container>

                      <ng-container matColumnDef="PRN">

                          <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickAllPrn($event.checked)">PRN</mat-checkbox></mat-header-cell>
      
                          <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let item; let d = index">
                            <mat-checkbox [checked]="item.prn" (change)="prn($event.checked, d)"></mat-checkbox>
                          </mat-cell>
      
                      </ng-container>

                      <ng-container matColumnDef="process">

                          <mat-header-cell *matHeaderCellDef>Proc</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">
                            <mat-checkbox [checked]="item.proc" disabled></mat-checkbox>
                          </mat-cell>
      
                      </ng-container>

                      <ng-container matColumnDef="inputDate">

                        <mat-header-cell *matHeaderCellDef>Input Date</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let item">{{item.inputDate}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="procDate">

                          <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>
  
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.procDate}}</mat-cell>
  
                      </ng-container>

                      <ng-container matColumnDef="cito">

                          <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
  
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.cito}}</mat-cell>
  
                      </ng-container>

                      <ng-container matColumnDef="schedule">

                          <mat-header-cell *matHeaderCellDef>Schedule</mat-header-cell>
  
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.schedule}}</mat-cell>
  
                      </ng-container>

                      <ng-container matColumnDef="scheduleDateTime">

                          <mat-header-cell *matHeaderCellDef>Schedule Date Time</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.scheduleDateTime}}</mat-cell>
      
                      </ng-container>

                      <ng-container matColumnDef="resultSI">

                          <mat-header-cell *matHeaderCellDef>Result SI</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.resultSI}}</mat-cell>
      
                      </ng-container>

                      <ng-container matColumnDef="interfacingFlag">

                          <mat-header-cell *matHeaderCellDef>Interfacing Flag</mat-header-cell>
      
                          <mat-cell class="description-cell" *matCellDef="let item">{{item.interfacingFlag}}</mat-cell>
      
                      </ng-container>

                      <ng-container matColumnDef="testid">

                          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      
                          <mat-cell *matCellDef="let item">{{item.testId}}</mat-cell>
      
                      </ng-container>


                      <mat-header-row *matHeaderRowDef="displayedColumnsItem"></mat-header-row>

                      <mat-row *matRowDef="let item; columns: displayedColumnsItem">
                      </mat-row>

                    </mat-table>
                  </div>
            </mat-tab>
            <mat-tab label="Tes">
                <div class="content-card grey-100-bg" style="width: 70%; padding: 16px;">
                    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceTest" matSort matSortActive="testid" matSortDirection="asc"
                      matSortDisableClear>

                      <ng-container matColumnDef="testid">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Test Id</mat-header-cell>

                        <mat-cell *matCellDef="let test">{{test.testId}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="testname">

                        <mat-header-cell *matHeaderCellDef>Test Name</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let test">{{test.testName}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="testmethod">

                        <mat-header-cell *matHeaderCellDef>Test Method</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let test">{{test.testMethod}}</mat-cell>

                      </ng-container>


                      <mat-header-row *matHeaderRowDef="displayedColumnsTest"></mat-header-row>

                      <mat-row *matRowDef="let test; columns: displayedColumnsTest">
                      </mat-row>

                    </mat-table>


                  </div>
            </mat-tab>
            <mat-tab label="Status">
                <div class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
                    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceStatus" matSort matSortActive="id" matSortDirection="asc"
                      matSortDisableClear>

                      <ng-container matColumnDef="id">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>

                        <mat-cell *matCellDef="let status">{{status.id}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="name">

                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let status">{{status.name }}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="result">

                        <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let status">{{status.result}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="result_comment">

                          <mat-header-cell *matHeaderCellDef>Result Comment</mat-header-cell>
  
                          <mat-cell class="description-cell" *matCellDef="let status">{{status.resultComment}}</mat-cell>
  
                      </ng-container>

                      <ng-container matColumnDef="auth">

                          <mat-header-cell *matHeaderCellDef>Auth</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let status">
                            <mat-checkbox [checked]="status.auth" disabled></mat-checkbox>
                          </mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="auth_date">

                          <mat-header-cell *matHeaderCellDef>Auth Date</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let status">{{status.authDate}}</mat-cell>

                      </ng-container>


                      <mat-header-row *matHeaderRowDef="displayedColumnsStatus"></mat-header-row>

                      <mat-row *matRowDef="let status; columns: displayedColumnsStatus">
                      </mat-row>

                    </mat-table>


                  </div>
            </mat-tab>
            <mat-tab label="List">
                <div class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
                    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceList" matSort matSortActive="regno" matSortDirection="asc"
                      matSortDisableClear>

                      <ng-container matColumnDef="regno">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Regno</mat-header-cell>

                        <mat-cell *matCellDef="let list">{{list.regno}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="result">

                        <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let list">{{list.result}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="resultinputdate">

                        <mat-header-cell *matHeaderCellDef>Result Input Date</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let list">{{list.resultInputDate}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="p">

                          <mat-header-cell *matHeaderCellDef>P</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let list">{{list.p}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="interfacingresult">

                          <mat-header-cell *matHeaderCellDef>Interfacing Result</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let list">{{list.interfacingresult}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="interfacingdate">

                          <mat-header-cell *matHeaderCellDef>Interfacing Date</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let list">{{list.interfacingdate}}</mat-cell>

                      </ng-container>


                      <mat-header-row *matHeaderRowDef="displayedColumnsList"></mat-header-row>

                      <mat-row *matRowDef="let list; columns: displayedColumnsList">
                      </mat-row>

                    </mat-table>


                  </div>
            </mat-tab>
            <mat-tab label="Img">
                <div class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
                    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceImg" matSort matSortActive="regno" matSortDirection="asc"
                      matSortDisableClear>

                      <ng-container matColumnDef="regno">

                        <mat-header-cell *matHeaderCellDef mat-sort-header>Regno</mat-header-cell>

                        <mat-cell *matCellDef="let img">{{img.regno}}</mat-cell>

                      </ng-container>


                      <ng-container matColumnDef="id">

                        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let img">{{img.id}}</mat-cell>

                      </ng-container>

                      <ng-container matColumnDef="name">

                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                        <mat-cell class="description-cell" *matCellDef="let img">{{img.name }}</mat-cell>

                      </ng-container>


                      <mat-header-row *matHeaderRowDef="displayedColumnsImg"></mat-header-row>

                      <mat-row *matRowDef="let img; columns: displayedColumnsImg">
                      </mat-row>

                    </mat-table>


                  </div>
            </mat-tab>
        </mat-tab-group>
        <br>
        <!-- CONTENT -->
        <mat-tab-group class="mat-elevation-z8">
          <mat-tab label="Status Test">
              <div class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceStatusTest" matSort matSortActive="id" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container >

                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>

                    <mat-cell *matCellDef="let sample">{{sample.id}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="name">

                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.name}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="result">

                    <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.result}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="result_comment">

                    <mat-header-cell *matHeaderCellDef>Result Comment</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample; let r = index;">
                      {{sample.resultComment}}
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="auth">

                    <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickAllAuth($event.checked)">Auth</mat-checkbox></mat-header-cell>

                    <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let sample; let f = index">
                      <mat-checkbox [checked]="sample.auth" (change)="auth($event.checked, f)"></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="authDate">

                    <mat-header-cell *matHeaderCellDef>Auth Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">
                      <input [value]="sample.authDate"/>
                    </mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsStatusTest"></mat-header-row>

                  <mat-row *matRowDef="let sample; columns: displayedColumnsStatusTest">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>

          <mat-tab label="Run">
              <div class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceRun" matSort matSortActive="id" matSortDirection="asc"
                  matSortDisableClear>


                  <ng-container matColumnDef="id" style="text-align: center;">

                    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.id}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="name">

                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.name }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="result">

                    <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.result}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="result_comment">

                    <mat-header-cell *matHeaderCellDef>Result Comment</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.resultComment}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="status">

                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.status }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="analyzer">

                    <mat-header-cell *matHeaderCellDef>Analyzer</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let run">{{run.analyzer }}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsRun"></mat-header-row>

                  <mat-row *matRowDef="let run; columns: displayedColumnsRun">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>

          <mat-tab label="Sample">
              <div class="content-card grey-100-bg" style="width: 100%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSample" matSort matSortActive="id" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container>

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Specimen Id</mat-header-cell>

                    <mat-cell *matCellDef="let sample">{{sample.specimenId}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="specimenName">

                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.specimenName}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="no">

                    <mat-header-cell *matHeaderCellDef>No</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.no}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="estvol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.estvol}}</mat-cell>

                  </ng-container>

                  <!-- <ng-container matColumnDef="vol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.vol}}</mat-cell>

                  </ng-container> -->

                  <ng-container matColumnDef="condition">

                    <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.condition}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">{{sample.note}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="process">

                    <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickAllProc($event.checked)">Process</mat-checkbox></mat-header-cell>

                    <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let sample; let k = index">
                      <mat-checkbox [checked]="sample.process" (change)="procSamp($event.checked, k)"></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processdate">

                    <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">
                      <input [value]="sample.processDate"/>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="send">

                    <mat-header-cell *matHeaderCellDef style="overflow: visible;"><mat-checkbox (change)="clickAllRe($event.checked)">Send</mat-checkbox></mat-header-cell>

                    <mat-cell style="overflow: visible;" class="description-cell" *matCellDef="let sample; let g = index;">
                      <mat-checkbox [checked]="sample.received" (change)="receiveSample($event.checked, g)"></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senddate">

                    <mat-header-cell *matHeaderCellDef>Send Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let sample">
                      <input [value]="sample.receivedDate"/>
                    </mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsSample"></mat-header-row>

                  <mat-row *matRowDef="let sample; columns: displayedColumnsSample">
                  </mat-row>

                </mat-table>
               
              </div>
          </mat-tab>
          <mat-tab label="Sample Handling">
              <div class="content-card grey-100-bg" style="width: 110%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSampleHandling" matSort matSortActive="name" matSortDirection="asc">
                  matSortDisableClear>


                  <ng-container matColumnDef="name" style="text-align: center;">

                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.nama }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="estvol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.estVol}}</mat-cell>

                  </ng-container>

                  <!-- <ng-container matColumnDef="vol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.vol}}</mat-cell>

                  </ng-container> -->

                  <ng-container matColumnDef="condition">

                    <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.condition }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.note }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="process">

                    <mat-header-cell *matHeaderCellDef>Process</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">
                      <mat-checkbox [checked]="samHan.process" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processdate">

                    <mat-header-cell *matHeaderCellDef>Process Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.processDate}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processuser">

                    <mat-header-cell *matHeaderCellDef>Process User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.processUser }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="samplehandlingid">

                    <mat-header-cell *matHeaderCellDef>Sample Handling Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let samHan">{{samHan.sampleHandlingId}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsSampleHandling"></mat-header-row>

                  <mat-row *matRowDef="let samHan; columns: displayedColumnsSampleHandling">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Specimen Handling">
              <div class="content-card grey-100-bg" style="width: 110%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" style="overflow: auto; width: 120%;" [dataSource]="dataSourceSpecimenHandling" matSort matSortActive="nama" matSortDirection="asc" >
                  matSortDisableClear>

                  <ng-container matColumnDef="nama">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>

                    <mat-cell *matCellDef="let specHand">{{specHand.nama }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="estvol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.estVol}}</mat-cell>

                  </ng-container>

                  <!-- <ng-container matColumnDef="vol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.vol}}</mat-cell>

                  </ng-container> -->

                  <ng-container matColumnDef="conditionid">

                    <mat-header-cell *matHeaderCellDef>Condition Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.conditionId}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="condition">

                    <mat-header-cell *matHeaderCellDef>Condition</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.condition }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.note }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="send">

                    <mat-header-cell *matHeaderCellDef>Receive</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">
                      <mat-checkbox [checked]="specHand.received" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senddate">

                    <mat-header-cell *matHeaderCellDef>Receive Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.receivedDate}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="process">

                    <mat-header-cell *matHeaderCellDef>Send</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">
                      <mat-checkbox [checked]="specHand.process" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processdate">

                    <mat-header-cell *matHeaderCellDef>Send Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.processDate}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senduser">

                    <mat-header-cell *matHeaderCellDef>Receive User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.receiveUser }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="processuser">

                    <mat-header-cell *matHeaderCellDef>Send User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specHand">{{specHand.processUser }}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsSpecimenHandling"></mat-header-row>

                  <mat-row *matRowDef="let specHand; columns: displayedColumnsSpecimenHandling">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Specimen Collection">
              <div class="content-card grey-100-bg" style="width: 110%; padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" style="overflow: auto; width: 120%;" [dataSource]="dataSourceSpecimenCollection" matSort matSortActive="nama" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="nama">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nama</mat-header-cell>

                    <mat-cell *matCellDef="let specCol">{{specCol.nama }}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="estvol">

                    <mat-header-cell *matHeaderCellDef>Vol</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.estVol}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="receiveuser">

                    <mat-header-cell *matHeaderCellDef>Receive User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.drawUser}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="receive">

                    <mat-header-cell *matHeaderCellDef>Receive</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">
                      <mat-checkbox [checked]="specCol.draw" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="specimenid">

                    <mat-header-cell *matHeaderCellDef>Specimen Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.specimenId}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="conditionid">

                    <mat-header-cell *matHeaderCellDef>Condition Id</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.conditionId}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.note}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="send">

                    <mat-header-cell *matHeaderCellDef>Send</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">
                      <mat-checkbox [checked]="specCol.received" disabled></mat-checkbox>
                    </mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senddate">

                    <mat-header-cell *matHeaderCellDef>Send Date</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.receiveDate}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="senduser">

                    <mat-header-cell *matHeaderCellDef>Send User</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let specCol">{{specCol.receiveUser }}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumnsSpecimenCollection"></mat-header-row>

                  <mat-row *matRowDef="let specCol; columns: displayedColumnsSpecimenCollection">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Condition">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="question" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="question">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Question</mat-header-cell>

                    <mat-cell *matCellDef="let detCond">{{detCond.question}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="answer">

                    <mat-header-cell *matHeaderCellDef>Answer</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.answer}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="note">

                    <mat-header-cell *matHeaderCellDef>Note</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detCond">{{detCond.note}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                  <mat-row *matRowDef="let detCond; columns: displayedColumns">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Patient Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <form style="padding: 10px;">
                      <div>
                        <mat-form-field fxFlex="100">
                          <textarea matInput placeholder="Catatan pasien" [value]="createData?.patientNote" readonly></textarea>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field fxFlex="30">
                          <input matInput placeholder="Nama pasien" [value]="createData?.patientName" readonly>
                        </mat-form-field>
                        <!-- <div fxFlex="5"></div>
                        <mat-form-field fxFlex="30">
                          <input matInput placeholder="Date" [value]="createData?.regDate" readonly>
                        </mat-form-field> -->
                        <div fxFlex="5"></div>
                        <mat-form-field fxFlex="30">
                          <input matInput placeholder="Id Pasien" [value]="createData?.patientID" readonly>
                        </mat-form-field>
                      </div>
                    </form>
                  </div>
              </div>
          </mat-tab>
          <mat-tab label="Physician Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <form style="padding: 10px;">
                      <div>
                        <mat-form-field fxFlex="100">
                          <textarea matInput placeholder="Catatan Physician" [value]="createData?.doctornote" readonly></textarea>
                        </mat-form-field>
                      </div>
                      <div>
                          <mat-form-field fxFlex="30">
                              <input matInput placeholder="Physician" [value]="createData?.doctorName" readonly>
                          </mat-form-field>
                          <!-- <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="User" readonly>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="Date" [value]="createData?.regDate" readonly>
                          </mat-form-field> -->

                      </div>
                    </form>
                  </div>
              </div>
          </mat-tab>
          <mat-tab label="Referral Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <form  style="padding: 10px;">
                      <div>
                        <mat-form-field fxFlex="100">
                          <textarea matInput placeholder="Catatan Referral" [value]="createData?.referalNote"></textarea>
                        </mat-form-field>
                      </div>
                      <div>
                          <mat-form-field fxFlex="30">
                              <input matInput placeholder="Company" [value]="createData?.referalCompanyName" readonly>
                          </mat-form-field>
                          <!-- <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="User" readonly>
                          </mat-form-field>
                          <div fxFlex="5"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="Date" [value]="createData?.regDate" readonly>
                          </mat-form-field> -->

                      </div>
                    </form>
                  </div>
              </div>
          </mat-tab>
          <mat-tab label="Lab Note">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
                    <h3 mat-subHeader>Note History</h3>
                    <div>
                      <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceLabNote" matSort matSortActive="schedule" matSortDirection="asc"
                        matSortDisableClear>

                        <ng-container>

                          <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>

                          <mat-cell *matCellDef="let noteLab">{{ noteLab.registerId }}</mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="no">

                            <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>

                            <mat-cell *matCellDef="let noteLab; let i = index">{{ i + 1}}</mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="note">

                          <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>

                          <mat-cell *matCellDef="let noteLab">{{noteLab.labNote}}</mat-cell>

                        </ng-container>


                        <ng-container matColumnDef="user">

                          <mat-header-cell *matHeaderCellDef>User</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.user}}</mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="date">

                          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>

                          <mat-cell class="description-cell" *matCellDef="let noteLab">{{noteLab.date}}</mat-cell>

                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumnsNoteLab"></mat-header-row>

                        <mat-row *matRowDef="let noteLab; columns: displayedColumnsNoteLab">
                        </mat-row>

                      </mat-table>
                    </div>
                    <mat-divider></mat-divider>
                    <h3 mat-subHeader>Tambah Note</h3>
                    <div>
                      <form [formGroup]="labNoteGroup" #formCtrlLabNote="ngForm">
                          <div formArrayName="labNotes">
                              <div *ngFor="let labnote of labNoteGroup.controls.labNotes['controls']; let i = index">
                                <div [formGroupName]="i">
                                  <mat-form-field fxFlex="50">
                                    <textarea matInput placeholder="Lab Note" formControlName="LabNote"></textarea>
                                  </mat-form-field>
                                  <div fxFlex="5"></div>
                                  <div fxFlex="5"></div>
                                  <mat-form-field fxFlex="20">
                                    <input matInput placeholder="User" formControlName="user" readonly>
                                  </mat-form-field>
                                  <!-- <div fxFlex="2"></div>
                                  <mat-form-field fxFlex="20">
                                    <input matInput placeholder="Register Id" formControlName="RegisterId" >
                                  </mat-form-field> -->
                                  <div fxFlex="2"></div>
                                  <button mat-icon-button color="warn" (click)="deleteNoteValue(i)">
                                    <mat-icon color="warn" style="line-height: 50px !important;">delete</mat-icon>
                                  </button>
                                </div>
                              </div>
                          </div>
                          <button mat-raised-button color="primary" (click)="addNoteValue()">Add</button>
                      </form>
                      
                    </div>
                  </div>
            </div>
          </mat-tab>
          <mat-tab label="Schedule">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceSch" matSort matSortActive="schedule" matSortDirection="asc"
                  matSortDisableClear>

                  <ng-container matColumnDef="schedule">

                    <mat-header-cell *matHeaderCellDef mat-sort-header>Schedule</mat-header-cell>

                    <mat-cell *matCellDef="let detSch">{{detSch.schedule}}</mat-cell>

                  </ng-container>


                  <ng-container matColumnDef="test">

                    <mat-header-cell *matHeaderCellDef>Test</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.test}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="day">

                    <mat-header-cell *matHeaderCellDef>Day</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.day}}</mat-cell>

                  </ng-container>

                  <ng-container matColumnDef="time">

                    <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>

                    <mat-cell class="description-cell" *matCellDef="let detSch">{{detSch.time}}</mat-cell>

                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>

                  <mat-row *matRowDef="let detSch; columns: displayedColumns2">
                  </mat-row>

                </mat-table>
              </div>
          </mat-tab>
          <mat-tab label="Physician">
              <div class="content-card grey-100-bg" style="padding: 16px;">
                  <div class="fuse-widget mat-white-bg mat-elevation-z2" style="padding: 10px;">
              <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSourceDoctor" matSort matSortActive="doctorname" matSortDirection="asc"
                matSortDisableClear>

                <ng-container matColumnDef="doctorname">

                  <mat-header-cell *matHeaderCellDef mat-sort-header>Doctor Name</mat-header-cell>

                  <mat-cell *matCellDef="let doctor">{{doctor.doctorName}}</mat-cell>

                </ng-container>


                <ng-container matColumnDef="addressname">

                  <mat-header-cell *matHeaderCellDef>Address Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.addressName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="addressloc">

                  <mat-header-cell *matHeaderCellDef>Address Location</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.addressLocation}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="cityname">

                  <mat-header-cell *matHeaderCellDef>City Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.cityName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="formtypename">

                  <mat-header-cell *matHeaderCellDef>Form Type</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.formTypeName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="specialityname">

                  <mat-header-cell *matHeaderCellDef>Speciality Name</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.specialityName}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="doctoraddressid">

                  <mat-header-cell *matHeaderCellDef>Doctor Address Id</mat-header-cell>

                  <mat-cell class="description-cell" *matCellDef="let doctor">{{doctor.doctorAddressId}}</mat-cell>

                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsDoctor"></mat-header-row>

                <mat-row *matRowDef="let doctor; columns: displayedColumnsDoctor">
                </mat-row>

              </mat-table> -->
                    <form style="padding: 10px;">
                        <div>
                          <mat-form-field fxFlex="20">
                            <input matInput placeholder="gelar depan" [value]="doctor?.frontTitle" readonly/>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input matInput placeholder="Nama Dokter" [value]="doctor?.doctorName" readonly/>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input matInput placeholder="gelar belakang" [value]="doctor?.endTitle" readonly/>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field fxFlex="20">
                            <input matInput placeholder="Nama Alamat" [value]="doctor?.addressName" readonly/>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input matInput placeholder="Lokasi" [value]="doctor?.addressLocation" readonly/>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="20">
                            <input matInput placeholder="Kota" [value]="doctor?.cityName" readonly/>
                          </mat-form-field>
                        </div>
                        <div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="Form" [value]="doctor?.formTypeName" readonly/>
                          </mat-form-field>
                          <div fxFlex="2"></div>
                          <mat-form-field fxFlex="30">
                            <input matInput placeholder="Speciality" [value]="doctor?.specialtyName" readonly/>
                          </mat-form-field>
                        </div>
                        <!-- <div>
                        <mat-form-field fxFlex="50">
                          <input matInput placeholder="Id Alamat" [value]="doctor?.doctorAddressId"/>
                        </mat-form-field>
                      </div> -->
                    </form>
                  </div>
              </div>
          </mat-tab>
        </mat-tab-group>
        <!-- / CONTENT -->



      </div>
      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
  </div>
</div>
