<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-red-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="white-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-16">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Master</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Master Schedule Result</span>
      </div>
      <div class="h1 mt-16">Master Schedule Result</div>
    </div>
  </div>
  <div class="course" class="page-layout blank p-24" fusePerfectScrollbar>

  </div>
</div>
